
.noDisc li{
    list-style-type:none !important;
}
.noDisc label{
    margin-right:10px;
}
html #sidebarDiv .brandPrimaryFgr{
    color:#333333!important;
}

html .brandPrimaryBrd2 {
    border-color: #333333!important;
}

html #sidebarDiv .brandPrimaryBgr {
    background-color: #E4DFCB!important;
}
.customButton .customButtonGreen {
    text-decoration:none !important;
}
body {
    font-size: 14px;
    color: #333333;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
#sidebarDiv .menuButton {
    width: 200px;
    height: 25px;
    margin-left: 2px;
    padding: 0;
    background: none;
}

#sidebarDiv .menuButtonButton {
    width:200px;
    border: 1px solid #333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
}

#sidebarDiv .sidebarModuleHeader h2{
    font-size:14px;
    background:none;
    font-weight: bold;
    color:#333333;
    margin: 0 0 0 0;
}

#sidebarDiv .sidebarModule .sidebarModuleBodyNoHeader {
    background: #fff;
    border: none;
}
 .sidebarModuleHeader {
    background-color:#E4DFCB;
    background:none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color:#333333;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #333;

    
}

#sidebarDiv .sidebarModuleBody {
     margin: 0px;
     padding:5px;
     border-left: 1px solid #333333;
     border-bottom: 1px solid #333333;
     border-right: 1px solid #333333;
     border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px;
     background-color:#EFEFEF;
}

.carpolBS .panel-success > .panel-heading{
    background-color: #006600;
    color:#ffffff;
    border-color: #333333;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
}
.carpolBS .panel-default > .panel-heading {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;

}
.panel-title h3 {
    text-align:left;
}
#sidebarDiv .sidebarModule .sidebarModuleBody{
    background:none; 
    background-color:#efefef;

}
div.sidebarModule .htmlAreaComponentModule{
    display:none!important;
}
.buttonDiv div {
    float:left;
    
}
.btn.btn-success:hover{
    color: #333333;
    background-color: #efefef;
    border-color: #8BB830;
}
.btn.btn-success{
    background-color:#006600;
    border-color: #8BB830;
}
.panel-body{
    background-color:#e5efe5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.carpolBS .panel-default {
    border-color: #333333;
}
.carpolBS .panel-success {
   border:1px solid #333333;
}
.carpolBS .table-bordered {
    border: 1px solid #CAC8C8;
}
.carpolBS .table-bordered th {
    background-color: #B9B5A9;
}
.carpolBS .table-bordered tr {
    background-color: #f7f7f7;
}
.carpolBS .well {
    background-color: #f7f7f7;
    border: 1px solid #cac8c8;
}
.btnDiv{
    float:left;
    margin-bottom:20px;
}
