.noDisc ul{
    list-style-type:none !important;
}


.rich-tab-bottom-line {
    border: none !important;
}
.activeTab 
{
    background-color: #006600;
    color:#FFFFFF;
    background-image:none;
    Border-radius:3px;
    Border-width: 0px;
    Padding: 10px;
    Text-align: center
}
.inactiveTab 
{
    background-color: #003300;
    color:#fff;
    background-image:none;
    Border-radius:3px;
    Border-width: 0px;
    Padding: 10px;
    Text-align: center
}

body {
    font-size: 14px;
    color: #333333;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.panel > .panel-heading {
    background-image: none;
    background-color: #006600;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none;
  background-color: #006600;
  border-color: #006600;
  color: white;
 }
 
 .btn btn-default: {
     color: white !important;
 }
 
 .customButton{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    margin-right:28px;
 }
  .customButtonGreen:hover,.customButtonBlue:hover{
    color: #333333 !important; 
    background-color: #e6e6e6 !important;
    border-color: #8BB830 !important;

 }

.customButtonGreen {
 background-image: none !important;
 background-color: #006600  !important;
 border-color: #006600  !important;
 color: #ffffff !important;
}
.customButtonBlue {
 background-image: none !important;
 background-color: #003E69   !important;
 border-color: #003E69   !important;
 color: #ffffff !important;
}
.panel a{
  text-decoration:none !important;
  
}

.panel-heading a:hover{
   color: white;
   text-shadow: 1px 1px 25px white; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
   font-weight:bold;
}

.buttonDiv{
  border-top:none;
  text-align:left;
  margin-left:11%;
  margin-right:11%
}
.messageDiv{
  border-top:none;
  text-align:left;
  margin-left:11%;
  margin-right:11%
}

.panel-body{
    background-color:#e5efe5 !important;
    /*border-top:1px solid #333333 !important;*/
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.panel.panel-default {
    /*border:1px solid #333333 !important;*/
}
.rich-tab-header {
    font-size: 14px;
}
.highlight{
    background-color:yellow;
    width:100%;
}

.rich-tabpanel-content {
     background-color: #fff; 
    color: #000;
    border: none;
    font-size: 14px;
    /*font-family: Arial,Verdana,sans-serif;*/
}
.pbBody, .pbBody a, .pbBody td, .lbBody a, .lbBodyDescription, .list .headerRow .noRowsHeader {
    color: #333;
}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #efefef;
    border-bottom: 1px solid #B9B5A9;
    border-left: 1px solid #B9B5A9;
    border-right: 1px solid #B9B5A9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
}
.rich-tabhdr-side-cell {
    border:none;
}

.panel-success{
    border-color:#333;
    
}
.feedcontainer .feeditem {
    border-top: 1px solid #EFEFEF;
}
.rich-tabhdr-side-border {
    background-image: none;
}
