body {
    font-size: 14px;
    color: #333333;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.dateOnlyInput input {
    width: 70%;
}
/* lookup field ovveride */
.lookupInput a {
    display:block;
    position:absolute;
    top:0px;
}
.lookupInput img {
    float: right;
}
span.lookupInput {
    position:relative;
    display:inherit;
}
.lookupInput a, .lookupInput a{
    border:none !important;
    background: none !important;
}
.sidebarContentModule label{
    margin:0px;
}

/*end lookup field override*/
.sidebarContentModule{
    margin-top:10px;
    margin-bottom:10px;
}
.sidebarContentHeader h2{
    font-size: 14px;
    font-weight:bold;
    
}

.sidebarContentHeader {
    font-size: 14px;
    width:100%;
    height:25px;
    background-color:#e4dfcb;
    color: #333333;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #333;
    border-bottom: none;
    padding:3px;
    font-weight:bold;
}

.sidebarContentBody {
    font-size: 14px;
    width:100%;
    height:auto;
    background-color:#efefef;
    color: #333333;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #333;
    padding:5px;
    line-height:1.4em;
}
.sidebarContentBody ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.sidebarContentBody ul li{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.sidebarContentBody a{
    margin-right: 0px;
    
    
}
.newLineItemBtnDiv a{
    text-decoration:none !important;
    margin-top:5px;
    margin-bottom:5px;
}
.panel > .panel-heading {
    background-image: none;
    background-color: #006600;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none;
  background-color: #006600;
  border-color: #006600;
  color: white;
 }
 
 .btn btn-default: {
     color: white !important;
 }
 
 .customButton{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    margin-right:28px;
 }
  .customButtonGreen:hover,.customButtonBlue:hover{
    color: #333333 !important; 
    background-color: #e6e6e6 !important;
    border-color: #8BB830 !important;

 }

.customButtonGreen {
 background-image: none !important;
 background-color: #006600  !important;
 border-color: #006600  !important;
 color: #ffffff !important;
}
.customButtonBlue {
 background-image: none !important;
 background-color: #003E69   !important;
 border-color: #003E69   !important;
 color: #ffffff !important;
}
.panel a{
  text-decoration:none !important;
  
}

.panel-heading a:hover{
   color: white;
   text-shadow: 1px 1px 25px white; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
   font-weight:bold;
}

.buttonDiv{
  border-top:none;
  text-align:left;
  margin-left:11%;
  margin-right:11%
}
.messageDiv{
  border-top:none;
  text-align:left;
  margin-left:11%;
  margin-right:11%
}

.panel-body{
    background-color:#e5efe5 !important;
    border-top:1px solid #333333 !important;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.panel.panel-default {
    border:1px solid #333333 !important;
}
#panel-1, #panel-2, #panel-3, #panel-4,#panel-5, #panel-doc1, #panel-doc2 {
     margin-top: 5px;     
}
.highlight{
    background-color:yellow;
    width:100%;
}
[class*='col-'] {
  float: left;
}
.col-2-3 {
  width: 50%;
}
.col-1-3 {
  width: 50%;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='col-'] {
  padding-right: 20px;
}
.vfHelpText a            {position:relative;}
.vfHelpText a span       {display: none;}
.vfHelpText a:hover span {display: block;
                          position:absolute;
                          top:1.25em;
                          padding:2px 5px;
                          left:-15em; width:15em;
                          z-index:100;
                          border:1px solid orange;
                          background-color:#FEFDB9;
                          color:black;
}
tr.multiSelectPicklistRow td select.form-control{
    width:180px !important;
}
.photoPanelBtn{
    margin-top:10px;
}
.btn-next{
    float:right !important;
}
.popupBackground{
        background-color:black;
        border-radius:5px;
        opacity: 0.20;
        filter: alpha(opacity = 20);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9998;
    }
    .popupHeader{
         Background-color:   #333333;
         color: #FFFFFF;
         
     }    
    .custPopup{
        background-color: #B9B5A9;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        border-color: #333333;
        z-index: 9999;
        left: 50%;
        padding:10px;
        position: absolute;
        width: 500px;
        margin-left: -250px;
        top:100px;
    }