body{
  background-color:#E5EFE5;
}
.container{
  background-color:#ffffff;
  padding:0px 20px 0px 20px;
}

.aphisLogo{
  margin-top:20px;
  margin-bottom:15px;
}
.usdaLogo{
  margin-right:15px;
}
.navbar{
  margin-bottom:0px;
}

#navbar{
  padding-top:20px;
  margin-top: 6px;
  margin-bottom:20px;
  border-bottom:4px solid #006600;
}

.navbar-default{
  background-color:#E5EFE5;
  border-bottom:none;
}
.lead{
  margin-left:6%;
  margin-right:6%;
}
.page-header{
  margin-left:6%;
  margin-right:6%;
}
#options{
  margin-left:11%;
  margin-right:11%;
}
.row{
  margin-left:11%;
  margin-right:11%;
}
.alert{
  margin-left:12%;
  margin-right:12%;
}
.modal-footer{
  border-top:none;
  text-align:left;
  margin-left:11%;
  margin-right:11%
}
.table{
  margin-bottom:0px;
}
.answerTrace{
  padding-top:20px;
  border-top: 4px solid #006600;
}
.tableBox{
  margin-bottom:20px;
  height:auto;
  border-radius:5px;
  border: 15px solid #E5EFE5;
}
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
  border: 1px solid #8BB830;
}
th{
  background-color:#006600;
  color:white;
}
td{
  background-color:#ffffff;
}
.btn.btn-xs.btn-default{
background-color:#E5EFE5;
color:#333333;
}
.form-control.multiselect{
height:75px;
}
.mainTitle{
margin-left:61%

}
.modal-footer .btn+.btn {
    margin-left: 0px;
    margin-bottom: 0;
}
.modal-footer .btn-default {
    margin-right:28px;
}
.btn.btn-default.exitButton1:hover{
color: #333333;
    background-color: #e6e6e6;
    border-color: #8BB830;
}

.btn.btn-default{
border: 1px solid #8BB830;
}

.btn.btn-default.exitButton{
background-color:#E5EFE5;
color:#333333;
border: 1px solid #333333;
}

.btn.btn-default.exitButton1{
background-color:#003e69;
color:#ffffff;
border: 1px solid #003e69;
}

.footer .container{
margin-top:20px;
margin-bottom:20px;
background-color:#E5EFE5;
border-top: solid 1px #006600;
padding:20px 0px 20px 0px ;

}
a{
color: #003E69 ;
}
.alert-info{
color:#333333;
}
.terminalButtons{
margin-left: 28px;
}
.loading {
    position:absolute;
    left: 0px;
    top: 100px;
    z-index:1000;
}
.btn .btn-default .btn-lg {
 background-image: none;
 background-color: #006600 ;
 border-color: #006600 ;
 color: white;
}

