.sidebarContentModule{
    margin-top:10px;
    margin-bottom:10px;
}
.sidebarContentHeader h2{
    font-size: 14px;
    font-weight:bold;
    
}

.sidebarContentHeader {
    font-size: 14px;
    width:100%;
    height:25px;
    background-color:#e4dfcb;
    color: #333333;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #333;
    border-bottom: none;
    padding:3px;
    font-weight:bold;
}

.sidebarContentBody {
    font-size: 14px;
    width:100%;
    height:auto;
    background-color:#efefef;
    color: #333333;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #333;
    padding:5px;
    line-height:1.4em;
}
.sidebarContentBody ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.sidebarContentBody ul li{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.sidebarContentBody a{
    margin-right: 0px;
    
    
}

.newLineItemBtnDiv a, .wizLauncherBtnDiv a, .lineItemDetailActionDiv a, #returnToLineItem input{
    text-decoration:none !important;
    margin-top:5px;
    margin-bottom:5px;
}
.sidebarContentModule label{
    margin:0px;
}
