<apex:component selfClosing="false">
    <!--@Author: Justin Floyd-->
    <!--@Create Date: June 15, 2016-->
    <!--@Purose: The purpose of this component is to simplify created a table action column. -->
    <!--    This will custom component will add the appropriate styling and formating also will add the glyphicons in their appropriate location. -->
    <apex:attribute name="deleteValue" type="String" description=" delete path or formula expression that will go in the href of the anchor tag" required="false"/>
    <apex:attribute name="editValue" type="String" description="edit path or formula expression that will go in the href of the anchor tag" required="false"/>
    <span class="actionColumn">
        <a href="{!editValue}"  value="{!editValue}" title="Edit" rendered="{!IF(editValue != null,'true','false')}"> <c:glyph icon="edit"/> </a>
        <apex:componentBody />
    </span>
</apex:component>