<apex:component >
    <apex:attribute type="string" name="message" description=" alert message" />
    <apex:attribute type="string" name="alertType" description="determines the type of message, warning, error, or infor " default="info"/>
    <apex:attribute type="boolean" name="isError" description="is it an error message "/>
    <apex:attribute type="boolean" name="isSaved" description="is it an save message "/>

        <p class="small-text {!alertType}-msg">
                         {!message}
                         <apex:componentBody />
            </p>



<script>
    var errorMsgDiv = $('div.message.errorM3');
    var msgDiv = $('div.message');
    var msgH4 = $('div.messageText span h4');
    var label =  msgH4.text();
    if(label == 'Error:'){
        msgH4.addClass('glyphicon glyphicon-warning-sign');
        msgH4.attr('style', 'font-weight:bold;  padding-right:5px;');
    }
    if(label == 'Success:'){
        msgH4.addClass('glyphicon glyphicon-ok');
        msgH4.attr('style', 'font-weight:bold; color:#3c763d; padding-right:5px;');
    }
    var message = $('div.messageText').text();

    var newMessage = $('p.small-text.{!alertType}-msg');

    errorMsgDiv.appendTo(newMessage);
    try{
            msgDiv.appendTo(newMessage);

    }catch(e){
        console.log(e);

    }
    if( message == '') {
        newMessage.removeClass('{!alertType}-msg');
    }
</script>

</apex:component>