<apex:component >
<ol class="breadcrumb">
                                    <li><a href="#">My Settings</a></li>
                                    <li class="active"><a>Location Settings</a></li>
                                </ol>
</apex:component>