<apex:component access="global">

    <table width="100%">
         <tr>
             <!-- td colspan="2" align="left"><apex:image url="{!URLFOR($Resource.APHISLogo)}" width="200" height="60"/></td -->
            <!-- td colspan="2" align="right"><apex:image url="{!URLFOR($Resource.Plant_Protection_Logo)}" width="180" height="60"/></td --> 
<td align="left">
                <table>
                    <tr>
                        <td><apex:image url="{!URLFOR($Resource.USDALogo)}" width="72px" height="51px"/>
                        </td>
                           <td>
                           </td>
                           <td>
                           </td>
                        <td>
                              <div style="color: #000;font-size: 22px;font-weight: bold;line-height: 28px;font-family:Arial;">  United States Department of Agriculture</div>
                              <div style="color: #000;font-size: 19px;font-weight: normal;line-height: 19px;clear: left;font-family:Arial;">  Animal and Plant Health Inspection Service</div>
                        </td>
                    </tr>
                </table>
                <!-- <apex:image url="{!URLFOR($Resource.USDA_APHIS_Logo)}" width="450" height="90"/> -->
                </td>
                <!-- td valign="left"><apex:outputPanel rendered="{!showefile}"><p><font face="verdana" color="green" style="font-size:35px">APHIS eFILE SYSTEM</font></p></apex:outputPanel></td -->             
         </tr>
    </table>
   
</apex:component>