<apex:component access="global" selfClosing="true">
    <apex:attribute name="styleSheetName"   type="String" description="This is the name of your page specific style sheet without the extension" access="global"  required="false"/>
    <apex:attribute name="jsFileName"  type="String" description="This is the name of the page specific java script file without the extension" access="global" required="false"/>
    <!--All  js and custom styles that are page specific will be added here-->
        <link href="{!styleSheetName}"  rel="stylesheet" media="screen"/>
        <apex:includeScript value="{!jsFileName}"/>

        
</apex:component>