<apex:component >
   <c:sidebarContentModule title="eFile News" >
    <c:listgroup >
        <c:listgroupitem ><a href="#">Live Animal Import</a>
            <p> Some Text here limited to first 250 chars ...</p>
        </c:listgroupitem>
        <c:listgroupitem ><a href="#">Maintenance Window</a>
            <p> Some Text here limited to first 250 chars ...</p>
        </c:listgroupitem>
    </c:listgroup>
    <c:listgroupitem ><a href="#">Federal Holiday</a>
        <p> Some Text here limited to first 250 chars ...</p>
    </c:listgroupitem>
    <c:listgroupitem ><a href="#">More eFile News</a></c:listgroupitem></c:sidebarContentModule>
   
    
</apex:component>