<apex:component >
                                                <form class="form">
                                                    <div class="form-group error">
                                                        <label>Username</label>
                                                        <input type="text" placeholder="" class="form-control"/>
                                                        <p class="error-message">Error: Invalid or Missing Information.</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Current Password</label>
                                                        <input type="password" placeholder="" class="form-control"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <div class="pass-strength">
                                                            <input type="password" placeholder="" class="form-control"/>

                                                            <!-- strength condition default -->
                                                            <span class="strength-color"></span>
                                                            <div class="info-wrapper">
                                                                <button type="button" class="help-btn"><i class="glyphicon glyphicon-info-sign"></i></button>
                                                                <div class="popup-info">
                                                                    <p class="info-desc">
                                                                        Use at least 10 characters and include a combination of letters and numbers.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <!-- strength condition default  end-->


                                                            <!-- strength condition weak -->

                                                            <span class="strength-color red"></span>
                                                            <div class="info-wrapper">
                                                                <label class="strength-info">Weak</label>
                                                                <button type="button" class="help-btn"><i class="glyphicon glyphicon-info-sign"></i></button>
                                                                <div class="popup-info">
                                                                    <p class="info-desc">
                                                                        Use at least 10 characters and include a combination of letters and numbers.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <!-- strength condition weak end -->




                                                            <!-- strength condition acceptable -->

                                                            <span class="strength-color yellow"></span>
                                                            <div class="info-wrapper">
                                                                <label class="strength-info">Acceptable</label>
                                                                <button type="button" class="help-btn"><i class="glyphicon glyphicon-info-sign"></i></button>
                                                                <div class="popup-info">
                                                                    <p class="info-desc">
                                                                        Use at least 10 characters and include a combination of letters and numbers.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <!-- strength condition acceptable end-->

                                                            
                                                            <!-- strength condition strong-->                                                            

                                                            <span class="strength-color green"></span>
                                                            <div class="info-wrapper">
                                                                <label class="strength-info">Strong</label>
                                                                <button type="button" class="help-btn"><i class="glyphicon glyphicon-info-sign"></i></button>
                                                                <div class="popup-info">
                                                                    <p class="info-desc">
                                                                        Use at least 10 characters and include a combination of letters and numbers.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <!-- strength condition strong end-->  


                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Verify new Password</label>
                                                        <input type="text" placeholder="" class="form-control"/>
                                                    </div>
                                                    <p class="small-text">Your password was last changed or reset on 6/22/2016 3:05 PM</p>
                                                    <div class="btn-wrapper">
                                                        <button class="btn btn-default background-green" type="submit" alt="" onload="">Save</button>
                                                        <a class="btn btn-default" href="#">Cancel</a>
                                                    </div>
                                                </form>
</apex:component>