<apex:component >
                                                    <form class="form">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group checkbox-group">
                                                                <label class="label-top">Follows</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Follows me</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group checkbox-group">
                                                                <label class="label-top">Posts or Likes</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Posts on my profile</span>
                                                                    </label>
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Shares a post I made</span>
                                                                    </label>
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Likes a post or a comment I made</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group checkbox-group">
                                                                <label class="label-top">Mentions, Messages, or Endorsements</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Mentions me in a post</span>
                                                                    </label>
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Mentions me in a comments</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group checkbox-group">
                                                                <label class="label-top">Comments</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Comments on my status or a change I made</span>
                                                                    </label>
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Comments on a post on my profile</span>
                                                                    </label>
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Comments after me</span>
                                                                    </label>
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Comments on an item I bookmarked</span>
                                                                    </label>
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Comments on an item I like</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group checkbox-group">
                                                                <label class="label-top">Flags</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn">
                                                                        <input type="checkbox" name="checkbox" autocomplete="off"/>
                                                                        <i class="data-icon glyphicon glyphicon-ok"></i><span>Flags an item as inappropriate </span>
                                                                    </label>
                                                                    <div class="info-wrapper">
                                                                        <button type="button" class="help-btn"><i class="glyphicon glyphicon-info-sign"></i></button>
                                                                        <div class="popup-info">
                                                                            <p class="info-desc">
                                                                                This setting only applies to moderators and group owners or managers. If youâ€™re a moderator, an email is sent
                                                                                when a member flags a post, comment, or file. If youâ€™re a group owner or manager, an email is sent when a member flags a post, comment, or file in your group.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn-wrapper">
                                                        <button class="btn btn-default background-green" type="submit" alt="" onload="">Save</button>
                                                        <a class="btn btn-default" href="#">Cancel</a>
                                                    </div>
                                                </form>
</apex:component>