<apex:component access="global" layout="none">
    <apex:attribute name="styleclass" type="String" description="The CSS style class to be used with the component" access="global" required="false"/>

    <ul class="{!styleclass}" >
        <apex:componentBody />
    </ul>
</apex:component>