<apex:component >
<apex:attribute name="showTemplate" type="boolean" description="display template elements in the page as a guide"/>

 <!-- section with sidebar -->
        <section class="section-with-sidebar">
            <div class="row">
                <!-- sidebar section-->
                <div class="col-md-3 col-xs-12">
                    <section class="sidebar-box">
                        <c:sidebar />
                    </section>
                </div>
                 <!-- sidebar section ends-->

                <!-- form sections content right-->
                <div class="col-md-9 col-xs-12">
                    <apex:componentBody />
                    <c:content rendered="{!showTemplate}"/>
                </div>
            </div>
        </section>
<!-- section width sidebar ends-->
</apex:component>