<apex:component >
        <h2>My Settings</h2>
        <div>
            <ul>
                <li>
                    <a href="#">
                        Location Settings
                    </a>
                </li>
                <li>
                   <a href="#">
                        Email Settings
                    </a>
                </li>
                <li>
                    <a href="#">
                        Security Settings
                    </a>
                </li>
            </ul>
        </div>
</apex:component>