<apex:component selfClosing="true" access="global" >
    <apex:attribute name="title" type="String" description="Title that will be used in header of sidebar content module" access="global" required="true"/>
        <apex:attribute name="icon" type="String" description="Name of the icon that you want to use" access="global" required="false"/>

    <div class="sidebarContentHeader">
      <c:glyph icon="{!icon}" /> <h2>{!title}</h2>
    </div>
</apex:component>