<apex:component selfClosing="true">
    <apex:attribute type="string" name="labelName" description="component for small labels" />
        <label class="small-label">{!labelName}</label>
</apex:component>