<apex:component selfClosing="true" access="global" >
    <c:sidebarContentModule icon="star" title="Wizard Launcher" styleClass="wizLauncherBtnDiv">
        <center>
             <a  class="customButton customButtonBlue" href="/apex/CARPOL_HOMEPAGE"  target="_blank" title="Launch Wizard Button">Launch Wizard</a>
        </center> 
    </c:sidebarContentModule>
</apex:component>