<apex:component selfClosing="true">
    <apex:attribute name="message" type="string" description="wizard message style" required="false"/>
    <h2 class="label-top heading-light no-top-margin">
        {!message}
    </h2>
</apex:component>