<apex:page standardController="EFL_Inspection_Questionnaire__c" >
   <apex:form >
      <h1>Please select a template that you want to associate to the Questionnaire {!EFL_Inspection_Questionnaire__c.Name}</h1>
      <br/><br/><br/>
      <apex:pageblock >
      <apex:pageMessages />
         <apex:pageblockSection columns="1" >
            <apex:inputField value="{!EFL_Inspection_Questionnaire__c.EFL_Inspection_Questions_Template__c}"/>
        
         <div align="center" draggable="false" >
            <apex:commandButton value="Save" action="{!save}"/>
         </div>
          </apex:pageblockSection>
      </apex:pageblock>
   </apex:form>
</apex:page>