<apex:page standardController="Application__c" extensions="CARPOL_ApplicationProcessing" tabStyle="Application__c" action="{!processApplication}">
    <apex:form >
        <div align="center">
            <apex:outputPanel id="messages">
                <apex:pageMessages />
            </apex:outputPanel>
        </div>
        <br/>
        <div Id="showPaymentButton" style="display:{!if(Application__c.Application_Status__c=="Submitted","block","none")};background-color:#FFFFFF;font-size:12px;">
        <apex:pageBlock >
            <apex:pageBlockSection title="{!Application__c.Name}">
            <apex:commandButton value="View Payment Detail" onclick="window.location='/apex/CARPOL_VS_ApplicationFee_Payment?id={!Application__c.id}'; return false;"/>
            <!--<apex:commandLink value="{!Application__c.Name} - Please click here to go back to the application." action="{!goBackApplication}" title="{!Application__c.Name}" />-->
            </apex:pageBlockSection>
        </apex:pageBlock>
        </div>
        <div Id="showGoBackToApp" style="display:{!if(Application__c.Application_Status__c<>"Submitted","block","none")};background-color:#FFFFFF;font-size:12px;">
        <apex:pageBlock >
            <apex:pageBlockSection title="{!Application__c.Name}">
            <!--<apex:commandButton value="View Payment Detail" onclick="window.location='/apex/CARPOL_VS_ApplicationFee_Detail?id={!Application__c.id}'; return false;"/>-->
            <apex:commandLink value="{!Application__c.Name} - Please click here to go back to the application." action="{!goBackApplication}" title="{!Application__c.Name}" />
            </apex:pageBlockSection>
        </apex:pageBlock>
        </div>
    </apex:form>
</apex:page>