<apex:page standardController="Authorizations__c" docType="" extensions="CARPOL_BRS_Auth_Regulations_Collabration" sidebar="false" showHeader="true">
  
    <head>
         <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
        
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        
         <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <apex:includescript value="/soap/ajax/21.0/connection.js"> </apex:includescript>
        <apex:includescript value="/soap/ajax/21.0/apex.js"> </apex:includescript>

    <script>
      function goToDetailPage(recId){
          if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
              sforce.one.navigateToSObject(recId);
          }
          else{
              window.location.href = '/'+recId;
          }
          return false;
      }
   </script>
 
  </head>    
     <body>
    <apex:form >
       <!--------------------------------------------------------------------- Condition Metrics ------------------------ --------------------------------------------------------------------------------->
        <apex:pageBlock title="Condition Metrics">
            <table width="100%">
            </table><br/>
            <div align="center">  <apex:outputPanel id="messages"> <apex:pageMessages /> </apex:outputPanel> </div>            
            <apex:pageBlockSection title="Information" collapsible="false">
 
                <apex:outputField value="{!Authorizations__c.name}"/>
                <apex:outputField value="{!Authorizations__c.Status__c}"/> 
                <apex:outputField value="{!Authorizations__c.Total_Regulations__c}"/>
                <apex:outputField value="{!Authorizations__c.Remaining_Applicant_Agreement_Needed__c}"/>
                <apex:outputField value="{!Authorizations__c.Total_Applicant_Agreed__c}"/>
                <apex:outputField value="{!Authorizations__c.Status_Graphic__c}"/>


                <!--apex:inputField required="false" value="{!au.Plant_Inspection_Station__c}" rendered="{!Inspectionstation}"/><br/><br/-->
            </apex:pageBlockSection>
          
         </apex:pageBlock> 
        
            <!--------------------------------------------------------------------- Conditions list ------------------------ --------------------------------------------------------------------------------->
            <apex:pageBlock title="Conditions">
            <apex:outputLabel style="font-style:italic;color:gray;font-size:12px;font-weight:bold" value="Click & drag rows to reorder them." />
            <!--------------------------------------------------------------------- Standard Conditions list ------------------------ --------------------------------------------------------------------------------->
                <apex:pageBlockSection title="Standard Conditions" columns="1" collapsible="true">
                    <apex:outputPanel id="IRWrapper">
                    <apex:outputPanel id="IR">
                        <apex:variable value="{!0}" var="index"/>
                        <table class="table" id="standardconditions">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Order</th>
                                    <th style="display:none;">ID</th>
                                    <th>Regulation Name</th>
                                    <!--th>Sub Type</th-->
                                    <th colspan="2">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!Regulations}" var="R" id="theRepeatIR">
                                    <tr class="dataRow">
                                        <td><img id="removestandardconditions" onclick="deleteRows('delIR')" class="delIR" src="{!$Resource.RemoveButton}" alt="Remove standard Conditions" title="Remove standard Conditions" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" /></td>
                                        <td class='priority'>
                                            <apex:variable var="index" value="{!index+1}" />
                                            <apex:outputText value="{!index}" />
                                        </td>
                                        <td style="display:none;"><apex:outputText value="{!R.ID}" /></td>
                                        <td><apex:outputText value="{!R.Regulation_Short_Name__c}" /></td>
                                        <!--td><apex:outputText value="{!IR.Regulation__r.Sub_Type__c}" /></td-->
                                        <td><apex:outputText value="{!left(R.Regulation_Description__c,400)}..." escape="false"/></td>
                                        <td><a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!R.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a></td>
                                    </tr>    
                                </apex:repeat>
                            </tbody>
                        </table>
                    </apex:outputPanel>
                    </apex:outputPanel>
                    <!--div align="left">
                        <apex:actionFunction action="{!setRegulationType}" name="importReq" rerender="popup" status="actStatusId">
                            <apex:param name="importReq" value="Standard" assignTo="{!regulationType}"></apex:param>
                        </apex:actionFunction>
                        &nbsp;&nbsp;<img id="addImportRequirements" onclick="importReq();" src="{!$Resource.AddButton}" alt="Add Import Requirement" title="Add Import Requirement" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" />
                    </div -->
                </apex:pageBlockSection>
                
                  <!--------------------------------------------------------------------- Supplemental Conditions list ------------------------ --------------------------------------------------------------------------------->
                <apex:pageBlockSection title="Supplemental Conditions" columns="1" collapsible="true">
                    <apex:outputPanel id="AI">
                        <apex:variable value="{!0}" var="index"/>
                        <table class="table" id="additionalInformation">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Order</th>
                                    <th style="display:none;">ID</th>
                                    <th>Regulation Name</th>
                                    <th colspan="2">Description</th>
                                    <th>Need BRS Manager Review</th>
                                    <th>Need ROP Review</th> 
                                    <th>BRS Manager Comments</th>
                                    <th>ROP Reviewer Comments</th>                                      

                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!AddInformation}" var="AI" id="theRepeatAI">
                                    <tr class="dataRow">
                                        <td><img id="removeAdditionalInformation" onclick="deleteRows('delAI')" class="delAI" src="{!$Resource.RemoveButton}" alt="Remove Additional Information" title="Remove Additional Information" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" /></td>
                                        <td class='priority' width="5%">
                                            <apex:variable var="index" value="{!index+1}" />
                                            <apex:outputText value="{!index}" />
                                        </td>
                                        <td style="display:none;" ><apex:outputText value="{!AI.ID}" /></td>
                                        <td><apex:outputText value="{!AI.Regulation_Short_Name__c}" /></td>
                                        <td><apex:outputText value="{!left(AI.Regulation_Description__c,400)}..." escape="false"/></td>
                                        <td><a class="fullDescription" style="color:blue" Id="fulldesAI" onclick="window.open('/{!AI.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View</a></td>
                                        <td><apex:outputText value="{!AI.Needed_BRS_Manager_Collaboration__c}" /></td>
                                        <td><apex:outputText value="{!AI.Needed_ROP_Collaboration__c}" /></td>
                                        <td><apex:outputText value="{!AI.BRS_Manager_Comments__c}" /></td>
                                        <td><apex:outputText value="{!AI.ROP_Comments__c}" /></td>                                        
                                    </tr>    
                                </apex:repeat>
                            </tbody>
                        </table>
                    </apex:outputPanel>
                    <!--div align="left">
                        <apex:actionFunction action="{!setRegulationType}" name="addInfo" rerender="popup" status="actStatusId">
                            <apex:param name="addInfo" value="Supplemental Conditions" assignTo="{!regulationType}"></apex:param>
                        </apex:actionFunction>
                        &nbsp;&nbsp;<img id="addAdditionalInformation" onclick="addInfo();" src="{!$Resource.AddButton}" alt="Add Additional Information" title="Add Additional Information" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" />
                    </div-->
                </apex:pageBlockSection>
                
               <apex:pageBlockTable value="{!ApprovedSuppConditions}" var="r" cellpadding="2" border="1"  rowClasses="odd,even"  id="Sup_table" title="Supplemental Conditions">
                     <apex:column headerValue="Order Number">
                       <apex:outputField value="{!r.Order_Number__c}"/>
                     </apex:column>
                     
                      <apex:column headerValue="Regulation Name" >
     
                        <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                          </apex:column>
     
    
       
                        <apex:column headerValue="Regulation Description" >
                       <apex:outputtext value="{!left(r.Regulation_Description__c,400)}..." escape="false"/>
    
                     </apex:column>
                     
                    <apex:column headerValue="Detail View" >
                        <apex:outputtext >
                           <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                        </apex:outputtext>
                    </apex:column>
                     
                     <apex:column headerValue="Agree" rendered="{!Authorizations__c.Status__c != 'In Review'}">
                        <apex:inputfield value="{!r.Applicant_Agree__c}" />
                       
                     </apex:column>
                     <apex:column headerValue="Applicant Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                    <apex:inlineEditSupport disabled="true"/>
                    </apex:outputfield>
                 </apex:column>
                     <apex:column headerValue="Applicant Comments" style="center">
                       <apex:outputField value="{!r.Applicant_Comments__c }"/>
                     </apex:column>
               </apex:pageBlockTable>    
                 
            </apex:pageBlock>
      
      <!-----------------------------------------------------Regulations List-------------------------------------->  
        <!--c:carpolbootstrapblock >
         <apex:form >
              
         <c:panel Title="Conditions" type="success" toggle="collapse" target="List" styleId="List" defaultOpen="false"> 
              <apex:pageBlock >                     
             <label title="Standard Conditions"><h4>Standard Conditions</h4></label>

             <apex:pageMessages />
              <div class="tab-pane active table-responsive">
                  <apex:pageBlockTable value="{!Regulations}" var="r" cellpadding="2" border="1"  rowClasses="odd,even"  id="opp_table" title="Standard Conditions" styleClass="table table-bordered table-striped">
                      <apex:column headerValue="Order Number">
                       <apex:outputField value="{!r.Order_Number__c}"/>
                     </apex:column>
                     
                      <apex:column headerValue="Regulation Name" >
     
                        <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                          </apex:column>
     
    
       
                        <apex:column headerValue="Regulation Description" >
                       <apex:outputtext value="{!left(r.Regulation_Description__c,400)}..." escape="false"/>
    
                     </apex:column>
                     
                    <apex:column headerValue="Detail View" >
                        <apex:outputtext >
                           <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                        </apex:outputtext>
                    </apex:column>
                     
                     <apex:column headerValue="Agree" rendered="{!Authorizations__c.Status__c != 'In Review'}">
                        <apex:inputfield value="{!r.Applicant_Agree__c}" />
                       
                     </apex:column>
                     <apex:column headerValue="Applicant Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                    <apex:inlineEditSupport disabled="true"/>
                    </apex:outputfield>
                 </apex:column>
                     <apex:column headerValue="Applicant Comments" style="center">
                       <apex:outputField value="{!r.Applicant_Comments__c }"/>
                     </apex:column>
     
                    <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
                 
             </apex:pageBlockTable> 
              </div> 
            </apex:pageBlock>
             <apex:pageBlock >
                <label title="Supplemental Conditions"><h4>Supplemental Conditions</h4></label>
             
                  <apex:pageBlockTable value="{!ApprovedSuppConditions}" var="r" cellpadding="2" border="1"  rowClasses="odd,even"  id="Sup_table" title="Supplemental Conditions">
                      <apex:column headerValue="Order Number">
                       <apex:outputField value="{!r.Order_Number__c}"/>
                     </apex:column>
                     
                      <apex:column headerValue="Regulation Name" >
     
                        <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                          </apex:column>
     
    
       
                        <apex:column headerValue="Regulation Description" >
                       <apex:outputtext value="{!left(r.Regulation_Description__c,400)}..." escape="false"/>
    
                     </apex:column>
                     
                    <apex:column headerValue="Detail View" >
                        <apex:outputtext >
                           <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                        </apex:outputtext>
                    </apex:column>
                     
                     <apex:column headerValue="Agree" rendered="{!Authorizations__c.Status__c != 'In Review'}">
                        <apex:inputfield value="{!r.Applicant_Agree__c}" />
                       
                     </apex:column>
                     <apex:column headerValue="Applicant Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                    <apex:inlineEditSupport disabled="true"/>
                    </apex:outputfield>
                 </apex:column>
                     <apex:column headerValue="Applicant Comments" style="center">
                       <apex:outputField value="{!r.Applicant_Comments__c }"/>
                     </apex:column>
     
                    <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
                 
             </apex:pageBlockTable>              
        
             </apex:pageBlock>         
           <!--/div -->
         <!--/c:panel>
         
        <c:panel Title="List of Supplemental Conditions for Collabration" type="success" toggle="collapse" target="Supp" styleId="Supp" defaultOpen="true">   
         <div class="pageblockmargin">
             <apex:pageBlock >
                <label title="Supplemental Conditions"><h4>Supplemental Conditions</h4></label>

                <apex:pageBlockTable value="{!AddInformation}" var="r" cellpadding="2" border="1"  rowClasses="odd,even"  id="opp_table1">
                  
                  <!--apex:column headerValue="Order Number">
                   <apex:outputField value="{!r.Order_Number__c}"/>
                 </apex:column-->
                 
                  <!--apex:column headerValue="Regulation Name" >
 
                    <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                      </apex:column>
 

   
                    <apex:column headerValue="Regulation Description" >
                   <apex:outputtext value="{!left(r.Regulation_Description__c,400)}..." escape="false"/>

                 </apex:column>
                 
                <apex:column headerValue="Detail View" >
                    <apex:outputtext >
                       <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                    </apex:outputtext>
                </apex:column>
                 
                 <!--apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c != 'In Review'}">
                    <apex:inputfield value="{!r.Applicant_Agree__c}" />
                   
                 </apex:column>
                  <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                     <apex:inlineEditSupport disabled="true"/>
                     </apex:outputfield>
                 </apex:column>
                 
                 <apex:column headerValue="Applicant Comments" style="center">
                   <apex:outputField value="{!r.Applicant_Comments__c }"/>
                 </apex:column -->
                 
                 <!--apex:column headerValue="Needed BRS Manager Collaboration">
                    <apex:inputfield value="{!r.Needed_BRS_Manager_Collaboration__c}" />
                 </apex:column>
                 <apex:column headerValue="BRS Manager Agree">
                    <apex:inputfield value="{!r.Applicant_Agree__c}" />
                   
                 </apex:column>
                  <!--apex:column headerValue="BRS Manager Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                     <apex:inlineEditSupport disabled="true"/>
                     </apex:outputfield>
                  </apex:column-->
                 <!--apex:column headerValue="BRS Manager Comments" style="center">
                   <apex:outputField value="{!r.Applicant_Comments__c }"/>
                 </apex:column>
                 
                 <apex:column headerValue="Needed ROP Collaboration">
                    <apex:inputfield value="{!r.Needed_ROP_Collaboration__c}" />
                 </apex:column>                 
                <apex:column headerValue="ROP Reviewer Agree">
                    <apex:inputfield value="{!r.Applicant_Agree__c}" />
                 </apex:column>
                  <!--apex:column headerValue="ROP Reviewer Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                     <apex:inlineEditSupport disabled="true"/>
                     </apex:outputfield>
                 </apex:column-->
                 <!--apex:column headerValue="ROP Reviewer Comments" style="center">
                   <apex:outputField value="{!r.Applicant_Comments__c }"/>
                 </apex:column>                 
                 
 
                <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
             
         </apex:pageBlockTable>

             </apex:pageBlock>
        </div>
      </c:panel-->

        <!--div class="buttonDiv"> 
            <apex:commandButton value="Save" action="{!tosave}" id="saveButton" styleClass="customButton customButtonGreen"/>  
            <apex:commandButton value="Submit your Responses" action="{!submit}" id="submitButton" styleClass="customButton customButtonGreen"/> 
        </div-->
      </apex:form>
    </body>
       
      <c:PageBlockTableEnhancerADV targetPbTableIds="standardconditions,Sup_table"  pageSizeOptions="5,10,15,30" defaultPageSize="5" enableExport="false"/>
 </apex:page>