<apex:page showHeader="false"    standardController="Application__c"  renderAs="pdf" >
        

<html><body>

<div id="wrapper">
<div id="container">

 <!-- <div style="padding-right:50px;padding-left:50px;padding-bottom:10px;padding-top:10px;"> -->
        

  <div> <c:CARPOL_WizardHeader showefile="false"></c:CARPOL_WizardHeader></div>
  <apex:form >
  
      <!--table width="100%">
          <tr>
              <td width="20%">
                  <apex:image url="{!URLFOR($Resource.USDA_Letters_Logo)}" width="200" height="80"/>
              </td>
              <td width="25%">
                  <apex:image url="{!URLFOR($Resource.APHIS_Letters_Logo)}" width="220" height="76"/>
              </td>
              <td width="15%">
                     <b> Plant</b> <br/> <b>Protection &amp;  </b> <br/>  <b>Quarantine   </b>
              </td>
              <td width="30%">
                     <b>  4700 River Road<br/>Riverdale, Maryland<br/>20737-1236 </b>
              </td>
          </tr>
      </table -->   

      <br/>
     <!-- div align="center" style="font-size:25px;font-weight:bold;"><apex:outputtext value="DENAIL DETAILS"/></div><br/><br/ -->
        
  <div  >
        <apex:outputText value="{0,date,MMMM dd, yyyy}">   
          <apex:param value="{!TODAY()}" /> 
        </apex:outputText><br/><br/>
          <!-- {!MONTH(TODAY())} {!DAY(TODAY())}, {!YEAR(TODAY())}<br/> -->    

          Application No : {!Application__c.Name}<br/><br/>
         {!Application__c.Applicant_Name__r.MailingStreet}<br/>
          {!Application__c.Applicant_Name__r.MailingCity}<br/>
          {!Application__c.Applicant_Name__r.MailingState}<br/>
          {!Application__c.Applicant_Name__r.MailingPostalCode} <!-- {!Application__c.Applicant_Name__r.MailingCountry}   -->
         <!--  Application No: APHIS Customer<br/><br/>
           2401 Ellison Dr.<br/>
           Modesto<br/>
           California<br/>
           95355 USA -->
          
    <br/><br/>
          Dear {!Application__c.Applicant_Name__r.Name}<br/><br/>
          <p>This letter is in response to your application to import fruit and vegetables into the United States. 
          Please note that the following items you wish to import are prohibited entry: {!Application__c.Regulated_Article__r.Name} from {!Application__c.Import_Country__r.Name}.</p>
          <p>Only those products reflected on the admissible list from the requested country may be imported into the United States with a formal permit(FCFR319.56). 
              The fruits and vegetables online manual may be used to obtain copies of admissible lists for any country. <br/> <br/>
          Visit our website at:<apex:outputlink value="http://www.aphis.usda.gov/wps/portal/aphis/home/" target="_blank">http://www.aphis.usda.gov/wps/portal/aphis/home/</apex:outputlink> for more information.</p>
          <p>For future information about fruits and vegetables visit our website at:<apex:outputlink value="http://www.aphis.usda.gov/wps/portal/aphis/home/" target="_blank">http://www.aphis.usda.gov/wps/portal/aphis/home/</apex:outputlink></p><br/>
          For additional questions, call our automated phone system at: 1-877-770-5990 or 301-851-2101.<br/><br/>

          Thank You,<br/><br/>
          
          ePermits <br/><br/>          
          
          APHIS Plant Health Programs<br/>
          Plant Protection Quarantine<br/>
          877-770-5990<br/>
          Animal and Plant Health Inspection Service<br/>
          United States Department of Agriculture 
      </div><br/><br/>
      
  </apex:form>

</div></div>
</body></html>
 
</apex:page>