<apex:page standardController="Authorizations__c" extensions="CARPOL_AC_Ports_extension" sidebar="false" showHeader="false">
    <script>function setFocusOnLoad() {}</script>
    <apex:form >
        <apex:pageBlock title="Permit Information">
            <!--<apex:sectionHeader title="{!Authorizations__c.Application__r.Name}"/>-->
            <table width="100%">
            <!--<tr>
                <td style="font-size:13px;">
                    <h1> Permit Information </h1>
                </td>
            </tr>-->
            </table><br/>
            <div align="center">
               <apex:outputPanel id="messages">
                   <apex:pageMessages />
               </apex:outputPanel> 
           </div>
            <!--<apex:pageBlockButtons title="AC Live Dogs">
                <apex:commandButton value="Save" title="Save" action="{!save}"/>
                <apex:commandButton value="Cancel" title="Cancel" action="{!cancel}"/>
                <apex:commandButton value="Preview Permit" title="Preview Permit" action="{!cancel}"/>
            </apex:pageBlockButtons>-->
            <apex:pageBlockSection title="Effective Date and Expiration Date" collapsible="false">
                <apex:inputField required="true" value="{!auth.Effective_Date__c}"/>
                <apex:inputField required="true" value="{!auth.Expiration_Date__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Ports of Arrival" collapsible="false" columns="1">         
            </apex:pageBlockSection><br/>
            <div align="center">  
                <apex:outputPanel id="Ports">
                    <c:MultiselectPicklist leftLabel="{!leftLabel}" rightLabel="{!rightLabel}" leftOptions1="{!allOptions}" rightOptions1="{!selectedOptions}" size="14" width="300px"></c:MultiselectPicklist>
                </apex:outputPanel>
                <br/>
                <apex:commandButton title="Save Ports" value="Save Ports" action="{!SavePorts}" reRender="messages"/>
            </div>  
            <!--<apex:pageBlockSection title="Regulation(s)" collapsible="false">
                lorem ipsum
            </apex:pageBlockSection><br/>
            <apex:pageBlockSection title="Instruction(s) to Officer" collapsible="false">
                lorem ipsum
            </apex:pageBlockSection><br/>
            <apex:pageBlockSection title="Additional Information" collapsible="false">
                lorem ipsum
            </apex:pageBlockSection><br/>-->
        </apex:pageBlock>
    </apex:form>
    
    <!--<apex:include pageName="CARPOL_AC_EditPermit_Regulations"/>-->
</apex:page>