<apex:page sidebar="false" showHeader="false">
<apex:form enctype="multipart/form-data">
<html><body>
<style>
@page { 
   // size: letter portrait;
    
   // margin-top: 100px;
  //  margin-bottom: 200px;
   // height:100px;
   // size: auto;
    margin:0 auto;
    }
html,body {
    //font-family:Arial, Helvetica, sans-serif;
    //font-size:12px;
   // line-height:18px;
   // color:#333;
    //background:url(bg) top left;
    height:100%;
   // padding-bottom:60px;
    padding:0;
    margin:0 auto;
    background:#e5efe5;
}
#footer {
    background:#e5efe5;
    //text-align:center;
    //font-size:11px;   
    //position:absolute;
   // padding-right:80px;
   // padding-left:80px;
    padding-top:10px ;
    padding-bottom:10px;
   // width:100%;
   // margin:0 auto;
   // clear:both;
  // padding:0;
}
#container{
background:#FFFFFF;
//width:915px;
//height:100%;
padding:20px;
padding-bottom:200px;
}
#wrapper {
   // width:960px;
  // height:auto;
   //height:665px;
    background:#e5efe5;
    padding-right:80px;
    padding-left:80px;
   // padding-bottom:10px;
    //margin:0 auto;
   // padding:0;
}
#footer1{
//width:100%;
   // height:80px;
   //align:center;
    background-color: #e5efe5;
   // position:absolute;
   // bottom:0;
   // padding-bottom:0px;
   // padding-right:50px;
//padding-left:50px;
    //left:0;
   // background:#ee5;

}
</style>
<div id="wrapper">
    <div id="container">
    <div align="center">        
        <c:CARPOL_WizardHeader />
        <hr style="border-top: 3px solid #006600;"/>
    </div>
    <div align="center">
        <table align="right">
            <tr>
                <td>
                    <br/><apex:outputLabel style="color:#006600;font-size:18px">Welcome <i>{!$User.FirstName} {!$User.LastName}</i></apex:outputLabel>
                </td>
            </tr>
        </table>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <div align="center" id="centralContainer">
        <table align="center">
            <tr>
                <td align="center" colspan="3"><p><font face="verdana" color="#006600" style="font-size:30px;align:center">WELCOME TO USDA APHIS eFILE SYSTEM </font></p></td>
            </tr>
            <tr align="center">
                <td colspan="3">
                    <p><font face="verdana" color="#003E69" style="font-size:26px">I want to ...<br/><br/></font></p>
                </td>
            </tr>
            <tr>
                <td>
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:200px;height:80px;font-size:26px;font-style:verdana" onclick="userImport(); return false;" title="Import" value="Import"/>
                </td>
                <td>
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:200px;height:80px;font-size:26px;font-style:verdana" onclick="userExport(); return false;" title="Export" value="Export"/>
                </td>
                <td>
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:200px;height:80px;font-size:26px;font-style:verdana" action="{!transit}" title="Transit" value="Transit"/>
                </td>
            </tr>
        </table><br/><br/><br/><br/>
        <script>
            function userImport(){
               //alert('Import it');
               document.getElementById("centralContainer").style.display = "none";
               document.getElementById("importContainer").style.display = "block";
            }
            function userExport(){
               //alert('Export it');
               document.getElementById("centralContainer").style.display = "none";
               document.getElementById("exportContainer").style.display = "block";
            }
        </script>
    </div>  
    <div align="center" id="importContainer">
        <table align="center">
            <tr align="center">
                <td colspan="2">
                    <p><font face="verdana" color="#003E69" style="font-size:26px">What do you want to Import ...<br/><br/></font></p>
                </td>
            </tr>
            <tr>
                <td>
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:200px;height:80px;font-size:26px;font-style:verdana" onclick="redirect('CARPOL_AC_Wizard'); return false;" title="Live Animals" value="Live Animals"/>
                </td>
                <script>
                    function redirect(pageName)
                    {
                        //alert('Redirect to : ' + pageName);
                        var strURL = document.URL;
                        //alert(strURL);
                        //alert(strURL.indexOf("/CARPOLWizard") >= 0);
                        if(strURL.indexOf("/CARPOLWizard") >= 0)
                        {
                            window.top.location = '/CARPOLWizard/' + pageName;
                        }
                        else
                        {
                            window.top.location = '/apex/' + pageName;
                        }
                                    
                    }
                </script>
<!-- CARPOL_Wizard Removed                <td>
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:200px;height:80px;font-size:26px;font-style:verdana" onclick="window.top.location = '/apex/CARPOL_Wizard';return false;" title="Plants" value="Plants"/>
                </td> -->
            </tr>
           <!-- CARPOL_VS_Wizard has been removed <tr> 
                <td colspan="2">
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:408px;height:80px;font-size:26px;font-style:verdana" onclick="window.top.location = '/apex/CARPOL_VS_Wizard';return false;" title="Animal Products" value="Animal Products"/>
                </td>
            </tr> -->
            <tr>
                <td colspan="2">
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:408px;height:80px;font-size:26px;font-style:verdana" action="{!biotechnology}" title="Biotechnology Related" value="Biotechnology Related"/>
                </td>
            </tr>
        </table><br/><br/><br/><br/>
    </div>
    <style>
        #importContainer {
            display: none;
        }
    </style>
    <div align="center" id="exportContainer">
        <table align="center">
            <tr align="center">
                <td colspan="2">
                    <p><font face="verdana" color="#003E69" style="font-size:26px">What do you want to Export ...<br/><br/></font></p>
                </td>
            </tr>
            <tr>
                <td>
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:200px;height:80px;font-size:26px;font-style:verdana" action="{!animals}" title="Animals" value="Animals"/>
                </td>
                <td>
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:200px;height:80px;font-size:26px;font-style:verdana" action="{!plants}" title="Plants" value="Plants"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <apex:commandButton style="cursor:pointer;background:#006600;color:white;width:408px;height:80px;font-size:26px;font-style:verdana" action="{!biotechnology}" title="Biotechnology Related" value="Biotechnology Related"/>
                </td>
            </tr>
        </table><br/><br/><br/><br/>
    </div>
    <style>
        #exportContainer {
            display: none;
        }
    </style>
    </div>
    </div>
    <div id="footer"><c:CARPOL_WizardFooter /></div> 
    </body></html>
    </apex:form>
</apex:page>