<apex:page standardController="Application__c" extensions="CARPOL_SomethingWentWrong" tabStyle="Application__c" sidebar="false" action="{!deleteTransaction}">
    <apex:form >
        <apex:actionFunction name="doControllerSave" action="{!deleteTransaction}" rerender="jspanel"/>
        <div align="center">
            <apex:outputPanel id="messages">
                <apex:pageMessages />
            </apex:outputPanel>
        </div>
        <br/>
        <apex:pageBlock >
            <apex:pageBlockSection title="{!Application__c.Name}">
                <apex:commandLink value="{!Application__c.Name} - Please click here to go back to the application." action="{!goBackApplication}" title="{!Application__c.Name}" />
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>