<apex:page showHeader="false"  tabStyle="Application__c" controller="CARPOL_WizardManagementConsole"> 
<apex:form id="myForm">
<script type="text/javascript"> 
  function openLookup(baseURL, width, modified, searchParam){
    var originalbaseURL = baseURL;
    var originalwidth = width;
    var originalmodified = modified;
    var originalsearchParam = searchParam;

    var lookupType = baseURL.substr(baseURL.length-3, 3);
    if (modified == '1') baseURL = baseURL + searchParam;

    var isCustomLookup = false;
 
    // Following "001" is the lookup type for Account object so change this as per your standard or custom object
    if(lookupType == "a0R"){

      var urlArr = baseURL.split("&");
      var txtId = '';
      if(urlArr.length > 2) {
        urlArr = urlArr[1].split('=');
        txtId = urlArr[1];
      }

      // Following is the url of Custom Lookup page. You need to change that accordingly
      baseURL = "/apex/CARPOL_WizardLookupQuestionsLists?txt=" + txtId;

      // Following is the id of apex:form control "myForm". You need to change that accordingly
      baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.myForm}");
      if (modified == '1') {
        baseURL = baseURL + "&lksearch=" + searchParam;
      }

      // Following is the ID of inputField that is the lookup to be customized as custom lookup
      if(txtId.indexOf('wqlookup') > -1 ){
        isCustomLookup = true;
      }
    }


    if(isCustomLookup == true){
      openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    }
    else {
      if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
      openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    } 
  }
</script>

   <style>

.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader 
{
    border-top: 0;
    background-color: #7eb47e;
    border-color: #7eb47e;
} 
.Questions{
//text-decoration :none;
    //color: SteelBlue!important;
font-size:16px;
//font-weight:bold;    
    }       
 </style>
   
 <c:CARPOL_WizardHeader showefile="true"></c:CARPOL_WizardHeader><br/> 
        <div align="Center" style="font-size:24px;"><b> WIZARD MANAGEMENT CONSOLE </b></div>  <br/> <br/> <br/>
    <!-- div align="Center" style="font-size:24px;"><b> What would you like to do ?  </b>  <br/>  <br/>    </div -->

       <apex:pageBlock id="results">
        <apex:pageBlockSection title=" Search filters to obtain existing signatures" columns="2" collapsible="true">
            <apex:inputField label="Regulated Article" value="{!Signature.Regulated_Article__c}"/>
            <apex:inputField label="Country" value="{!Signature.From_Country__c}"/>
            <!--apex:inputField label="Group" value="{!Signature__c.Group__c}"/ -->
            </apex:pageBlockSection><br/>
            <div align="center">
                <apex:commandButton title="Search" value="Search" action="{!getResults}"  reRender="sign" status="actStatusId" style="cursor:pointer;background:green;color:white;width:100px;height:30px;font-size:15px;font-style:verdana;text-align:center;"/>
                <br/><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet>
                <apex:actionStatus id="actStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus> </div><br/>
           
        
        <apex:outputPanel id="sign">
     <c:PageBlockTableEnhancerADV targetPbTableIds="signatures"  pageSizeOptions="5,10,15,30" defaultPageSize="5" enableExport="false"/>  
           <apex:pageblocksection id="signatureSection" title="List of signatures" columns="1" collapsible="true">
                <apex:pageBlockTable align="center" id="signatures" title="Regulated Article" value="{!signlst}" var="signature"> 
                 <apex:column headerValue="Edit">
                    <apex:commandLink value="Edit" action="{!changesign}" target="_blank" style="font-size:12px;font-weight:bold;">
                        <apex:param value="{!signature.Id}" assignTo="{!strsignid}" name="strsignid"/>
                    </apex:commandLink>
                  </apex:column>
                    <apex:column headerValue="Signature Name"><apex:outputLink value="/{!signature.ID}" target="_blank">{!signature.Name}</apex:outputLink></apex:column>
                    <!--apex:column headerValue="Import Requirements"  >
                        <apex:outputField value="{!signature.Selected_Import_Requirements__c}"/>
                    </apex:column>
                    <apex:column headerValue="Instruction for CBP Officers">
                    <apex:outputField value="{!signature.Selected_Instruction_for_CBP_Officers__c}"/>
                    </apex:column -->
                    <apex:column headerValue="Status">
                    <apex:outputField value="{!signature.Status__c}"/>
                    </apex:column>
                </apex:pageBlockTable>
                 <apex:outputLabel value="Note: Please click on edit link to obtain signature related wizard questions" style="font-size:12px;font-weight:bold;"></apex:outputLabel>                
      </apex:pageblocksection>  
      </apex:outputPanel>   <br/>       
   <!-- </apex:pageblock>   <br/>
    <apex:pageblock title="CREATE WIZARD FLOW"> -->
    <!-- apex:outputText style="font-size:24px;"> <b>What would you like to do ? </b></apex:outputText><br/ -->
        <!--div align="left" style="font-size:24px;"> Provides you an option to change the Signature      
    <apex:commandbutton value="SIGNATURE CHANGES" action="{!Save}" style="cursor:pointer;background:green;color:white;width:240px;height:50px;font-size:18px;font-style:verdana;text-align:center;"/> <br/><br/>
             </div -->
    <apex:pageBlockSection columns="2" title="Create new wizard flow"> 
    <apex:outputLabel ></apex:outputLabel>
    <apex:outputLabel ></apex:outputLabel>
   <!-- <div align="Left" style="font-size:18px;"> -->
      <apex:outputLabel value="Please click on this button to create new wizard flow" style="font-size:18px;font-weight:bold;"></apex:outputLabel>  
        <!-- <apex:commandbutton value="CREATE NEW WIZARD FLOW" action="{!Save}" style="cursor:pointer;background:green;color:white;width:280px;height:40px;font-size:18px;font-style:verdana;text-align:center;"/> <br/> -->
    <apex:commandLink value="Create New Wizard Flow"  style="cursor:pointer;background:green;color:white;width:250px;height:30px;font-size:18px;font-style:verdana;text-align:center;text-decoration:none;font-weight:bold;padding:5px 10px;" 
                                           action="{!Save}"  target="_blank"/><br/> 
        
    <!-- apex:commandbutton value="Create Questions" action="{!Save}" style="cursor:pointer;background:green;color:white;width:140px;height:35px;font-size:15px;font-style:verdana;text-align:center;"/-->
    <!-- </div> --> </apex:pageBlockSection>
    &nbsp;&nbsp;&nbsp;  <apex:outputLabel value="Note: This will allow you to create questions for new signature ie., whole new wizard flow" style="font-size:12px;font-weight:bold;"></apex:outputLabel>     
           
    </apex:pageblock>
  </apex:form>  
</apex:page>