<apex:page showHeader="false">
    <!-- Kishore
<html>
<body>
<apex:form >
<style>
body {
    margin:0;
    padding:0;
    height:100%;
}
#container{
background-color: #e5efe5;
padding-right:50px;
padding-left:50px;
padding-bottom:10px;
}
#wrapper{
background: #FFFFFF;
padding-bottom:10px;
padding-right:10px;
padding-left:10px;
height:100%;
}
#footer1{
//width:100%;
   // height:80px;
    //align:center;
    position:absolute;
    bottom:0;
    padding-bottom:0px;
    padding-right:50px;
padding-left:50px;
    //left:0;
   // background:#ee5;

}
    <!-- Changes KK Start --><!-- Kishore
 .preppy
{
color:#FF0000;
}
.sg-replace-icons input[type=radio] + label:before {
    /* Default font size */
    /* font-size:1.3em; */
    
    /* Larger font size */
    font-size: 25px;
}
    
    .radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:30px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}
    <!-- Changes KK End --><!-- Kishore
</style>
<div id="container" style="height:100%;">
<div    id="wrapper" style="height:100%;">
<div>
  <c:CARPOL_WizardHeader showefile="true"/></div>
      <table align="center">
          <tr align="center">
              <td>
                  <apex:outputLabel style="font-size:26px;color:#003E69;font-family:verdana;"><br/><br/>What is that you want to Import ?<br/><br/></apex:outputLabel>
              </td>
          </tr>
          <tr align="center">
              <td>
                  <apex:selectRadio value="{!whatimport}" layout="pageDirection" enabledClass="label"  >
                      <apex:selectOptions value="{!items}"/>
                  </apex:selectRadio>
              </td>
          </tr>
          <tr>
              <td>
              <apex:commandButton style="cursor:pointer;background:green;color:white;width:100px;height:40px;font-size:18px;font-style:verdana;text-align:center;" action="{!importnext}"  value="Next" title="Next" />
              </td>
          </tr>
      </table>
   <div id="footer1" align="center"> 
  <c:CARPOL_WizardFooter /></div>
  
</div>
</div>
</apex:form>
</body>
</html>
 -->
</apex:page>