<apex:page title="Search" showHeader="true" sideBar="true" id="pg" controller="CARPOL_WizardLookupQuestionsLists" tabStyle="Application__c">

<apex:outputText >Page Under Construction</apex:outputText>
</apex:page>