<apex:page standardController="Authorizations__c" extensions="CARPOL_PPQ_PermitPDFController_weeds" showHeader="false" applyBodyTag="false"  renderAs="pdf">

     <head>

                <style type="text/css" media="print">

                       @page {

                                 @top-center {

                                       content: element(header);

                               }

                               @bottom-left {

                                     content: element(footer);

                               }

                               margin-top: 15px;
                               padding: 60px;
                               margin-bottom: 180px;

                            }

                                     div.header {

                                      padding: 10px;

                                      position: running(header);

                           }
                       div.footer {

                                display: block;
                                
                                margin-left: 70px;
                                padding: 2px;

                               position: running(footer);

                      }

                                     .pagenumber:before {

                                        content: counter(page);

                       }

                                   .pagecount:before {

                             content: counter(pages);

                        }

                    </style>

              </head>



           <div >

              
               
               <div class="header "> <c:CARPOL_Wizardheader_2 showefile="false"></c:CARPOL_Wizardheader_2></div>
              <!--<apex:image url="{!$Resource.USDA_APHIS_Letter_Header}" width="650" height="70"/>-->
              

           </div>

           <div class="footer">
            <p style="margin-top:0in;margin-right:0pt;margin-bottom:
            0in;margin-left:2.0pt;margin-bottom:.0001pt;text-align:right;line-height:
            13.0pt;mso-line-height-rule:exactly"><span style="font-size:8.0pt;color:#221F1F">Permit Number: {!Authorizations__c.Permit_Number__c}</span></p>   
           
           <TABLE width="110%" style="border:solid #221F1F 0.5pt;">
               
            <tr>
            <td width="80%" valign="top" align="left" style="border-right:solid #221F1F 0.5pt;LINE-HEIGHT:12px"><span style="font-size:8.0pt;color:#221F1F">
               THIS PERMIT HAS BEEN APPROVED ELECTRONICALLY BY THE FOLLOWING PPQ HEADQUARTER OFFICIAL VIA EFILE.</span>
                  <br />
               <br />
               <span style="font-size:8.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;;
                color:#221F1F">&nbsp;</span>
             </td>
            <td width="20%" valign="top">
                  <span style="font-size:9.0pt;color:#221F1F"> DATE </span>
                  <br /><br /><br /><br />

                 <span style="font-size:9.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;;
                color:#221F1F">
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                    <apex:param value="{!TODAY()}" />
                                                </apex:outputText>
                </span>                                
            </td>
            </tr>
            
           </TABLE>
           
           <p class="MsoNormal" style="margin-top:0.00pt;margin-bottom:
        0in;margin-left:2.0pt;margin-bottom:.0001pt;"><span style="font-size:7.0pt;color:#221F1F"><b>WARNING:</b> Any alteration, forgery or unauthorized use of this Federal Form is subject to civil penalties of up to $250,000 (7 U.S.C.s 7734(b)) or punishable by a fine of not more than $10,000 or imprisonment of not more than 5 years, or both (18 U.S.C.s 1001)</span></p>
           
           <div><center><span style="font-size:9.0pt;color:#221F1F">Page <span class="pagenumber"/> of <span class="pagecount"/></span></center></div>
               
          </div>

          <div style="page-break-after: auto;" class="content">

              <p align="center"> <span style="font-size:11.0pt;color:#221F1F"><apex:outputText value="{!pdfLnItmPway.Permit_PDF_Heading_1__c}" escape="false"></apex:outputText></span>
              </p>

              <center>
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:16.0pt;color:#221F1F;padding-top:1px;"><apex:outputText value="{!pdfLnItmPway.Permit_PDF_Heading_2__c}" escape="false"></apex:outputText></span></b>
              </center>
              <center>
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:10.0pt;color:#221F1F;padding-top:1px;"><apex:outputText value="Importation" escape="false"></apex:outputText></span></b>
              </center>    
              <center>
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:11.0pt;color:#221F1F;position:relative;top:.5pt;mso-text-raise:-.5pt"><apex:outputText value="{!pdfLnItmPway.Permit_PDF_Sub_Heading_1__c}" escape="false"></apex:outputText></span></b>
              </center>           


              
              <table width="100%"><tr><td align="center" style="font-size:10px;border-top: thin solid black;border-bottom: thin solid black; padding-top:7px; padding-bottom:7px;" width="100%">
              <b style="mso-bidi-font-weight:normal"><span style="font-size:10.0pt;color:#221F1F;position:relative;top:.5pt;mso-text-raise:-.5pt"><apex:outputText value="{!pdfLnItmPway.Table_Section_Heading__c}" escape="false"></apex:outputText></span></b>
              </td></tr></table>

              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-left:16.0pt;border-collapse:collapse;mso-table-layout-alt:fixed;mso-yfti-tbllook:480;mso-padding-alt:0in 0in 0in 0in">
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:10.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">PERMITTEE NAME:</span></b>
                    </td>
                    <td width="20%" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
                    <span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.Application__r.Applicant_Name__r.Name} <span class="SpellE">Cuate</span></span>
                        
                    </td>
                    <td width="40%" valign="top" style="text-align:rigth;width:98.4pt;padding:0in 0in 0in 0in;height:10.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">PERMIT NUMBER:</span></b>
                    </td>
                    <td width="20%" valign="top" align="left" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
            <span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.Permit_Number__c}</span>
                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">ORGANIZATION:</span></b>
                    </td>
                    <td width="20%" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
                    <span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.Application__r.Organization__c}</span>
                        
                    </td>
                    <td width="40%" valign="top" style="text-align:rigth;width:98.4pt;padding:0in 0in 0in 0in;height:10.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">APPLICATION NUMBER:</span></b>
                    </td>
                    <td width="20%" valign="top" align="left" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
            <span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.Application__r.Name}</span>
                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">ADDRESS:</span></b>
                    </td>
                    <td width="20%" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:25.75pt;mso-height-rule:exactly">
                    <span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.Application__r.Applicant_Address__c}</span>
                     </td>                    
                    <td width="40%" valign="top" style="text-align:rigth;width:128.4pt;padding:0in 0in 0in 0in;height:10.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">FACILITY NUMBER:</span></b>
                    </td>
                    <td width="20%" valign="top" align="left" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
            <span style="font-size:9.0pt;color:#221F1F">{!FacNum}</span>
                    </td>


                </tr>
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">MAILING ADDRESS:</span></b>
                    </td>
                    <td width="20%" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:25.75pt;mso-height-rule:exactly">
                    <span style="font-size:9.0pt;color:#221F1F">&nbsp;</span>
                      
                    </td>
                    <td width="40%" valign="top" style="text-align:rigth;width:128.4pt;padding:0in 0in 0in 0in;height:10.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">HAND CARRY:</span></b>
                    </td>
                    <td width="20%" valign="top" align="left" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
            <span style="font-size:9.0pt;color:#221F1F">{!HandCarry}</span>
                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">PHONE:</span></b>
                    </td>
                    <td width="20%" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.0pt;mso-height-rule:exactly">
                    <span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.AC_Applicant_Phone__c}</span>
                    </td>

                    <td width="40%" valign="top" style="text-align:rigth;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">DATE ISSUED:</span></b>
                    </td>
                    <td width="20%" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:25.75pt;mso-height-rule:exactly">
            <span style="font-size:9.0pt;color:#221F1F">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!Authorizations__c.Date_Issued__c}" ></apex:param>
                </apex:outputText>
                </span>

                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">FAX:</span></b>
                    </td>
                    <td width="20%" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.0pt;mso-height-rule:exactly">
                    <span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.AC_Applicant_Fax__c}</span>
                        
                    </td>
                    <td width="40%" valign="top" style="text-align:rigth;width:98.4pt;padding:0in 0in 0in 0in;height:10.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:11.0pt; color:#221F1F">EXPIRES:</span></b>
                    </td>
                    <td width="20%">
                        <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!Authorizations__c.Expiration_Date__c}" />
                </apex:outputText>
                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">DESTINATION:</span></b>
                    </td>
                     <td colspan="3" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
                    <!--<span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.Ports_of_Arrival__c}</span> -->
                    <span style="font-size:9.0pt;color:#221F1F">{!facaddr1},{!facaddr2},{!facbldg},{!facCity},{!facstate},{!faczip},{!faccountry}</span>
                        
                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top" style="text-align:left;width:98.4pt;padding:0in 0in 0in 0in;height:9.0pt;">
                        <b style="mso-bidi-font-weight:normal"><span style="font-size:9.0pt; color:#221F1F">DESIGNATED PORTS:</span></b>
                    </td>
                    <td colspan="3" valign="top" style="width:114.85pt;border:none;padding:0in 0in 0in 0in;height:9.75pt;mso-height-rule:exactly">
                    <!--<span style="font-size:9.0pt;color:#221F1F">{!Authorizations__c.Ports_of_Arrival__c}</span> -->
                    <span style="font-size:9.0pt;color:#221F1F">{!portsSelected}</span>
                        
                    </td>
                    <td>
                    </td>
                    <td >
                        
                    </td>
                </tr>

              </table>
              <TABLE width="100%" style="border:solid #221F1F 0.5pt;">
              <tr>
              <td width="100%" align="center"><span style="font-size:9.0pt;color:#221F1F">Under the conditions specified, this permit authorizes the following:</span></td>
              </tr>
              <tr>
              <!-- <td width="100%" align="left"><span style="font-size:9.0pt;color:#221F1F"><b>Article Category:</b>{!Authorizations__c.Program_Pathway__r.Name}</span></td> -->
              <td width="100%" align="left"><span style="font-size:9.0pt;color:#221F1F"><b>Article Category:</b>{!articleCategoryName}</span></td>
              </tr>
              <tr>
              <td width="100%">
              <table width="100%" style="border: 0px;" cellpading="0" cellspacing="0">
                                        <apex:outputText value="{!Table}" escape="false"></apex:outputText>
                                                  <!--<tr>
                                                      <th align="center"><span style="font-size:9.0pt;color:#221F1F"><u>Article</u></span></th>
                                                      <th align="center"><span style="font-size:9.0pt;color:#221F1F"><u>Countries of Origin</u></span></th>
                                                      <th align="center"><span style="font-size:9.0pt;color:#221F1F"><u>Plant Parts</u></span></th>
                                                          <th align="center"><span style="font-size:9.0pt;color:#221F1F"><u>Intended Use</u></span></th>
                                                  </tr>
                                                  <tr>
                                                    <td align="center"><span style="font-size:9.0pt;color:#221F1F">{!lineItem.Scientific_Name__r.Scientific_Name__c}</span></td>
                                                    <td align="center"><span style="font-size:9.0pt;color:#221F1F">{!lineItem.Country_Of_Origin__r.Name}</span></td>
                                                    <td align="center"><span style="font-size:9.0pt;color:#221F1F">{!IF(lineItem.Component__r.Name=NULL,defaultPart,lineItem.Component__r.Name)}</span></td>
                                                    <td align="center"><span style="font-size:9.0pt;color:#221F1F">{!lineItem.Intended_Use__r.Name}</span></td>
                                                  </tr> -->
           </table>
              </td>
             </tr>
               
             </TABLE>
             <br />
               
              <TABLE width="100%" style="border:solid #221F1F 0.5pt;">
              <tr>
              <td width="100%" align="left"><span style="font-size:10.0pt;color:#221F1F"><b>SPECIAL INSTRUCTIONS TO INSPECTORS</b></span>
              </td>
              </tr>
              <tr>
              <td width="100%" align="center"><span style="font-size:9.0pt;color:#221F1F">See permit conditions below</span>
              </td>
              </tr>
                <tr>
                <td>
                                <p style="font-size:9.0pt;color:#221F1F">
                                    INSTRUCTIONS TO DHS CBP AGRICULTURAL SPECIALISTS:<br/><br/>
            SHIPMENT BY BONDED CARRIER<br/>
            1. Confirm that the carrier of the shipment imported under this USDA PPQ 526 permit is commercially bonded.<br/>
            2. Confirm that the imported shipment has a valid USDA PPQ Form 599 Red/White label attached to the exterior for routing
            to a USDA APHIS PPQ Inspection Station or other "Designated Port" as stated on the Permit. A valid label will have the
            permit number, expiration date, label number, and address of a USDA APHIS PPQ Plant Inspection Station/Designated Port.<br/>
            3. Validate the permit in ePermits using the CBP search feature.<br/>
            4. If a valid PPQ Form 599 Red/White label is not attached to the exterior of the package or the label has been covered or is
            otherwise not legible, then forward to the nearest USDA APHIS PPQ Plant Inspection Station.
            5. If the address on the airway bill does not match the address on the PPQ Form 599 Red/White label then forward the
            package to the nearest USDA APHIS PPQ Plant Inspection Station/designated port shown on the PPQ Form 599 label. All
            costs associated with rerouting misaddressed packages will be assumed by the permit holder.<br/><br/>
            HAND CARRY IMPORTATION<br/>
            1. For all hand carry events, the port of entry must have received hand carry requests at least 72 hours in advance of the
            arrival of passenger(s), including date of arrival and flight/land border crossings, passport or residence number, and date of
            birth directly from CBP-OFO-APTL, originally provided by USDA-APHIS. The port of entry for hand carry does not need to
            appear as a designated port on the permit; this official notice containing the information listed above authorizes the port listed
            on the notice as a destination port for this hand carry event.<br/>
            2. For all hand carry events, a valid PPQ Form 599 Red/White label specifying hand carry and identifying the designated
            hand carrier must be presented along with the permit. A single PPQ Form 599 Red/White label specifying hand carry may be
            used for multiple specimens covered under one permit at one point of entry.<br/>
            3. If the two conditions above are met and the CBP Agriculture Specialist confirms that all hand carried articles are securely
            packaged as per the permit conditions, the permitted regulated material may be released for immediate transport by the
            designated hand carrier to the destination address listed on the permit.<br/>
            4. If the permitted regulated materials arrive by hand carrying, in personal luggage, or by personal automobile without a hand
            carry authorization as specified in both the permit and the PPQ Form 599 Red/White label, seize the shipment and forward it
            to the nearest USDA APHIS PPQ Plant Inspection Station. If CBP Agriculture Specialists seized the shipment in these
            instances the passenger(s) should ensure all costs associated with the shipments. If forwarding the shipment is not possible,
            contact the Pest Permitting Branch at the number below.<br/><br/>
            INSTRUCTIONS TO USDA PPQ INSPECTORS AT PLANT INSPECTION STATIONS:<br/><br/>
            Follow the instructions in the Plant Inspection Station Manual for Low Risk Organisms - Arthropods or Microbials Red and
            White Label Packages (may be opened outside a biosafety cabinet; see procedures for handling on page 3-7-42).<br/><br/>
            For questions or concerns, contact the USDA APHIS PPQ Pest Permit Branch in Riverdale, MD, at 301-851-2046, toll free
            866-524-5421. 
                        </p>
                </td>
                </tr>
             </TABLE><br/>
            <TABLE width="100%" style="border:solid #221F1F 0.5pt;">
              <tr>
              <td width="100%" align="left"><span style="font-size:10.0pt;color:#221F1F"><b>PERMIT GUIDANCE</b></span>
              </td>
              </tr>
              <tr>
              <td>
                 <span style="font-size:9.0pt;color:#221F1F">
                      Receipt or use of foreign isolates or samples from countries under sanctions requires specific permission from the U.S.
                        Department of Treasury (see http://www.treasury.gov/resource-center/sanctions/Programs/Pages/Programs.aspx
                        for current country/regional listings) for current country listings.<br/><br/>
                        This permit does not authorize importation, interstate movement, possession, and/or use of strains of genetically engineered
                        regulated organisms (created by the use of recombinant DNA technology).
                        If an animal pathogen is identified in your shipment, to ensure appropriate safeguarding, please refer to
                        http://www.aphis.usda.gov/import_export/animals/animal_import/animal_imports_anproducts.sh
                        tml.<br/><br/>
                        This permit does not fulfill the requirements of other federal or state regulatory authorities. As appropriate, please contact the
                        U.S. Environmental Protection Agency, the U.S. Fish and Wildlife Service, the U.S. Food and Drug Administration, the
                        Centers for Disease Control and Prevention, the APHIS Veterinary Services unit, or your States Department of Agriculture
                        to ensure proper permitting.<br/><br/>
                        If you are considering renewal of this permit, an application should be submitted at least 90 days prior to the expiration date
                        of this permit to ensure continued coverage. Permits requiring containment facilities may take a longer period of time to
                        process.
              </span>
                </td>
                </tr>
            </TABLE>
        <!--<TABLE width="100%" style="border:solid #221F1F 0.5pt;">
              <tr>
              <td width="80%" align="left" style="border-right:solid #221F1F 0.5pt;LINE-HEIGHT:12px"><span style="font-size:8.0pt;color:#221F1F">
               THIS PERMIT HAS BEEN APPROVED ELECTRONICALLY BY THE FOLLOWING PPQ HEADQUARTER OFFICIAL VIA EFILE.</span>
                  <br />
               <br />
               <span style="font-size:8.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;;
                color:#221F1F">&nbsp;</span>
              </td>
              <td valign="top">
              <span style="font-size:9.0pt;color:#221F1F"> DATE </span>
              <br /><br /><br /><br />

         <span style="font-size:9.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;;
        color:#221F1F">
        <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                            <apex:param value="{!TODAY()}" />
                                        </apex:outputText>
        </span>                                
              </td>
              </tr>
        </TABLE>-->

          <table>
              <tr>
                  <td width="100%" align="center"><span style="font-size:10.0pt;color:#221F1F"><b>PERMIT CONDITIONS</b></span>
                  </td>
              </tr>
              <tr>
                  <td><P style="font-size:9.0pt;color:#221F1F">
                      This permit authorizes the importation of seeds, plants, or plant parts of the listed organisms from the listed locations to David
                        Bitzel with USDA-APHIS/Seed Examination Facility in Beltsville, Maryland for identification, laboratory and growth
                        chamber research and placement into an herbarium collection in Containment Facility #1909 (CF#1909).
                        This permit authorizes the continued curation and research use of the listed organisms, received under prior permit, by David
                        Bitzel with USDA-APHIS/Seed Examination Facility in Beltsville, Maryland CF1909. 
                  </p>
                  </td>
              </tr>
              <tr>
              <td>
                  <apex:repeat value="{!Conditions}" var="a">
                    <p class="MsoNormal" style="margin-top:0in;margin-right:18.95pt;margin-bottom:
                    0in;margin-left:2.0pt;margin-bottom:.0001pt;line-height:
                    10.0pt;mso-line-height-rule:exactly">
                    <span style="font-size:9.0pt;color:#221F1F"> <apex:outputText value="{!a.Regulation__r.Regulation_Description__c}" escape="false" rendered="{!if(a.Regulation__r.Regulation_Description__c!=null,true,false)}"></apex:outputText> </span>
                    </p>
                &nbsp;
                </apex:repeat>
                </td>
              </tr>
          </table>
       <!---   
               
    <apex:outputPanel rendered="{!Conditions<>NULL}">
    <p class="MsoNormal" style="margin-top:0in;margin-right:18.95pt;margin-bottom:
    0in;margin-left:2.0pt;margin-bottom:.0001pt;text-align:justify;line-height:
    10.0pt;mso-line-height-rule:exactly">
    <span style="font-size:9.0pt;color:#221F1F">1. {!lineItem.Scientific_Name__r.Scientific_Name__c}</span></p>
    &nbsp;
    </apex:outputPanel>
    -->
    
    
   <p class="MsoNormal" style="margin-top:0in;margin-right:18.95pt;margin-bottom:
        0in;margin-left:2.0pt;margin-bottom:.0001pt;line-height:
        10.0pt;mso-line-height-rule:exactly">
        <span style="font-size:9.0pt;color:#221F1F"><!--<apex:outputText value="{!a.Regulation_Description__c}" escape="false"></apex:outputText>--> </span>
        </p>
    &nbsp;           
              
                    
              
    <!--<p class="MsoNormal" style="margin-top:0in;margin-right:18.95pt;margin-bottom:
    0in;margin-left:2.0pt;margin-bottom:.0001pt;text-align:justify;line-height:
    10.0pt;mso-line-height-rule:exactly">
    <span style="font-size:9.0pt;color:#221F1F">xxxxx</span></p>
    &nbsp;
    <p class="MsoNormal" style="margin-top:0in;margin-right:18.95pt;margin-bottom:
    0in;margin-left:2.0pt;margin-bottom:.0001pt;text-align:justify;line-height:
    10.0pt;mso-line-height-rule:exactly">
    <span style="font-size:9.0pt;color:#221F1F">2. - Subject to Inspection : This commodity is subject to inspection at the port of entry and all general requirements of 7 CFR 319.56 </span></p>
    -->
    <br />
    <p class="MsoNormal" style="margin-top:0in;margin-right:18.95pt;margin-bottom:
    0in;margin-left:2.0pt;margin-bottom:.0001pt;text-align:center;line-height:
    10.0pt;mso-line-height-rule:exactly">
        <span style="font-size:9.0pt;color:#221F1F"><b>END OF PERMIT CONDITIONS</b>
    </span></p>
    </div>
    
</apex:page>