<apex:page standardController="AC__c" extensions="CARPOL_AC_UploadImage" tabStyle="AC__c" sidebar="false" showHeader="true">
    <apex:form enctype="multipart/form-data">
        <apex:outputPanel id="messages">
            <div align="center">
                <apex:pageMessages />
            </div>
        </apex:outputPanel>
        <apex:pageBlock >
            <apex:pageBlockSection columns="2">
                <apex:pageBlockSectionItem >
                  <apex:outputLabel value="Upload Image" for="file"/>
                  <apex:inputFile value="{!uploadedFile.body}" fileName="{!uploadedFile.Name}" id="file"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:image url="{!picURL}" width="300px" height="200px" rendered="{!IF(picURL != null, true, false)}" onclick="window.open('{!picURL}', '_blank');" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <div align="center">
                <table align="center">
                    <tr>
                        <!-- <td><apex:commandButton title="Search" value="Upload" action="{!uploadFile}" status="actStatusId"/></td> -->
                        <td><apex:commandButton style="cursor:pointer;background:#006600;color:white;width:80px;height:30px;font-size:13px;font-style:verdana" title="Upload" value="Upload" action="{!uploadFile}"/></td>
                        <td><apex:actionStatus id="actStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></td>
                    </tr>
                </table><br/>
            </div>
        </apex:pageBlock>
    </apex:form>
</apex:page>