<apex:page standardController="Incident__c" sidebar="false" title="Preview Compliance Letter" extensions="CARPOL_PreviewIncident">
    <script>function setFocusOnLoad() {}</script>
    <apex:form >
        <div align="center">
            <apex:outputPanel id="messages">
                <apex:pageMessages />
            </apex:outputPanel> 
        </div>
        <apex:pageBlock >
            <div align="left">
                <font style="font-weight:bold; font-size:16px;">{!letterType} for Incident {! Incident__c.Name}</font><br/>
                <apex:outputPanel rendered="{!NOT(showLinks)}">
                        <a href="/{! Incident__c.ID}">Click here to go back to {!Incident__c.Name}</a>
                 </apex:outputPanel>
                  <apex:outputPanel rendered="{!showLinks}">
                        <a href="/{!wtask.Id}">Click here to go back to Workflow task</a>
                 </apex:outputPanel>
            </div>
            <div align="center">
                <table>
                    <tr align="center">
                        <td>
                            <apex:commandButton value="Save" title="Save Draft" action="{!saveDraft}" status="actionStatusId" />
                        </td>
                        <td><apex:commandButton value="Preview" title="Preview Compliance Letter" onClick="previewAuthorization()"/></td>
                        <td><apex:commandButton value="Attach" title="Attach Compliance Letter" action="{!attachLetter}" status="actionStatusId" rendered="{!showAttachBtn}" /></td>
                        <td><apex:commandButton value="Attach Draft Letter" title="Attach Draft Compliance Letter" action="{!attachDraftLetter}" status="actionStatusId" rendered="{!showAttachDraftBtn}"/></td> 
                        <td><apex:commandButton value="Cancel" title="Cancel" action="{!cancel}" status="actionStatusId"/></td>
                    </tr>
                    <tr align="center"><td colspan="3"><apex:actionStatus id="actionStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></td></tr>
                </table>
                <script type="text/javascript">
                    function previewAuthorization()
                    {
                        var url = '{!baseURL}' + '/apex/CARPOL_IncidentLetter?id=' + '{! Incident__c.ID}'+'&tId='+'{!wtask.Id}';
                        var win = window.open(url, '_blank');
                        win.focus();
                    }
                </script>
            </div>
            <apex:pageBlockSection title="{!letterType} for {! Incident__c.Name}">
                <apex:inputField value="{!incident.EFL_Template__c}"/>
                <apex:inputField value="{!incident.EFL_Issued_Date__c}"/>
            </apex:pageBlockSection>
            <br/>
            <div align="center">
                <table>
                    <tr align="center">
                        <td><apex:commandButton value="Populate Template" title="Populate Template" action="{!populateTemplate}" status="actStatusId" rendered="{!showtemplateBtn}" /></td>
                    </tr>
                    <tr align="center"><td><apex:actionStatus id="actStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></td></tr>
                </table>
            </div>
            <div align="center">
                <apex:outputPanel id="preview">
                    <table width="100%" height="500px" align="center">
                        <tr>
                            <td width="100%">
                                <br/>
                                <table width="75%" align="center">
                                    <tr>
                                        <td><apex:inputField label="Letter Content" value="{!incident.EFL_Compliance_letter_content__c}"  rendered="{!OR(wtask.Program__c != 'BRS',(AND (wtask.Program__c == 'BRS',wtask.Status__c !='In Progress')))}"/></td>
                                        <td><apex:outputField label="Letter Content" value="{!incident.EFL_Compliance_letter_content__c}" rendered="{!AND (wtask.Program__c == 'BRS',wtask.Status__c=='In Progress')}"/></td> 
                                    </tr>
                                </table>
                            </td>
                            <!-- <td>
                                <br/>
                                <table align="center" width="100%">
                                    <tr>
                                        <td><iframe src="{!templateURL}" style="width:650px; height:469px;" frameborder="0"></iframe></td>
                                    </tr>
                                </table>
                            </td> -->
                        </tr>
                    </table>
                </apex:outputPanel>
            </div>
        </apex:pageBlock>
    </apex:form>
</apex:page>