<apex:page standardController="Application__c" tabStyle="Application__c" extensions="CARPOL_VS_SelectPaymentType" showHeader="false" sidebar="false">
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection title="Select Payment Type">
             <apex:outputField value="{!Application.Payment_Type__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>