<apex:page sidebar="false" showHeader="true" docType="html-5.0" standardController="AC__c" extensions="CARPOL_LineItemPageForApplicant" tabStyle="Application__c" id="Page" recordSetVar="AC" cache="true" applyBodyTag="false">

 <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
       
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Regulated Article</a></li>
          <li><a href="#section2">Constructs</a></li>
          <li><a href="#section3">Previously Approved Constructs</a></li>
           <li><a href="#section4">Locations</a></li>
            <li><a href="#section5">SOPs</a></li>
             <li><a href="#section6">Previously Approved SOPs</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<c:carpolAphisApplicantUI addHomeResources="true" 
    docTitle="Carpol Efile" 
    includeCustomResources="true" 
    styleSheetName="{!URLFOR($Resource.carpolBootstrap,'carpolBootstrap/carpol/styles/mydashboard.css')}"
    jsFileName=""
    showCarpolSidebar="true"
    lineitemIDfrompage="{!LineId}"
    showapplicationPDF="true"
     >
   <!--------------------------------------Information---------------------------------------------------------------> 
 <!---------Standard Permit Information--------->  
    <c:panel title="Information" icon="info-sign" toggle="collapse" target="info" styleClass="panel panel-default" styleId="info" defaultOpen="false" rendered="{!BRSPermitInfo}">
             <label>BRS PERMITS for the Introduction of Genetically Engineered Plants</label>

            <p>If submitting a Importation or Interstate Movement/Release Permit, following needs to be included.</p>
            
            <p>   <label> Regulated Article: </label> At least 1 Regulated Article must be added.</p>
                
             <p>   <label> Location: </label> {!releaselocationinfo}</p>
                
             <p>   <label> Standard Operating Procedure/Design Protocol: </label> you may enter the information and attach your Standard Operating Procedure/Design Protocol by using the Attachment button feature. 
            </p>
             <p>  <label>  Tips for Entering CBI Data:</label></p>
           <p> While completing your permit application, please remember to surround information which you want to protect as CBI with square brackets [ ]. </p>
            
          <p>  For example, a construct component containing information to protect would appear as follows:</p>
            
          <p>   terminator: nopaline [synthase (nos) 3'] </p>
            
          <p>  The CBI-deleted version of this construct component would automatically be generated by ePermits using the square brackets to display it:</p>
            
           <p>   terminator: nopaline [               ]</p>   
      </c:panel>

 <!---------Standard Permit Information for Interstate Movement/Release--------->  
    <c:panel title="Information" icon="info-sign" toggle="collapse" target="info" styleClass="panel panel-default" styleId="info" defaultOpen="false" rendered="{!BRSPermitReleaseInfo}" > 
             <label>BRS PERMITS for the Introduction of Genetically Engineered Plants</label>

            <p>If submitting a Importation or Interstate Movement/Release Permit, following needs to be included.</p>
            
            <p>   <label> Regulated Article: </label> At least 1 Regulated Article must be added.</p>
                
             <p>   <label> Location: </label> {!releaselocationinfo}</p>
                
             <p>   <label> Standard Operating Procedure/Design Protocol: </label> you may enter the information and attach your Standard Operating Procedure/Design Protocol by using the Attachment button feature. 
            </p>
            
             <p>  <label>  Tips for Entering CBI Data:</label></p>
           <p> While completing your permit application, please remember to surround information which you want to protect as CBI with square brackets [ ]. </p>
            
          <p>  For example, a construct component containing information to protect would appear as follows:</p>
            
          <p>   terminator: nopaline [synthase (nos) 3'] </p>
            
          <p>  The CBI-deleted version of this construct component would automatically be generated by ePermits using the square brackets to display it:</p>
            
           <p>   terminator: nopaline [               ]</p>
       </c:panel>    
    <!---------Courtesy Permit Information--------->
      <c:panel title="Information" icon="info-sign" toggle="collapse" target="info" styleClass="panel panel-default" styleId="info" defaultOpen="false" rendered="{!BRSCourtesyInfo}">
             <label>BRS PERMITS for the Introduction of Genetically Engineered Plants</label>

            <p>If submitting a Importation or Interstate Movement/Release Permit, following needs to be included.</p>
            
            <p>   <label> Regulated Article: </label> At least 1 Regulated Article must be added.</p>
                
             <p>   <label> Location: </label> {!releaselocationinfo}</p> 
             
             <p>  <label>  Tips for Entering CBI Data:</label></p>
           <p> While completing your permit application, please remember to surround information which you want to protect as CBI with square brackets [ ]. </p>
            
          <p>  For example, a construct component containing information to protect would appear as follows:</p>
            
          <p>   terminator: nopaline [synthase (nos) 3'] </p>
            
          <p>  The CBI-deleted version of this construct component would automatically be generated by ePermits using the square brackets to display it:</p>
            
           <p>   terminator: nopaline [               ]</p>    
          </c:panel>     
    <!---------Notification Information--------->
      <c:panel title="Information" icon="info-sign" toggle="collapse" target="info" styleClass="panel panel-default" styleId="info" defaultOpen="false" rendered="{!BRSNotificationInfo}">
             <label>BRS Notification of Introduction of Genetically Engineered Plants</label>

            <p>If submitting a Importation or Interstate Movement/Release Permit, following needs to be included.</p>
            
            <p>   <label> Regulated Article: </label> At least 1 Regulated Article must be added.</p>
                
             <p>   <label> Location: </label> {!releaselocationinfo}</p>
                
             <p>   <label> Standard Operating Procedure/Design Protocol: </label> you may enter the information and attach your Standard Operating Procedure/Design Protocol by using the Attachment button feature. 
            </p>

             <p>  <label>  Tips for Entering CBI Data:</label></p>
           <p> While completing your permit application, please remember to surround information which you want to protect as CBI with square brackets [ ]. </p>
            
          <p>  For example, a construct component containing information to protect would appear as follows:</p>
            
          <p>   terminator: nopaline [synthase (nos) 3'] </p>
            
          <p>  The CBI-deleted version of this construct component would automatically be generated by ePermits using the square brackets to display it:</p>
            
           <p>   terminator: nopaline [               ]</p>
          </c:panel>
   
        <!--------------------------------------Regulated Articles--------------------------------------------------------------->
        <apex:form >
                    <div id="section1">    

         <c:panel icon="fire" title="Regulated Articles" type="Success" toggle="collapse" target="regArt"  styleId="regArt" defaultOpen="true">                      
           <apex:dataTable value="{!RA}" var="line" styleClass="table table-condensed table-hover table-bordered">  
                                <apex:column headerValue="Linked Regulated Article">  
        <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                </apex:column>
                <apex:column value="{!line.Regulated_Article__c }" headerValue="Regulated Article"/>
                <apex:column value="{!line.Common_Name__c }" headerValue="Common Name"/>
               <apex:column value="{!line.Cultivar_and_or_Breeding_Line__c }" headerValue="Cultivator and/or Breeding Line"/>
                <apex:column value="{!line.CreatedDate }" headerValue="Created Date"/>
                <apex:column headerValue="Actions" rendered="{!if(Linelst[0].Status__c != 'Submitted',true,false)}">
                   <apex:outputLink value="/apex/portal_linkregart_edit?id={!line.Id}&LineItemId={!line.Line_Item__c}"><c:glyph icon="edit"/> </apex:outputLink>                      
                        <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');"> <c:glyph icon="trash" />
                        <apex:param name="recid" value="{!line.Id}" assignTo="{!delrecid}"/>
                        </apex:commandLink>
                </apex:column>
           </apex:dataTable>
                <apex:commandButton rendered="{!Linelst[0].Status__c != 'Submitted'}" styleClass="customButton customButtonGreen" value="Add Regulated Articles" action="{!AddRegArt}"/>
                <apex:commandButton styleClass="customButton customButtonBlue returnToLineItem" value="Return to line item" action="{!Retlineitem}"/> 
        </c:panel>   
          </div>
        <!--------------------------------------Constructs--------------------------------------------------------------->
        <div id="section2"> 
        <c:panel icon="book" title="Constructs" type="Success" toggle="collapse" target="construct"  styleId="construct" defaultOpen="true">
           <apex:dataTable value="{!Construct}" var="line" styleClass="table table-condensed table-hover table-bordered" id="Constab">  
                <apex:column > 
                    <apex:facet name="header"> Construct<br/>Record ID</apex:facet>
                    <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                </apex:column>  
                <apex:column value="{!line.Construct_s__c }" headerValue="Name"/> 
                <apex:column value="{!line.Mode_of_Transformation__c }">
                    <apex:facet name="header">Mode of<br/>Transformation</apex:facet>
                </apex:column>
                <apex:column value="{!line.Status__c }" headerValue="Status"/> 
                <apex:column value="{!line.Status_Graphical__c }" headerValue="Status"/>
                 <apex:column value="{!line.Total_No_of_PhenoTypes__c }">
                     <apex:facet name="header"> Total No. of<br/>Phenotypes</apex:facet>
                 </apex:column>    
                  <apex:column value="{!line.Total_No_of_GenoTypes__c }">
                       <apex:facet name="header"> Total No. of<br/>Genotypes</apex:facet>
                 </apex:column> 
                <apex:column value="{!line.CreatedDate }">
                <apex:facet name="header"> Created<br/>Date
                                        </apex:facet>
                    </apex:column>
                <apex:column headerValue="Actions" rendered="{!if(Linelst[0].Status__c != 'Submitted',true,false)}">
                <!-- VV Added 6/16/16 for Edit or Delete functionality -->
                    <apex:outputLink value="/apex/portal_construct_edit?genid={!line.Id}"><c:glyph icon="edit"/> </apex:outputLink>                       
                        <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');"> <c:glyph icon="trash" />
                        <apex:param name="recid" value="{!line.Id}" assignTo="{!delrecid}"/>
                        </apex:commandLink>
                <!-- END VV Added 6/16/16 for Edit or Delete functionality -->                                
                </apex:column>

           </apex:dataTable> 
                <apex:commandButton rendered="{!Linelst[0].Status__c != 'Submitted'}"  styleClass="customButton customButtonGreen" value="Add Constructs" action="{!AddConstruct}"/> 
        </c:panel>  
        </div>
        <!--------------------------------------Previously Reviewed Constructs----------------------------------------------------->
        <div id="section3"> 
        <c:panel icon="book" toggle="collapse" target="RevCons" styleid="RevCons" title="Previously Reviewed Constructs" type="Success" defaultOpen="true">
                <apex:dataTable value="{!RevCons}" var="line" styleClass="table table-condensed table-hover table-bordered" id="Constab">  
                  <apex:column headerValue="Linked Reviewed Construct">  
                  <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                </apex:column>  
                <apex:column value="{!line.Construct__c}" headerValue="Construct(s)"/> 
                <apex:column value="{!line.Construct__r.Construct_s__c}" headerValue="Name"/>   
                <apex:column value="{!line.Construct_Status__c }" headerValue="Status"/> 
                <apex:column value="{!line.Status_Graphical__c }" headerValue="Status"/>
                <apex:column headerValue="Actions"  rendered="{!if(Linelst[0].Status__c != 'Submitted',true,false)}">
                <!-- VV Added 6/16/16 for Edit or Delete functionality -->
                    <apex:outputLink value="/apex/CARPOL_BRSLinkConstruct?appid={!line.Id}"><c:glyph icon="edit"/> </apex:outputLink>                       
                        <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');"> <c:glyph icon="trash" />
                        <apex:param name="recid" value="{!line.Id}" assignTo="{!delrecid}"/>
                        </apex:commandLink>
                <!-- END VV Added 6/16/16 for Edit or Delete functionality --> 
                </apex:column>
           </apex:dataTable> 
                <apex:commandButton rendered="{!Linelst[0].Status__c != 'Submitted'}" styleClass="customButton customButtonGreen" value="Add Previously Reviewed Constructs" action="{!ReviewedConstructs}"/> 
           
        </c:panel>
</div>
        <!--------------------------------------Locations------------------------------------------------------------------------>
       <div id="section4"> 
        <c:panel icon="map-marker" toggle="collapse" target="Location" styleid="Location" title="Locations" type="Success" defaultOpen="true"> 
           <apex:dataTable value="{!Location}" var="line" styleClass="table table-condensed table-hover table-bordered" id="Constab">  
                                <apex:column headerValue="Name">  
                        <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                </apex:column>  
                <!--apex:column value="{!line.Description__c }" headerValue="Description"/ -->  
                <apex:column value="{!line.RecordType.Name}" headerValue="Location Type"/> 
                <!--apex:column value="{!line.Level_2_Region__r.name}" headerValue="County"/ --> 
                <apex:column value="{!line.State__r.Name}" headerValue="State"/>
                <apex:column value="{!line.Country__r.Name}" headerValue="Country"/>
                <apex:column value="{!line.Status__c }" headerValue="Status"/>
                <apex:column value="{!line.Status_Graphical__c }" headerValue="Status"/>
                <apex:column value="{!line.CreatedDate }" headerValue="Created Date"/>
                <apex:column headerValue="Actions"  rendered="{!if(Linelst[0].Status__c != 'Submitted',true,false)}">
                <!-- VV Added 6/16/16 for Edit or Delete functionality -->
                    <apex:outputLink value="/apex/portal_location_edit?id={!line.Id}&LineItemId={!line.Line_Item__c}&RecType={!line.RecordType.Id}"><c:glyph icon="edit"/> </apex:outputLink>                       
                        <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');"> <c:glyph icon="trash" />
                        <apex:param name="recid" value="{!line.Id}" assignTo="{!delrecid}"/>
                        </apex:commandLink>
                <!-- END VV Added 6/16/16 for Edit or Delete functionality -->                                

                </apex:column>
           </apex:dataTable>
                <apex:commandButton rendered="{!Linelst[0].Status__c != 'Submitted'}" styleClass="customButton customButtonGreen" value="Add Locations" action="{!AddLocations}"/>
           
        </c:panel> 
        </div>
        <!-----------------Standard Operating Procedures------------------------------------------------------------------------>
        <div id="section5"> 
        <c:panel icon="exclamation-sign" rendered="{!IF(Linelst[0].RecordType.Name =='Biotechnology Regulatory Services - Notification' || Linelst[0].RecordType.Name =='Biotechnology Regulatory Services - Standard Permit',true,false)}" toggle="collapse" target="SOP" styleid="SOP" title="SOP/Design Protocols" type="Success" defaultOpen="true">
           <apex:dataTable value="{!SOP}" var="line" styleClass="table table-condensed table-hover table-bordered" id="Constab">  
                                <apex:column headerValue="SOP/Design Protocol Record ID">  
                        <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                </apex:column>  
                <!--<apex:column value="{!line.Name }" headerValue="Name"/>-->  
               
                <apex:column value="{!line.File_Name__c}" headerValue="Name"/> 
                <apex:column value="{!line.Total_Files__c}" headerValue="Total Files"/> 
                <apex:column value="{!line.Status__c }" headerValue="Status"/> 
                <apex:column value="{!line.Status_Graphical__c }" headerValue="Status"/>
                <apex:column headerValue="Document"> &nbsp; &nbsp; &nbsp; &nbsp;
                   <apex:outputLink rendered="{!line.Attachments.size>0}" value="{!URLFOR($Action.Attachment.Download, line.Attachments[0].Id)}" target="_blank">View</apex:outputLink>
                   <apex:outputText rendered="{!line.Attachments.size=0}">View</apex:outputText>
                   <!--        &nbsp;
                   <apex:outputLink onclick="if (!confirmDeleteAttachment()) return false;" value="{!URLFOR($Action.Applicant_Attachments__c.Delete, line.Id,[retURL=returnURL])}">Delete</apex:outputLink-->   
                </apex:column>                 
                <apex:column headerValue="Actions"  rendered="{!if(Linelst[0].Status__c != 'Submitted',true,false)}">
                <!-- VV Added 6/16/16 for Edit or Delete functionality -->
                    <apex:outputLink value="/apex/portal_applicantattachment_edit?id={!line.Id}&LineItemId={!line.Animal_Care_AC__c}&RecordType={!line.RecordType.Id}"><c:glyph icon="edit"/> </apex:outputLink>                       
                        <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');"> <c:glyph icon="trash" />
                        <apex:param name="recid" value="{!line.Id}" assignTo="{!delrecid}"/>
                        </apex:commandLink>
                <!-- END VV Added 6/16/16 for Edit or Delete functionality -->  
                </apex:column>
               <!--<apex:column value="{!line.Design_Protocol_SOP_Graphical_Status__c }" headerValue="Design Protocol/SOP Status"/> -->
           </apex:dataTable>
                <apex:commandButton rendered="{!IF((Linelst[0].RecordType.Name =='Biotechnology Regulatory Services - Notification' || Linelst[0].RecordType.Name =='Biotechnology Regulatory Services - Standard Permit') && Linelst[0].Status__c != 'Submitted',true,false)}" styleClass="customButton customButtonGreen" value="Add SOP's" action="{!AddingSOP}" /> 
                <!--action="{!URLFOR($Action.Applicant_Attachments__c.New_Standard_Design_Protocol_SOPs_NOTIF, Id)}"-->
                <!--apex:commandButton rendered="{!IF(Linelst[0].RecordType.Name =='Biotechnology Regulatory Services - Standard Permit' && Linelst[0].Status__c != 'Submitted' ,true,false)}" styleClass="customButton customButtonGreen" value="Add SOP's"  action="{!AddingSOP}" /-->            
        </c:panel>
</div>
        <!--------------------------------------Previously Reviewed SOP's----------------------------------------------------->
        <div id="section6"> 
        <c:panel icon="exclamation-sign" rendered="{!IF(Linelst[0].RecordType.Name =='Biotechnology Regulatory Services - Notification' || Linelst[0].RecordType.Name =='Biotechnology Regulatory Services - Standard Permit',true,false)}" toggle="collapse" target="RevSOP" styleid="RevSOP" title="Previously Reviewed SOP/Design Protocols" type="Success" defaultOpen="true">
                <apex:dataTable value="{!RevSOP}" var="line" styleClass="table table-condensed table-hover table-bordered" id="Constab">  
                  <apex:column headerValue="Linked Reviewed SOP/Design Protocol">  
                  <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                </apex:column>  
                <apex:column value="{!line.Design_Protocol_Record_SOP__c}" headerValue="SOP/Design Protocol Record ID"/> 
                <apex:column value="{!line.Design_Protocol_Record_SOP__r.File_Name__c}" headerValue="Name"/>   
                <apex:column value="{!line.Design_Protocol_Record_Status__c }" headerValue="Status"/> 
                <apex:column value="{!line.Design_Protocol_SOP_Graphical_Status__c }" headerValue="Status"/>
                <apex:column headerValue="Actions"  rendered="{!if(Linelst[0].Status__c != 'Submitted',true,false)}">
                <!-- VV Added 6/16/16 for Edit or Delete functionality -->
                   <apex:outputLink value="/apex/CARPOL_BRS_ReviewedDesignProtocol_SOP?appid={!line.Id}"><c:glyph icon="edit"/> </apex:outputLink>                    
                    <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');"> <c:glyph icon="trash" />
                    <apex:param name="recid" value="{!line.Id}" assignTo="{!delrecid}"/>
                    </apex:commandLink>
                <!-- END VV Added 6/16/16 for Edit or Delete functionality -->  
                </apex:column>
           </apex:dataTable> 
                <apex:commandButton rendered="{!Linelst[0].Status__c != 'Submitted'}" styleClass="customButton customButtonGreen" value="Add  Previously Reviewed SOP/Design Protocols" action="{!ReviewedSOPDesignProtocol}"/>   
           
        </c:panel>        
</div>
        <c:PageBlockTableEnhancerADV targetPbTableIds="Constab"  pageSizeOptions="5,10,15,30,45,100" defaultPageSize="5" enableExport="false"/>
        </apex:form>
</c:carpolAphisApplicantUI>
 <script>
 removeBtnClass();
 </script>
 </body>
</apex:page>