<apex:page sidebar="false" showHeader="true" docType="html-5.0" tabStyle="Application__c" controller="CARPOL_UNI_ADD_LOCALE" id="Page" cache="true">
    <apex:stylesheet value="{!$Resource.Universal_USDA_CSS}" />
        <html>
            <c:importvisualstrap /> 
            <div id="wrapper">
                <div id="container">
                    <div id="header">
                        <c:CARPOL_WizardHeader /><div class="pbHeader" align="right">APHIS eFile Application</div>
                    </div>
                    <div class="visualstrap">   
                        <apex:form id="myForm">
                            <apex:pageBlock title="Transit Locale">
                            <apex:outputPanel id="pb1">
                                <table width="100%">
                                    <tr> 
                                        <td width="10%" style="font-size:12px;font-weight:Bold;text-align:left;font-family:Arial;">Regulated Article</td>
                                        <td width="15%" style="font-size:12px;font-weight:Bold;text-align:left;font-family:Arial;"><font>Mode of Transportation</font></td>
                                        <td width="15%"  style="font-size:12px;font-weight:Bold;text-align:left;font-family:Arial;"><font>From Country</font></td>
                                        <td width="15%"  style="font-size:12px;font-weight:Bold;text-align:left;font-family:Arial;"><font>To Country</font></td>
                                        <!--<td width="15%"  style="font-size:12px;font-weight:Bold;text-align:center;font-family:Arial;"><font>Level1 Region</font></td>
                                        <td width="15%"  style="font-size:12px;font-weight:Bold;text-align:center;font-family:Arial;"><font>Level2 Region</font></td>
                                        <td width="25%"  style="font-size:12px;font-weight:Bold;text-align:left;font-family:Arial;"><font>Arrival Date/Time</font></td>-->
                                        <td width="5%"  style="font-size:12px;font-weight:Bold;text-align:center;font-family:Arial;"><font>&nbsp;</font></td>
                                    </tr>
                                    <tr>
                                        <apex:repeat value="{!transitInner}" var="TL" id="therepeat">
                                            <table width="100%">
                                                <tr>
                                                   <!--<td width="10%" ><apex:inputfield value="{!TL.transit.Name}"/></td>-->
                                                     <td width="10%" ><apex:inputfield value="{!TL.transit.Regulated_Article__c}"/></td>
                                                    
                                                    <td width="15%"><apex:inputfield value="{!TL.transit.Method_of_Trans__c}"/></td>
                                                    <td width="15%" ><apex:inputfield value="{!TL.transit.From_Country__c}"/></td>
                                                    <td width="15%" ><apex:inputfield value="{!TL.transit.To_Country__c}"/></td>
                                                    <!--<td width="15%" ><apex:inputfield value="{!TL.transit.Level_1_Region__c}"/></td>
                                                    <td width="15%" ><apex:inputfield value="{!TL.transit.Level_2_Region__c}"/></td>
                                                    <td width="25%" ><apex:inputfield value="{!TL.transit.Arrival_Date_Time__c}"/></td>-->
                                                    <td width="5%" ><apex:commandbutton value="Add" action="{!Add}" rerender="pb1" rendered="{!TL.addTransitBtn}"/>&nbsp;</td>
                                                </tr>
                                            </table>
                                        </apex:repeat>
                                    </tr>
                                </table> 
                            </apex:outputpanel>
                            <div align="center"> <apex:actionStatus id="actStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></div>
                            <apex:outputPanel >
                            <table width="100%">
                                <tr width="100%">
                                    <td  width="50%" style="text-align:right">
                                        <apex:commandButton style="cursor:pointer;background:#006600;color:white;" status="actStatusId" value="Save" action="{!SaveTransitLocal}" rerender="pb1"/>
                                    </td>
                                    <td  width="50%" style="text-align:left">
                                        <apex:commandButton style="cursor:pointer;background:#006600;color:white;" status="actStatusId" value="Cancel" action="{!CancelTransitLocal}" rerender="pb1"/>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                            </table>
                            </apex:outputPanel>     
                            </apex:pageblock>
                        </apex:form>
                    </div>
                </div>
            </div>
            
        </html>
        
</apex:page>