<apex:page standardController="Authorizations__c"    cache="false" readOnly="true" applyBodyTag="false"  renderAs="pdf" extensions="CARPOL_BRS_PDF_Labels_Extension">
  <body>
  <apex:variable var="rowNum" value="{!0}"/>
  <apex:repeat value="{!labelList}" var="l" >
  
  <!-- <div  style="float: left; width: 352px;  height: 305px; border: 0px black solid;">  -->
  <div  style="float: left; width: 352px;  height: 308px; border: 0px;">  
  <div style="background-image: url({!URLFOR($Resource.CARPOL_BRS_Label)})">
     <div align="center" ><br/>
     <!-- starting If Hand carrry-->
     <apex:outputPanel rendered="{!if(Authorizations__c.BRS_Hand_Carry_For_Importation_Only__c=='Yes',true,false)}">
     <div align="right"><apex:outputLabel value="OMB NO. 0579-0085" style="font-size:7px;"></apex:outputLabel></div>
         <apex:outputLabel value="This Package Contains " style="font-size:7px;"/><br/>
        <b> <apex:outputLabel value="GENETICALLY ENGINEERED ORGANISMS" style="font-size:9px;"/></b><br/>
        <i> <apex:outputLabel value="DO NOT OPEN EXCEPT IN THE PRESENCE OF" style="font-size:9px;"/></i><br/> 
        <i> <apex:outputLabel value="AN APHIS INSPECTOR OR DESIGNATED " style="font-size:9px;"/></i><br/>        
        <i> <apex:outputLabel value="REPRESENTATIVE OF USDA." style="font-size:9px;"/></i><br/>
        <b> <apex:outputLabel value="DELIVER TO" style="font-size:10px;"/></b><br/>
        <b> <apex:outputLabel value="U.S. DEPARTMENT OF AGRICULTURE " style="font-size:9px;"/></b><br/>
        <b> <apex:outputLabel value="ANIMAL AND PLANT HEALTH INSPECTION SERVICE " style="font-size:9px;"/></b><br/>
        <b> <apex:outputLabel value="PLANT PROTECTION AND QUARANTINE" style="font-size:9px;"/></b><br/>
        <table border="0" CELLSPACING="0" CELLPADDING="0">
            <tr>
                <td><b><apex:outputLabel value="Label # " style="font-size:8px;"/></b><apex:outputLabel value="{!l.Name}" style="font-size:8px;"/><br/>
                    <apex:outputtext value="{!l.QRcode_Barcode__c}" escape="false"/>  
               
                </td>
                <td><div align="left"><apex:outputLabel value="BRS Hand Carry Permit" style="font-size:8px;"/><br/>
                    <apex:outputLabel value="Must Comply with Label Instructions" style="font-size:8px;"/><br/>
                    <apex:outputLabel value="Ports of Entry Staffed by CBP-Ag. " style="font-size:8px;"/><br/>
                    <apex:outputLabel value="Inspection" style="font-size:8px;"/><br/>
                    <apex:outputLabel value="USA" style="font-size:8px;"/></div>
                   
                
                </td>
                <td>&nbsp;<b><apex:outputLabel value="Exp" style="font-size:8px;"/></b>&nbsp;
                    <apex:outputText value="{0,date,MM/dd/yyyy}" style="font-size:8px;">
                          <apex:param value="{!l.Notification_Expiration_Date__c}" /> 
                      </apex:outputText><br/><br/><br/><br/><br/>
                     
                </td>
            </tr>
      <!--      <tr>
                <td> <apex:outputtext value="{!l.QRcode_Barcode__c}" escape="false"/>  
                </td>
                <td><div align="left"></div>
                </td>
              <!--  <td>
                    <apex:outputLabel value="{!l.Notification_Expiration_Date__c}" style="font-size:10px;"/>
                </td> 
                <td><apex:outputText value="{0,date,MM/dd/yyyy}" style="font-size:8px;">
                          <apex:param value="{!l.Notification_Expiration_Date__c}" /> 
                      </apex:outputText>
                </td>
            </tr>              -->  
          <!--  <tr>
                <td></td>
                <td><b><apex:outputLabel value="PERMIT NO. {!Authorizations__c.Name}" style="font-size:10px;"/></b></td>
                <td></td>
            </tr> -->
           <tr>
                <td>&nbsp; <apex:outputLabel value="APHIS FORM 2051(JUN 2004)" style="font-size:8px;"/> 
                </td>
                <td><b><apex:outputLabel value="PERMIT NO." style="font-size:8px;"/></b>
                </td>
                <td><apex:outputLabel value="{!Authorizations__c.Permit_Number__c}" style="font-size:8px;"/>
                </td>
            </tr>
        </table>
     </apex:outputPanel>
      <!-- ending If Hand carrry-->
      
       <!-- starting If Not Hand carrry-->
           <apex:outputPanel rendered="{!if(Authorizations__c.BRS_Hand_Carry_For_Importation_Only__c=='No',true,false)}">
           <div align="right"><apex:outputLabel value="OMB NO. 0579-0085" style="font-size:7px;"></apex:outputLabel></div>
         <apex:outputLabel value="This Package Contains" style="font-size:7px;"/><br/>
        <b> <apex:outputLabel value="GENETICALLY ENGINEERED ORGANISMS" style="font-size:9px;"/></b><br/>
        <b><i> <apex:outputLabel value="DO NOT OPEN EXCEPT IN THE PRESENCE OF" style="font-size:9px;"/></i></b><br/>        
        <b><i> <apex:outputLabel value="AN APHIS INSPECTOR OR DESIGNATED " style="font-size:9px;"/></i></b><br/>        
        <b><i> <apex:outputLabel value="REPRESENTATIVE OF USDA." style="font-size:9px;"/></i></b><br/>
        <b> <apex:outputLabel value="DELIVER TO" style="font-size:10px;"/></b><br/>
        <b> <apex:outputLabel value="U.S. DEPARTMENT OF AGRICULTURE " style="font-size:9px;"/></b><br/>
        <b> <apex:outputLabel value="ANIMAL AND PLANT HEALTH INSPECTION SERVICE" style="font-size:9px;"/></b><br/>
        <b> <apex:outputLabel value="PLANT PROTECTION AND QUARANTINE" style="font-size:9px;"/></b><br/>
        <table border="0" CELLSPACING="0" CELLPADDING="0">
            <tr>
                <td><b><apex:outputLabel value="Label # " style="font-size:8px;"/></b><apex:outputLabel value="{!l.Name}" style="font-size:8px;"/><br/>
                <apex:outputtext value="{!l.QRcode_Barcode__c}" escape="false"/> 
               
                </td>
                <td><!-- <apex:outputLabel value="JFK Plant Inspection Station:" style="font-size:8px;"/> <br/> --><div align="left">
                <apex:outputLabel value="{!Authorizations__c.Plant_Inspection_Station__r.Address_1__c}" style="font-size:8px;"/><br/>
                <apex:outputLabel value="{!Authorizations__c.Plant_Inspection_Station__r.Address_2__c}" style="font-size:8px;"/><br/>
                <apex:outputLabel value="{!Authorizations__c.Plant_Inspection_Station__r.City__c}" style="font-size:8px;"/>,
                
                <apex:outputLabel value="{!Authorizations__c.Plant_Inspection_Station__r.State_Code__c}" style="font-size:8px;"/>
                <apex:outputLabel value="{!Authorizations__c.Plant_Inspection_Station__r.Zip__c}" style="font-size:8px;"/><br/>
                <apex:outputLabel value="{!Authorizations__c.Plant_Inspection_Station__r.Country_Code__c}" style="font-size:8px;"/><br/>
                </div><br/>
                </td>
                <td><b>&nbsp;<apex:outputLabel value="Exp" style="font-size:8px;"/></b>&nbsp;
                    <apex:outputText value="{0,date,MM/dd/yyyy}" style="font-size:8px;">
                          <apex:param value="{!l.Notification_Expiration_Date__c}" /> 
                      </apex:outputText><br/><br/><br/><br/><br/>
                     
                </td>
            </tr>
          <!--  <tr>
                <td>
                 
                 <apex:outputtext value="{!l.QRcode_Barcode__c}" escape="false"/> 
                </td>
                <td>
                    <apex:outputLabel value="{!l.Origin_Address__r.Name}" style="font-size:8px;"/>
                </td>
              <!--  <td>
                    <apex:outputLabel value="{!l.Notification_Expiration_Date__c}" style="font-size:10px;"/>
                </td> 
                <td><apex:outputText value="{0,date,MM/dd/yyyy}" style="font-size:8px;">
                          <apex:param value="{!l.Notification_Expiration_Date__c}" /> 
                      </apex:outputText>
                </td> 
            </tr>                
           <!-- <tr>
                <td></td>
                <td ><b><apex:outputLabel value="PERMIT NO. {!Authorizations__c.Name}" style="font-size:10px;"/></b></td>
                <td></td>
            </tr> -->
           <tr>
                <td>&nbsp;<apex:outputLabel value="APHIS FORM 2051(JUN 2004)" style="font-size:8px;"/>
                </td>
                <td><b><apex:outputLabel value="PERMIT NO." style="font-size:8px;"/></b>
                </td>
                <td><apex:outputLabel value="{!Authorizations__c.Permit_Number__c}" style="font-size:8px;"/>
                </td>
            </tr> 
        </table>
     </apex:outputPanel>       
       <!-- ending If Not Hand carrry-->
       <br/>
     </div></div>  </div>
     <apex:variable var="rowNum" value="{!rowNum + 1}"/>
   
 <apex:pageBlock rendered="{! IF(MOD(rowNum,6)=0,true, false)}" >   


      <div style="page-break-before: always" >&nbsp;</div> <!-- always place something inside this div -->
       
   </apex:pageBlock>
  
</apex:repeat> 

<apex:outputPanel rendered="{!rowNum=0}">

<div style="text-align: center;">
No Item records were found for this Order!
</div>
</apex:outputPanel>
  </body>
  
  
</apex:page>