<apex:page standardController="Self_Reporting__c" sidebar="false" extensions="CARPOL_BRS_SelfReportingRecordType" >
        <c:carpolAphisApplicantUI addHomeResources="false"
            showCarpolSidebar="true"
            showWizardLauncher="false"
            >
        
        
        
         <c:pageheader title="Self Report" icon="user" subtitle="{!Self_Reporting__c.Name}"/>
   
   
   
                                <!-------------------------------------------------------------------Chatter-------------------------------------------------->
        <chatter:feedWithFollowers entityId="{!Self_Reporting__c.id}" /> 
        
        
          
          
          <apex:form styleClass="form-horizontal">
          <c:panel icon="folder-close" title="Select Self Reporting Record Type" type="success"> 
             
                   <c:carpolRow >
                       <c:carpolFormFields label="Record Type">
                           <apex:selectList styleClass="form-control" value="{!recordTypeId}" size="1">
                        <apex:selectOptions value="{!RecordTypes}" />
                    </apex:selectList>
                       </c:carpolFormFields>
                   </c:carpolRow>
                   
           </c:panel>
             <div class="btnDiv">
                  <apex:outputText value="{!recordTypeId}"></apex:outputText>
                     <apex:commandButton value="Continue" styleClass="customButton customButtonGreen" action="{!continueAssociate}"/>
                     <apex:commandButton value="cancel" styleClass="customButton customButtonGreen"/>
                     </div>              
         </apex:form>
         <script>
             removeBtnClass();
         </script>
         </c:carpolAphisApplicantUI>
</apex:page>