<apex:page renderAs="PDF" standardController="Application__c" extensions="CARPOL_Standard_Formal_Letter">
<apex:form >
  <div> <c:CARPOL_WizardHeader showefile="false"></c:CARPOL_WizardHeader></div>
  <div>
    <br/><br/>
    <apex:outputText value="{0,date,MMMM dd, yyyy}">   
      <apex:param value="{!TODAY()}" /> 
    </apex:outputText><br/><br/>  
    
      Application No : {!application.Name}<br/><br/>
     {!application.Applicant_Name__r.FirstName}&nbsp;{!application.Applicant_Name__r.LastName}<br/>
     {!application.Applicant_Name__r.MailingStreet}<br/>
     {!application.Applicant_Name__r.MailingCity}, {!application.Applicant_Name__r.MailingState} {!application.Applicant_Name__r.MailingPostalCode}<br/>
     {!application.Applicant_Name__r.MailingCountry}     
     <br/><br/>
     <apex:outputText escape="false" value="{!tp.Communication_Manager__r.Content__c}"/><br/>
         
  </div>        
  <br/><br/>
</apex:form>
</apex:page>