<apex:page standardController="Application__c" extensions="CARPOL_VS_AphisAccount_extension" showheader="false" sidebar="false" >
<apex:form >
<head>

<style type="text/CSS">
tr.dataRow {
       background-color:white;
    }
tr.dataRow#vsData:hover {
       background-color: #e3f3ff;
    };
</style>
</head>

<apex:sectionHeader title="APHIS Account" subtitle="{!Application__c.Name}"/>
<div style="background-color:#F0F0F0;font-size:15px;" align="center">
  <table width="100%" Id="paymentTitle">
    <tr align="center">
      <td> 
        <p style="color:#006600"><b> APHIS Account Payment</b></p>
      </td>                   
    </tr>
  </table>  
</div>

<apex:pageBlock title="Please Enter Your APHIS Account Number:">
  <div align="center">
    <apex:outputPanel id="paymentType">
      <table align="center" width="100%">
        <tr>
          <td>
            <div id="APHISUserFee">
              <table align="center" width="100%" >
                
                 <tr>
                     <td>
                         <apex:inputText value="{!aphisAcctNum}" id="aphisAcctNum"/>
                     </td>
                 </tr>
               <tr>
                  <td align="left">
                    <p style="font-size:14px;color:#006600"><apex:outputLabel value="*Note: If you do not have an APHIS Account, then please contact the APHIS financial department at ###-###-#### to have an account created. "/>&nbsp;&nbsp;</p>
                    <br></br>
                   </td>
                 </tr>
                 <tr>
                     <td>
                         <apex:pageMessages />
                     </td>
                 </tr>
               </table>
             </div>
           </td>
         </tr>
      </table> 
     </apex:outputPanel>         
     <br/>
   </div>
</apex:pageBlock>

<div align="center">
        <apex:commandButton value="Cancel" onclick="window.print();"/>
        <apex:commandButton value="Submit Payment" title="Submit" action="{!submitAphisAccount}"/>
</div>
</apex:form>      
</apex:page>