<apex:page standardController="VS_Ingredient_Treatment_Junction__c" sidebar="false" >    
    <div style="background-color:#F0F0F0;font-size:15px;" align="center">
        <table width="100%" >
            <tr align="center">
                <td> 
                <p style="color:#006600"><b> Note: </b>
                &nbsp;&nbsp;If you cannot find the treatment listed for your ingredient, please contact USDA APHIS VS NIES&nbsp;&nbsp;
                </p>
                </td>                 
                
            </tr>
        </table>  
    </div>  
</apex:page>