<apex:page sidebar="false" controller="CARPOL_AC_Processing" action="{!attachLetter}">
    <apex:form >
        <apex:outputPanel id="messages">
            <div align="center">
                <apex:pageMessages />
            </div>
        </apex:outputPanel>
        <div align="center">
            <table align="center">
                <tr align="center">
                    <td>
                        <br/><br/>
                        <img src="{!$Resource.USDAAPHISLoading}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/><br/>
                        <apex:outputLabel style="font-size:30px;color:#006600">We are sending you to your page. Plese wait ... </apex:outputLabel>
                    </td>
                </tr>
            </table>
        </div>
    </apex:form>
</apex:page>