<apex:page standardController="AC__c" extensions="CARPOL_BRS_CBIPDFExtension" sidebar="false" showHeader="false" renderAs="PDF">
<!--  ==================================================  */
/*  Name: CARPOL_BRS_NOTIFICATION_CBIPDF                  */
/*  Related Classes: CARPOL_BRS_CBIPDF                    */
/*  ====================================================  */
/*  ====================================================  */
/*  Purpose: BRS Specific Activities                      */
/*  ====================================================  */
/*  ====================================================  */
/*  History:                                              */
/*  ----------------------------------------------------  */
/*  VERSION AUTHOR  DATE    DETAIL  RELEASE/CSR           */
/*  1.0 - D12/Kishore 09/09/2015  INITIAL DEVELOPMENT     */
/*  ==================================================== -->
 <apex:pageBlock >
<apex:stylesheet value="{!$Resource.Universal_PDF_CSS}" />
 <div class="header">
         Application No. {!AC__c.Application_Number__r.Name}<br/>
         PDF with CBI
        </div>
<div class="footer">
<div>Page <span class="pagenumber"/> of <span class="pagecount"/></div>
</div>
<div align="center" valign="top">
        <h4>U.S. DEPARTMENT OF AGRICULTURE<br/>
        ANIMAL AND PLANT HEALTH INSPECTION SERVICE<br/>
        BIOTECHNOLOGY REGULATORY SERVICES<br/>
        <b>BRS NOTIFICATION - INTRODUCTION OF GENETICALLY ENGINEERED PLANTS</b></h4>
       <br/>
       <table class="border" cellspacing="0">
       <tr><td width="50%" rowspan="2" align="left">
               <!-- Name,NAME, ADDRESS, TELEPHONE, AND EMAIL OF APPLICANT SECTION -->
               <h5>1. NAME, ADDRESS, TELEPHONE, AND EMAIL OF APPLICANT</h5>
               <table class="noBorder" cellspacing="0">
                <tr>
                    <td class="small_11_hd" width="30%">Name:</td>
                    <td class="small_11" width="70%">{!listlineitem[0].Application_Number__r.Applicant_Name__r.Name}</td>
               </tr>
              <!--tr>
                    <td class="small_11_hd">Position:</td>
                    <td class="small_11">{!AC__c.Application_Number__r.Position__c}</td>
             </tr-->
                <tr>
                    <td class="small_11_hd" width="30%">Organization:</td>
                    <td class="small_11" width="70%">{!AC__c.Application_Number__r.Organization__c} <!-- validate that AC & BRS share this field -->
                    </td>
                 </tr>
               <!--tr>
                    <td class="small_11_hd" width="30%">Organization Unique ID:</td>
                    <td class="small_11" width="70%">{!AC__c.Application_Number__r.Organization_Unique_ID__c}</td>
                </tr-->
                <tr>
                    <td class="small_11_hd" width="30%">Address</td>
                    <td class="small_11" width="70%">{!AC__c.Application_Number__r.Applicant_Address__c}</td>
                </tr>
              <!--tr>
                    <td class="small_11_hd" width="30%">County/Province:</td>
                    <td class="small_11" width="70%">
                       {!AC__c.Application_Number__r.County_Province__c}
                    </td>
                </tr>
                              <tr>
                    <td class="small_11_hd" width="30%">Township/Island:</td>
                    <td class="small_11" width="70%">
                        {!AC__c.Application_Number__r.Township_Island__c}
                    </td>
                </tr-->
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="small_11_hd" width="30%">Day Telephone:</td>
                    <td class="small_11" width="70%"><!-- there are two phone fields -->
                    {!AC__c.Application_Number__r.Applicant_Phone__c}</td>
                      </tr>

                <tr>
                    <td class="small_11_hd" width="30%">Fax:</td>
                    <td class="small_11" width="70%">{!AC__c.Application_Number__r.Applicant_Fax__c}</td>
                </tr>
                  <!--tr>
                    <td class="small_11_hd" width="30%">Alternate:</td>
                    <td class="small_11" width="70%">{!AC__c.Application_Number__r.Alternate__c}</td>
                </tr-->
               <tr>
                    <td class="small_11_hd" width="30%"></td>
                    <td>

                    </td>
                </tr>
                 <tr>
                    <td class="small_11_hd" width="30%">Email:</td>
                    <td class="small_11" width="70%">{!AC__c.Application_Number__r.Applicant_Email__c}</td>
                </tr>
                  <tr>
                    <td class="small_11_hd" width="30%">Alternate Email:</td>
                    <td class="small_11" width="70%">{!AC__c.Application_Number__r.Email_2__c}</td>
                </tr>
              </table>
              <!-- END -- Name,NAME, ADDRESS, TELEPHONE, AND EMAIL OF APPLICANT SECTION -->
             </td>
             <td align="left" width="50%">
             <!--<h5>2. PURPOSE OF IMPORTATION </h5>-->
             <h5>2. PURPOSE OF INTRODUCTION </h5>

                     <table class="noBorder" width="100%" cellspacing="0">
                             <tr>
                                 <td width="5%">
                                  <apex:image url="{!IF(AC__c.Movement_Type__c == 'Import', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />
                                  </td>
                                  <td width="95%" class="small_11">Importation</td>
                               </tr>
                              <tr>
                                 <td width="5%" >
                                  <apex:image url="{!IF(AC__c.Movement_Type__c == 'Interstate Movement', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />
                                  </td>
                                  <td width="80%" class="small_11">Interstate Movement</td>
                               </tr>
                                <tr>
                                 <td width="5%">
                                  <apex:image url="{!IF(AC__c.Movement_Type__c == 'Interstate Movement and Release', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />
                                  </td>
                                  <td width="80%" class="small_11">Interstate Movement and Release</td>
                               </tr>
                                <tr>
                                 <td width="5%">
                                  <apex:image url="{!IF(AC__c.Movement_Type__c == 'Release', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}"   />
                                  </td>
                                  <td width="80%" class="small_11">Release</td>
                               </tr>
                     </table>

     </td>
      </tr>
         <!-- <tr><td valign="top" align="left"><h5>3. APPLICANT REFERENCE NUMBER</h5><br/>
           {!Application__r.Application_Reference_Number__c}  </td>
             </tr>-->
      </table>
      </div>
<!-- CBI TABLE -->
       <!--div style="page-break-after:always;" class="no_box">
      <h5>4. CONFIDENTIAL BUSINESS INFORMATION VERIFICATION (CBI)</h5>
      Does this application contain CBI? <apex:image url="{!IF(AC__c.Does_This_Application_Contain_CBI__c == 'Yes', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />Yes   <apex:image url="{!IF(AC__c.Does_This_Application_Contain_CBI__c == 'No', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />No<br/><br/>

      CBI Justification:<br/>
      {!AC__c.CBI_Justification__c}
             </div--
      <!------------------------------------ CBI TABLE --------------------------------------------------------------->
       <!--<div style="page-break-after:always;" class="no_box">-->
      <h5>3. CONFIDENTIAL BUSINESS INFORMATION VERIFICATION (CBI)</h5>
      <!--Does this application contain CBI? <apex:image url="{!IF(Authorizations__c.Application_CBI__c == 'Yes', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />Yes   <apex:image url="{!IF(Authorizations__c.Application_CBI__c == 'No', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />No<br/><br/>

      CBI Justification:<br/>
      {!Authorizations__c.CBI__c}-->
        <apex:variable value="{!1}" var="rowNum"/>
       <!--<div class="box" style="page-break-after:always;">-->
      <div class="box" style="break-after:always;">   
       <table cellspacing="0">

        <b>Does this application contain CBI?</b> <apex:image url="{!IF(AC__c.Does_This_Application_Contain_CBI__c == 'Yes', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />Yes
        <apex:image url="{!IF(AC__c.Does_This_Application_Contain_CBI__c == 'No', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}" />No<br/><br/>
        <tr><td class="small_11_hd" width="20%">{!rowNum}.) CBI Justification:<br/></td><td>{!AC__c.CBI_Justification__c} </td></tr>
        </table>
        <!--</div>-->
        </div>
 
      <!----------------------------------------------- REGULATED ARTICLES --------------------------------------------------------------->
      <br/>
      <h5>4.REGULATED ARTICLES</h5>
      <div class="box">
       <apex:variable value="{!1}" var="rowNumRa"/>
      <apex:repeat var="RegArtno" value="{!lstLinkRegArticles}">
      <!--<div class="box" style="page-break-after:always;">-->
       <table cellspacing="0">

        <!--<tr><td width="20%">{!rowNumRa}.) Regulated Article:</td><td>{!RegArtno.Regulated_Article_Text__c} </td></tr>
        <tr><td>Cultivator and or Breeding Line:</td><td>{!RegArtno.Cultivar_and_or_Breeding_Line__c}</td></tr>-->
        
        <tr><td class="small_11_hd" width="50%">{!rowNumRa}.) Scientific Name:</td><td>{!RegArtno.Scientific_Name__c} </td></tr>
        <tr><td class="small_11_hd" width="50%">&nbsp;&nbsp;&nbsp;&nbsp; Common Name:</td><td>{!RegArtno.Common_Name__c} </td></tr>
        <tr><td class="small_11_hd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cultivator and or Breeding Line:</td><td>{!RegArtno.Cultivar_and_or_Breeding_Line__c}</td></tr>


       </table>
       <!--</div>-->
        <apex:variable var="rowNumRa" value="{!rowNumRa + 1}"/>
       </apex:repeat>
       </div>
        <apex:variable var="rowNum" value="{!rowNum + 1}"/>
 
     <br/> 
    <!----------------------------------------------- CONSTRUCT(s)  ------------------------------------------->       

       <!-- <h5> 5.CONSTRUCT(s)</h5>
       div class="box"
      <apex:variable value="{!1}" var="rowNumconstruct"/>
      <apex:repeat var="ruleno1" value="{!lstConstruct}">
      <!--<div class="box" style="page-break-after:always;">
      <div class="box" >
       <table cellspacing="0">
           <tr><td class="small_11_hd" width="25%">{!rowNumconstruct}.) Construct Name:</td><td>{!ruleno1.Construct_s__c} </td></tr>
           <tr><td class="small_11_hd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Identifying Line(s):</td><td>{!ruleno1.Identifying_Line_s__c}</td></tr>
           <tr><td class="small_11_hd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mode of Transformation:</td><td>{!ruleno1.Mode_of_Transformation_Text__c}</td></tr><br/>

           
         <!--<tr><td width="20%">{!rowNumconstruct}.) Construct Name:</td><td>{!ruleno1.Construct_s__c} </td></tr>
        <tr><td>Identifying Line(s):</td><td>{!ruleno1.Identifying_Line_s__c}</td></tr>
        <tr><td>Mode of Transformation:</td><td>{!ruleno1.Mode_of_Transformation_Text__c}</td></tr>
        <tr><td class="small_11_hd" colspan="2">Phenotype(s):<br/>
         
           <!-- <apex:repeat var="phenonum" value="{!ruleno1.phenotypes__r}">
               {!phenonum.Phenotype_Category_Text__c}  {!phenonum.Phenotypic_Description__c} <br/>
            </apex:repeat>

         <apex:variable value="{!1}" var="rowNumpheno"/>
            <apex:repeat var="phenonum" value="{!ruleno1.phenotypes__r}">
             <!--<tr><td colspan="2"><b>Phenotype {!rowNumpheno} :</b>{!phenonum.Phenotype_Category_Text__c}  {!phenonum.Phenotypic_Description__c} </td></tr>
               <tr><td colspan="2">{!phenonum.Phenotype_Category_Text__c}  {!phenonum.Phenotypic_Description__c} </td></tr>           
               <apex:variable var="rowNumpheno" value="{!rowNumpheno + 1}"/>
            </apex:repeat>   
         
        </td></tr>
        
         
               <!--apex:repeat var="genonum" value="{!ruleno1.genotypes__r}"-->
                   
                 <!--<apex:repeat var="genonum" value="{!ruleno1.genotypes__r}">
                      {!genonum.Record_Type_Text__c}:<br/>
                      {!genonum.Construct_Component__c}: {!genonum.Construct_Component_Text__c} <b>from</b> {!genonum.Donor_List__c} - {!genonum.Description__c}<br/>
                 </apex:repeat> 
          <tr><td class="small_11_hd" colspan="2">Genotype(s):</td></tr>
              <tr><td colspan="2">
        <apex:variable value="{!1}" var="rowNumgeno"/>
        <apex:repeat var="genotype" value="{!genort}">
            <!--apex:outputText >{!rowNumgeno}.</apex:outputText><br></br
            <apex:repeat var="genoRec" value="{!recTypeGenotypeMap}">
                <apex:outputText value="{!genoRec} :" rendered="{!IF(genoRec=genotype,true,false)}"></apex:outputText>
                  <apex:variable value="{!1}" var="rowNumgenocomp"/>
                  <apex:repeat var="generec1" value="{!recTypeGenotypeMap[genoRec]}" rendered="{!IF(genoRec=genotype,true,false)}">
                      <apex:outputText >{!generec1.Construct_Component_Text__c}: {!generec1.Construct_Component_Name__c} from {!generec1.Donor_List__c} - {!generec1.Description__c}</apex:outputText> <!-- {!rowNumgenocomp}. 
                      <apex:variable var="rowNumgenocomp" value="{!rowNumgenocomp + 1}"/><br/>
                  </apex:repeat>
            </apex:repeat>
        <apex:variable var="rowNumgeno" value="{!rowNumgeno + 1}"/>
        </apex:repeat>

        </td></tr>
       </table>
       
       </div> 
       <apex:variable var="rowNumconstruct" value="{!rowNumconstruct + 1}"/>
       </apex:repeat>
        <!--</div>--> 
       <!-- Repeat above formatting per construct generate dynamically in class -->

     <!--<br/>-->

 <!-- Constructs -->
       <!--h5>5.CONSTRUCT(s)</h5>

      <apex:repeat var="ruleno1" value="{!lstConstruct}">
      <div class="box" style="page-break-after:always;">
       <table cellspacing="0">

        <tr><td width="20%">Construct Name:</td><td>{!ruleno1.Construct_s__c} </td></tr>
        <tr><td>Identifying Line(s):</td><td>{!ruleno1.Identifying_Line_s__c}</td></tr>
        <tr><td>Mode of Transformation:</td><td>{!ruleno1.Mode_of_Transformation__c}</td></tr>
        <tr><td colspan="2" >Phenotype(s)
        <pre>
        <apex:repeat var="phenonum" value="{!ruleno1.phenotypes__r}">
           {!phenonum.Phenotypic_Category__c}  {!phenonum.Phenotypic_Description__c}
        </apex:repeat>
    </pre>
        </td></tr>
        <tr><td colspan="2"><b>Genotype(s)</b></td></tr>
         <tr><td colspan="2" >
 
                <apex:repeat var="genonum" value="{!ruleno1.genotypes__r}">
           <u>{!genonum.Genotype__c}:</u><br/> {!genonum.Construct_Component__c}: {!genonum.Construct_Component_Name__c} <b>from</b> {!genonum.Donor_List__c} - {!genonum.Description__c}<br/>
               </apex:repeat>

                </td></tr>
       </table>
       </div>
       </apex:repeat-->
       <!-- Repeat above formatting per construct generate dynamically in class -->
  <!-- Design Protocol -->
      <!-- Repeat below formatting per construct generate dynamically in class -->
      <!--h5>6. STANDARD OPERATING PROCEDURES</h5>
     <apex:variable value="{!1}" var="rowNum"/>
      <apex:repeat var="designno" value="{!lstSop}">
      <div class="box" style="page-break-after:always;">
       <table cellspacing="0">

        <tr><td width="20%">{!rowNum}.) Standard Operating Procedure Name:</td><td>{!designno.Design_Protocol_Name__c} </td></tr>
        <tr><td>Purpose of Importation:</td><td>{!AC__c.Purpose_of_the_Importation__c}</td></tr>
        <tr><td>Attaching or Entering:</td><td>{!designno.Attaching_or_Entering_Design_Protocols__c}</td></tr>
        <tr><td colspan="2" >Performance Standards:
           {!designno.Performance_Standard__c}
        </td></tr>

       </table>
       </div>
        <apex:variable var="rowNum" value="{!rowNum + 1}"/>
       </apex:repeat-->
         <!-------------------------CONSTRUCT WITH NO CBI NEW FORMAT----------------------------------------->
     <!----------------------------------------------- CONSTRUCT(s) with CBI NEW FORMAT------------------------------------------->       
       
        <h5> 6.CONSTRUCT(s)</h5>
       <apex:variable value="{!1}" var="rowNumconstruct"/>
       <apex:repeat var="ruleno1" value="{!lstConstruct}">
       <div class="box" >
       <table cellspacing="0">
        <tr><td class="small_11_hd" width="25%">{!rowNumconstruct}.) Construct Name:</td><td>{!ruleno1.Construct_s__c} </td></tr>
        <tr><td class="small_11_hd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Identifying Line(s):</td><td>{!ruleno1.Identifying_Line_s__c}</td></tr>
        <tr><td class="small_11_hd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mode of Transformation:</td><td>{!ruleno1.Mode_of_Transformation_Text__c}</td></tr><br/>
        <!---------------------------- Pheno Types -----------------------------> 
         <tr><td class="small_11_hd" colspan="2">Phenotype(s):<br/>
         <apex:variable value="{!1}" var="rowNumpheno"/>
             <apex:repeat var="phenonum" value="{!lstPheno}">
              <apex:outputPanel rendered="{!if(ruleno1.id == phenonum.Construct__c,true,false)}"> 
                <tr><td colspan="2">{!phenonum.Phenotype_Category_Text__c}  {!phenonum.Phenotypic_Description__c}</td></tr> 
             <apex:variable var="rowNumpheno" value="{!rowNumpheno + 1}"/>
          </apex:outputPanel> 
            </apex:repeat><br/>
         
        </td></tr>
        <!---------------------------- Geno Types -----------------------------> 
      <tr><td class="small_11_hd" colspan="2">Genotype(s):</td></tr>
    <apex:variable value="{!1}" var="rowNumgeno"/>
    <apex:repeat var="recType" value="{!GenoRecordtypes}" id="genoId">
        
         
    <apex:variable value="{!1}" var="rowNumgenoconscomp"/>
        <apex:repeat var="genoRec" value="{!lstgeno}">
         <apex:outputPanel rendered="{!IF(genoRec.recordtype.name = recType.Name && ruleno1.id == genoRec.Related_Construct_Record_Number__c && rowNumgenoconscomp <2,true,false)}">
                  <apex:outputText value="{!recType.name} :"></apex:outputText>
                   <apex:variable var="rowNumgenoconscomp" value="{!rowNumgenoconscomp + 1}"/>
        </apex:outputPanel>
        </apex:repeat><br/>
          
          <!--<apex:variable value="{!1}" var="rowNumgenoconscomp"/>-->
          <apex:variable value="{!1}" var="rowNumgenocomp"/>
          
           <apex:repeat var="genoRec" value="{!lstgeno}">
                <apex:outputPanel rendered="{!if(ruleno1.id == genoRec.Related_Construct_Record_Number__c,true,false)}"> 
                     <apex:outputPanel rendered="{!IF(genoRec.recordtype.name = recType.Name,true,false)}">
                       <apex:outputText >{!genoRec.Construct_Component_Text__c}: {!genoRec.Construct_Component_Name__c} from {!genoRec.Donor_List__c} - {!genoRec.Description__c}</apex:outputText> <br/>
                    
                     
                    </apex:outputPanel>

                   </apex:outputPanel>
                  
                    <apex:variable var="rowNumgenocomp" value="{!rowNumgenocomp + 1}"/> 
            </apex:repeat>  
           
       <apex:variable var="rowNumgeno" value="{!rowNumgeno + 1}"/> 
  </apex:repeat>
       </table>
       
       </div> 
      <apex:variable var="rowNumconstruct" value="{!rowNumconstruct + 1}"/>
       </apex:repeat>
 
         
       <!----------------------------------------------- SOP(s)  -------------------------------------------> 
 
      <h5>7.STANDARD OPERATING PROCEDURES</h5>
      <apex:variable value="{!1}" var="rowNumSop"/>
      <apex:repeat var="designno" value="{!lstSop}">
      <div class="box">
       <table cellspacing="0">

        <tr><td width="20%">{!rowNumSop}.) Design Protocol Name:</td><td>{!designno.File_Name__c} </td></tr>
       </table>
       </div>
        <apex:variable var="rowNumSop" value="{!rowNumSop + 1}"/>
       </apex:repeat>
       <!-- Repeat above formatting per Design Protocol generate dynamically in class -->


       <!-- Locations -->

    <!--apex:variable value="{!1}" var="rowNumOrgLoc"/>
    <apex:variable value="{!1}" var="pageSize"/>
      <br/>
 
     <apex:variable value="{!1}" var="rowNum"/>
    <apex:variable value="{!1}" var="pageSize"/>
       <h5>8. LOCATIONS</h5>
      <p class="txt12U">Point of Origin</p>
      <div class="no_box" width="100%">
      <table class="border" width="100%" cellspacing="0">
       <apex:repeat var="orignum" value="{!lstOrigins}">
          <apex:outputText rendered="{!If(pageSize=1,True,False)}">
        <tr><th width="35%">Location Name and Description</th><th width="32.5%">Location Address</th><th width="32.5%">Contact(s)</th></tr>
         </apex:outputtext>
         <tr>
            <td>{!rowNum}.) {!orignum.Organization__c} - {!orignum.Location_Id__c}</td>
            <td>{!orignum.Street_Add1__c}<BR/> {!orignum.Street_Add2__c}<BR/> {!orignum.Street_Add3__c}<br/> {!orignum.City__c}, {!orignum.State__r.Name} {!orignum.Zip__c} <BR/>County: {!orignum.Level_2_Region__r.Level_2_Name__c} </td>
            <td>{!orignum.Primary_Contact__r.Name}<br/>{!orignum.Contact_Address1__c}<br/>{!orignum.Contact_City__c}<br/>{!orignum.Primary_Contact__c}, {!orignum.Primary_State_Text__c} {!orignum.Contact_Zip__c}<br/>{!orignum.Country_Text__c }<br/>Day Telephone: {!orignum.Day_Phone__c}<br/>Email 1: {!orignum.Email_1__c}  <apex:variable var="pageSize" value="{!pageSize + 1}"/>
         <apex:outputText rendered="{!If(pageSize=7,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext>
        </td>
         </tr>
          <apex:variable var="rowNum" value="{!rowNum + 1}"/>
         </apex:repeat>

       </table>
       </div>
 
       <p class="txt12U">Origin and Destination</p>
      <div class="no_box" width="100%">
      <table class="border" width="100%" cellspacing="0">
       <apex:repeat var="orignum" value="{!lstOandD}">
          <apex:outputText rendered="{!If(pageSize=1,True,False)}">
        <tr><th width="35%">Location Name and Description</th><th width="32.5%">Location Address</th><th width="32.5%">Contact(s)</th></tr>
         </apex:outputtext>
         <tr>
            <td>{!rowNum}.) {!orignum.Organization__c} - {!orignum.Location_Id__c}</td>
            <td>{!orignum.Street_Add1__c}<BR/> {!orignum.Street_Add2__c}<BR/> {!orignum.Street_Add3__c}<br/> {!orignum.City__c}, {!orignum.State__r.Name} {!orignum.Zip__c} <BR/>County: {!orignum.Level_2_Region__r.Level_2_Name__c} </td>
            <td>{!orignum.Primary_Contact__r.Name}<br/>{!orignum.Contact_Address1__c}<br/>{!orignum.Contact_City__c}<br/>{!orignum.Primary_Contact__c}, {!orignum.Primary_State_Text__c} {!orignum.Contact_Zip__c}<br/>{!orignum.Country_Text__c }<br/>Day Telephone: {!orignum.Day_Phone__c}<br/>Email 1: {!orignum.Email_1__c}  <apex:variable var="pageSize" value="{!pageSize + 1}"/>
         <apex:outputText rendered="{!If(pageSize=7,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext>
        </td>
         </tr>
          <apex:variable var="rowNum" value="{!rowNum + 1}"/>
         </apex:repeat>

       </table>
       </div>
 
         <apex:variable value="{!1}" var="pageSize"/>
      <p class="txt12U">Destination</p>
      <div class="no_box">
       <table class="border" cellspacing="0">
        <apex:variable value="{!1}" var="rowNum"/>
         <apex:repeat var="destVals" value="{!lstDestinations}">

                 <apex:outputText rendered="{!If(pageSize=1,True,False)}">
                <tr><th width="35%">Location Name and Description</th><th width="32.5%">Location Address</th><th width="32.5%">Contact(s)</th></tr>
         </apex:outputtext>
        <tr>
            <td >{!rowNum}.) {!destVals.Organization__c} - {!destVals.Location_Id__c}</td>
            <td >{!destVals.Street_Add1__c}<BR/>{!destVals.City__c}, {!destVals.State__r.Name } {!destVals.Zip__c} <BR/>County: {!destVals.Level_2_Region__r.Level_2_Name__c} <BR/><b>Quantity:</b> {!destVals.Quantity_Text__c}</td>
           <td>{!destVals.Primary_Contact__r.Name}<br/>{!destVals.Contact_Address1__c}<br/>{!destVals.Contact_City__c}<br/>{!destVals.Primary_Contact__c}, {!destVals.Primary_State_Text__c} {!destVals.Contact_Zip__c}<br/>{!destVals.Country_Text__c }<br/>Day Telephone: {!destVals.Day_Phone__c}<br/>Email 1: {!destVals.Email_1__c}
            <apex:variable var="pageSize" value="{!pageSize + 1}"/>
            <apex:outputText rendered="{!If(pageSize=6,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext>
            </td>
        </tr>
        <apex:variable var="rowNum" value="{!rowNum + 1}"/>
         </apex:repeat>
       </table>
       </div>

       <apex:variable value="{!1}" var="pageSize"/>
      <p class="txt12U">Release Sites</p>
      <div class="no_box">
       <table class="border" cellspacing="0">
         <apex:variable value="{!1}" var="rowNum"/>
        <apex:repeat var="releaseVals" value="{!lstReleases}">
         <apex:outputText rendered="{!If(pageSize=1,True,False)}">
            <tr><th width="35%">Location Name and Description</th><th width="32.5%">Location Address</th><th width="32.5%">Contact(s)</th></tr>
         </apex:outputtext>
         <tr>
            <td>{!rowNum}.) {!releaseVals.Organization__c} - {!releaseVals.Location_Id__c}</td>
            <td>{!releaseVals.Street_Add1__c}<BR/>{!releaseVals.City__c}, {!releaseVals.State__r.Name } {!releaseVals.Zip__c}  <BR/>County: {!releaseVals.Level_2_Region__r.Level_2_Name__c}<BR/><b>Number of Proposed Plantings:</b> {!releaseVals.Proposed_Planting__c} <BR/><b>Quantity:</b>{!releaseVals.Quantity_Text__c}</td>
            <td>{!releaseVals.Primary_Contact__r.Name}<br/>{!releaseVals.Contact_Address1__c}<br/>{!releaseVals.Contact_City__c} <br/>{!releaseVals.Level_2_Region__r.Level_2_Name__c}<br/> {!releaseVals.Contact_City__c}, {!releaseVals.Primary_State_Text__c} {!releaseVals.Contact_Zip__c}<br/>{!releaseVals.Country_Text__c }<br/>Day Telephone: {!releaseVals.Day_Phone__c}<br/>Email 1: {!releaseVals.Email_1__c}</td>
        </tr>
           <tr>
            <td colspan="3">
                   <table class="noBorder" cellspacing="0">
                   <tr>
                      <td>Location Unique ID:</td>
                      <td>{!releaseVals.Location_Id__c}</td>
                   </tr>
                   <tr>
                      <td>Location GPS Coordinates:</td>
                      <td>  <apex:outputText rendered="{!If(releaseVals.GPS_1__c!=NULL,True,False)}">{!releaseVals.GPS_1__c}, {!releaseVals.GPS_2__c}<br/></apex:outputText>
 <apex:outputText rendered="{!If(releaseVals.GPS_3__c!=NULL,True,False)}">{!releaseVals.GPS_3__c}, {!releaseVals.GPS_4__c}<br/></apex:outputText>
  <apex:outputText rendered="{!If(releaseVals.GPS_5__c!=NULL,True,False)}">{!releaseVals.GPS_3__c}, {!releaseVals.GPS_6__c}</apex:outputText>
                      </td>
                   </tr>
                    <tr>
                      <td>Release Site History:</td>
                      <td>{!releaseVals.Release_History__c}</td>
                   </tr>
                   <tr>
                      <td>Critical Habitat Involved?:</td>
                      <td> <apex:image url="{!IF(releaseVals.Critical_Habitat_Involved__c == 'Yes', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}"   /> Yes  <apex:image url="{!IF(releaseVals.Critical_Habitat_Involved__c == 'No', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}"   /> No</td>
                   </tr>
                   </table>
                    <apex:variable var="pageSize" value="{!pageSize + 1}"/>
            <apex:outputText rendered="{!If(pageSize=4,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext> </td>
        </tr>
        <apex:variable var="rowNum" value="{!rowNum + 1}"/>
         </apex:repeat>
        </table>
       </div-->
        
     <!-- Locations -->
    <!--<apex:variable value="{!1}" var="rowNumOrgLoc"/>
    <apex:variable value="{!1}" var="pageSize"/>-->
      <!-- Repeat below formatting per origin generate dynamically in class -->
     <br/>
       
      <!----------------------------------------------- LOCATION(s) ----------------------------------------->  

     <h5>8.LOCATIONS</h5>
      <!--p class="txt12U">Point of Origin</p-->
      <!--<div class="no_box" width="100%">
      <table class="border" width="100%" cellspacing="0">-->
      <apex:variable value="{!1}" var="rowNumOrgLoc"/>
        <apex:variable value="{!1}" var="pageSize"/>  
       <apex:repeat var="orignum" value="{!lstOrigins}">
                   
                  <table width="100%" style="border: 1px solid black;">
                 
                     <apex:outputText rendered="{!If(pageSize=1,True,False)}">
                    <tr ><th width="25%" style=" border: 1px solid black;">Origin Location</th><th width="45%" style=" border: 1px solid black;">Location Address</th><th width="30%" style=" border: 1px solid black;">Contact(s)</th></tr>
                     </apex:outputtext>
                 
                 
                 <!-- <div class="box">  -->
                 
                     <tr width="100%">
                        <td  width="25%" style=" border: 1px solid black;">{!rowNumOrgLoc}.) {!orignum.Name} </td>
                        <td width="45%" style=" border: 1px solid black;">{!orignum.Street_Add1__c}<BR/> {!orignum.Street_Add2__c}<BR/> {!orignum.Street_Add3__c}{!orignum.Street_Add4__c}<br/> {!orignum.City__c} {!orignum.State__r.Name}<br/>{!orignum.Country_Text__c} {!orignum.Zip__c} <br/><b>County: </b>{!orignum.County_Text__c}</td>
                        <td  width="30%" style=" border: 1px solid black;">{!orignum.Contact_Name1__c} {!orignum.Primary_Contact_Last_Name__c}<br/>{!orignum.Contact_Address1__c}<br/>{!orignum.Contact_City__c}<br/> {!orignum.Primary_State_Text__c} {!orignum.Contact_Zip__c}<br/>{!orignum.Primary_Country_Text__c}<br/><b>Day Telephone:</b> {!orignum.Day_Phone__c}<br/><b>Email :</b> {!orignum.Email_1__c}  <apex:variable var="pageSize" value="{!pageSize + 1}"/>

                         
                        <!--<td  width="25%" style=" border: 1px solid black;">{!rowNumOrgLoc}.) {!orignum.Organization__c} - {!orignum.Location_Id__c}</td>
                        <td  width="45%" style=" border: 1px solid black;">{!orignum.Street_Add1__c}<BR/> {!orignum.Street_Add2__c}<BR/> {!orignum.Street_Add3__c}{!orignum.Street_Add4__c}<br/> {!orignum.City__c} {!orignum.State__r.Name} {!orignum.Zip__c} <BR/>County: {!orignum.County_Text__c} <br/>{!orignum.Country_Text__c}</td>
                        <td  width="30%" style=" border: 1px solid black;">{!orignum.Primary_Contact__r.Name}<br/>{!orignum.Contact_Address1__c}<br/>{!orignum.Contact_City__c}<br/>{!orignum.Primary_Contact__c} {!orignum.Primary_State_Text__c} {!orignum.Contact_Zip__c}<br/>{!orignum.Primary_Country_Text__c}<br/>Day Telephone: {!orignum.Day_Phone__c}<br/>Email 1: {!orignum.Email_1__c}  <apex:variable var="pageSize" value="{!pageSize + 1}"/>-->
                   <apex:outputText rendered="{!If(pageSize=7,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext>
                      </td>
                      </tr>
                       </table>
                       
               <!--  </div> <br/> -->
                  <apex:variable var="rowNumOrgLoc" value="{!rowNumOrgLoc + 1}"/>
             
         </apex:repeat><br/>
     
       <!--</table>
       </div>-->
       <!-- Repeat above formatting per origin generate dynamically in class -->


  <!-- Repeat below formatting per Origin and Destination generate dynamically in class -->

       <!--p class="txt12U">Origin and Destination</p-->
      <!--<div class="no_box" width="100%">
      <table class="border" width="100%" cellspacing="0">-->
      <apex:variable var="rowNum" value="{!1}"/>
      <apex:variable value="{!1}" var="pageSize"/>
       <apex:repeat var="orignum" value="{!lstOandD}">
                         <table width="100%" style="border: 1px solid black;">
                 
                     <apex:outputText rendered="{!If(pageSize=1,True,False)}">
                    <tr ><th width="25%" style=" border: 1px solid black;">Origin and Destination</th><th width="45%" style=" border: 1px solid black;">Location Address</th><th width="30%" style=" border: 1px solid black;">Contact(s)</th></tr>
                     </apex:outputtext>
                 
                 
                 <!-- <div class="box">  -->
                 
                     <tr width="100%">
                        <td  width="25%" style=" border: 1px solid black;">{!rowNum}.) {!orignum.Name} </td>
                        <td width="45%" style=" border: 1px solid black;">{!orignum.Street_Add1__c}<BR/> {!orignum.Street_Add2__c}<BR/> {!orignum.Street_Add3__c}{!orignum.Street_Add4__c}<br/> {!orignum.City__c} {!orignum.State__r.Name}<br/>{!orignum.Country_Text__c} {!orignum.Zip__c} <br/><b>County: </b>{!orignum.County_Text__c}<br/><b>Quantity:</b> {!orignum.Quantity_Text__c} {!orignum.Unit_of_Measure_Text__c}</td>
                        <td  width="30%" style=" border: 1px solid black;">{!orignum.Contact_Name1__c} {!orignum.Primary_Contact_Last_Name__c}<br/>{!orignum.Contact_Address1__c}<br/>{!orignum.Contact_City__c}<br/> {!orignum.Primary_State_Text__c} {!orignum.Contact_Zip__c}<br/>{!orignum.Primary_Country_Text__c}<br/><b>Day Telephone:</b> {!orignum.Day_Phone__c}<br/><b>Email :</b> {!orignum.Email_1__c}  <apex:variable var="pageSize" value="{!pageSize + 1}"/>

                         
                        <!--<td  width="25%" style=" border: 1px solid black;">{!rowNumOrgLoc}.) {!orignum.Organization__c} - {!orignum.Location_Id__c}</td>
                        <td  width="45%" style=" border: 1px solid black;">{!orignum.Street_Add1__c}<BR/> {!orignum.Street_Add2__c}<BR/> {!orignum.Street_Add3__c}{!orignum.Street_Add4__c}<br/> {!orignum.City__c} {!orignum.State__r.Name} {!orignum.Zip__c} <BR/>County: {!orignum.County_Text__c}<br/>{!orignum.Country_Text__c} </td>
                        <td  width="30%" style=" border: 1px solid black;">{!orignum.Primary_Contact__r.Name}<br/>{!orignum.Contact_Address1__c}<br/>{!orignum.Contact_City__c}<br/>{!orignum.Primary_Contact__c} {!orignum.Primary_State_Text__c} {!orignum.Contact_Zip__c}<br/>{!orignum.Primary_Country_Text__c}<br/>Day Telephone: {!orignum.Day_Phone__c}<br/>Email 1: {!orignum.Email_1__c}  <apex:variable var="pageSize" value="{!pageSize + 1}"/>-->
                   <apex:outputText rendered="{!If(pageSize=7,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext>
                      </td>
                      </tr>
                       </table>
                       <!--  </div> <br/> -->
                  <apex:variable var="rowNum" value="{!rowNum + 1}"/>
           </apex:repeat><br/> 
          
       <!--</table>
       </div>-->
       <!-- Repeat above formatting per Origin and Destination generate dynamically in class -->
        <!-- Repeat below formatting per DESTINATION generate dynamically in class -->

        <apex:variable value="{!1}" var="pageSize"/>
              <!--p class="txt12U">Destination</p-->
              <!--<div class="no_box">
               <table class="border" cellspacing="0">-->
                <apex:variable value="{!1}" var="rowNumDesLoc"/>
                              
                 <apex:repeat var="destVals" value="{!lstDestinations}">
                        <table width="100%" style="border: 1px solid black;">
                 
                     <apex:outputText rendered="{!If(pageSize=1,True,False)}">
                    <tr ><th width="25%" style=" border: 1px solid black;">Destination Location</th><th width="45%" style=" border: 1px solid black;">Location Address</th><th width="30%" style=" border: 1px solid black;">Contact(s)</th></tr>
                     </apex:outputtext>
                     
                   <!-- <div class="box"> -->
                    <tr>
                     <td  width="25%" style=" border: 1px solid black;">{!rowNumDesLoc}.) {!destVals.Name} </td>
                    <td  width="45%" style=" border: 1px solid black;">{!destVals.Street_Add1__c}<BR/> {!destVals.Street_Add2__c}<BR/> {!destVals.Street_Add3__c}{!destVals.Street_Add4__c}<BR/>{!destVals.City__c} {!destVals.State__r.Name } <br/> {!destVals.Country_Text__c} {!destVals.Zip__c}<BR/><b>County:</b> {!destVals.County_Text__c}<BR/><b>Proposed Start Date :</b>{!proposedstartdateStr}<BR/><b>Proposed End Date :</b>{!proposedenddateStr}<br/><br/><b>Quantity:</b> {!destVals.Quantity_Text__c} {!destVals.Unit_of_Measure_Text__c}</td>
                     <td  width="30%" style=" border: 1px solid black;">{!destVals.Contact_Name1__c}  {!destVals.Primary_Contact_Last_Name__c}<br/>{!destVals.Contact_Address1__c}<br/>{!destVals.Contact_City__c}<br/> {!destVals.Primary_State_Text__c} {!destVals.Contact_Zip__c}<br/>{!destVals.Primary_Country_Text__c}<br/><b>Day Telephone:</b> {!destVals.Day_Phone__c}<br/>Email : {!destVals.Email_1__c}

                    
                    <!--<td  width="25%" style=" border: 1px solid black;">{!rowNumDesLoc}.) {!destVals.Organization__c} - {!destVals.Location_Id__c}</td>
                    <td  width="45%" style=" border: 1px solid black;">{!destVals.Street_Add1__c}<BR/> {!destVals.Street_Add2__c}<BR/> {!destVals.Street_Add3__c}{!destVals.Street_Add4__c}<BR/>{!destVals.City__c} {!destVals.State__r.Name } {!destVals.Zip__c} <BR/>County: {!destVals.County_Text__c}<br/>{!destVals.Country_Text__c} <BR/><b>Quantity:</b> {!destVals.Quantity_Text__c}</td>
                    <td  width="30%" style=" border: 1px solid black;">{!destVals.Primary_Contact__r.Name}<br/>{!destVals.Contact_Address1__c}<br/>{!destVals.Contact_City__c}<br/>{!destVals.Primary_Contact__c} {!destVals.Primary_State_Text__c} {!destVals.Contact_Zip__c}<br/>{!destVals.Primary_Country_Text__c}<br/>Day Telephone: {!destVals.Day_Phone__c}<br/>Email 1: {!destVals.Email_1__c}-->
                    <apex:variable var="pageSize" value="{!pageSize + 1}"/>
                    <apex:outputText rendered="{!If(pageSize=6,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext>
                    </td>
                  </tr>
                 </table>
               <!-- </div> <br/> -->
                <apex:variable var="rowNumDesLoc" value="{!rowNumDesLoc + 1}"/>
         </apex:repeat><br/>
                 
       <!--</table>
       </div>-->

       <apex:variable value="{!1}" var="pageSize"/>
                  <!--p class="txt12U">Release Sites</p-->
                  <!--<div class="no_box">
                   <table class="border" cellspacing="0">-->
            <apex:variable value="{!1}" var="rowNumRelLoc"/>
                     
            <apex:repeat var="releaseVals" value="{!lstReleases}">
 
                    <table width="100%" style="border: 1px solid black;">
                 
                     <apex:outputText rendered="{!If(pageSize=1,True,False)}">
                    <tr ><th width="25%" style=" border: 1px solid black;">Release Sites Location</th><th width="45%" style=" border: 1px solid black;">Location Address</th><th width="30%" style=" border: 1px solid black;">Contact(s)</th></tr>
                     </apex:outputtext>
                     <!-- <div class="box"> -->
                     <tr>
                         <td  width="25%" style=" border: 1px solid black;">{!rowNumRelLoc}.) {!releaseVals.Name} </td>
                        <td  width="45%" style=" border: 1px solid black;">{!releaseVals.Street_Add1__c}<BR/> {!releaseVals.Street_Add2__c}<BR/> {!releaseVals.Street_Add3__c}{!releaseVals.Street_Add4__c}<BR/>{!releaseVals.City__c} {!releaseVals.State__r.Name } {!releaseVals.Zip__c}<BR/>County: {!releaseVals.County_Text__c} <br/>{!releaseVals.Country_Text__c}<br/><b>Release Start Date :</b>{!releasestartdateStr}<br/><b>Release End Date :</b>{!releaseenddateStr}  <BR/><b>Number of Proposed Releases:</b> {!releaseVals.Proposed_Planting__c} <BR/><b>Quantity:</b>{!releaseVals.Number_of_Acres_Text__c}</td>
                        <td  width="30%" style=" border: 1px solid black;">{!releaseVals.Primary_Contact__r.Name}<br/>{!releaseVals.Contact_Address1__c}<br/>{!releaseVals.Contact_City__c} <br/>{!releaseVals.County_Text__c}<br/> {!releaseVals.Contact_City__c} {!releaseVals.Primary_State_Text__c} {!releaseVals.Contact_Zip__c}<br/>{!releaseVals.Primary_Country_Text__c}<br/>Day Telephone: {!releaseVals.Day_Phone__c}<br/>Email 1: {!releaseVals.Email_1__c}</td>

                         
                        <!--<td  width="25%" style=" border: 1px solid black;">{!rowNumRelLoc}.) {!releaseVals.Organization__c} - {!releaseVals.Location_Id__c}</td>
                        <td  width="45%" style=" border: 1px solid black;">{!releaseVals.Street_Add1__c}<BR/> {!releaseVals.Street_Add2__c}<BR/> {!releaseVals.Street_Add3__c}{!releaseVals.Street_Add4__c}<BR/>{!releaseVals.City__c} {!releaseVals.State__r.Name } {!releaseVals.Zip__c}<BR/>County: {!releaseVals.County_Text__c} <br/>{!releaseVals.Country_Text__c}  <BR/><b>Number of Proposed Plantings:</b> {!releaseVals.Proposed_Planting__c} <BR/><b>Quantity:</b>{!releaseVals.Quantity_Text__c}</td>
                        <td  width="30%" style=" border: 1px solid black;">{!releaseVals.Primary_Contact__r.Name}<br/>{!releaseVals.Contact_Address1__c}<br/>{!releaseVals.Contact_City__c} <br/>{!releaseVals.County_Text__c}<br/> {!releaseVals.Contact_City__c} {!releaseVals.Primary_State_Text__c} {!releaseVals.Contact_Zip__c}<br/>{!releaseVals.Primary_Country_Text__c}<br/>Day Telephone: {!releaseVals.Day_Phone__c}<br/>Email 1: {!releaseVals.Email_1__c}</td>-->
                    </tr>
                       <tr>
                        <td colspan="3">
                               <table class="noBorder" cellspacing="0">
                               <tr>
                                  <td class="small_11_hd" width="25%">Location Unique ID:</td> 
                                   <!--<td>{!releaseVals.Location_Id__c}</td>-->
                                  <td>{!releaseVals.Location_Unique_Id__c}</td>

                               </tr>
                               <tr>
                                  <td class="small_11_hd" width="25%">Location GPS Coordinates:</td>
                                  <td>  
                                  <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_1__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_1__Longitude__s)))}">{!releaseVals.GPS_Coordinates_1_Text__c}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_2__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_2__Longitude__s)))}">{!releaseVals.GPS_Coordinates_2_Text__c}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_3__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_3__Longitude__s)))}">{!releaseVals.GPS_Coordinates_3_Text__c}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_4__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_4__Longitude__s)))}">{!releaseVals.GPS_Coordinates_4_Text__c}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_5__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_5__Longitude__s)))}">{!releaseVals.GPS_Coordinates_5_Text__c}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_6__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_6__Longitude__s)))}">{!releaseVals.GPS_Coordinates_6_Text__c}<br/></apex:outputText>


                                  
                                 <!-- <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_1__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_1__Longitude__s)))}">{!releaseVals.GPS_Coordinates_1__Latitude__s}, {!releaseVals.GPS_Coordinates_1__Longitude__s}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_2__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_2__Longitude__s)))}">{!releaseVals.GPS_Coordinates_2__Latitude__s}, {!releaseVals.GPS_Coordinates_2__Longitude__s}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_3__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_3__Longitude__s)))}">{!releaseVals.GPS_Coordinates_3__Latitude__s}, {!releaseVals.GPS_Coordinates_3__Longitude__s}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_4__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_4__Longitude__s)))}">{!releaseVals.GPS_Coordinates_4__Latitude__s}, {!releaseVals.GPS_Coordinates_4__Longitude__s}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_5__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_5__Longitude__s)))}">{!releaseVals.GPS_Coordinates_5__Latitude__s}, {!releaseVals.GPS_Coordinates_5__Longitude__s}<br/></apex:outputText>
                                        <apex:outputText rendered="{!AND(NOT(ISBLANK(releaseVals.GPS_Coordinates_6__Latitude__s)),NOT(ISBLANK(releaseVals.GPS_Coordinates_6__Longitude__s)))}">{!releaseVals.GPS_Coordinates_6__Latitude__s}, {!releaseVals.GPS_Coordinates_6__Longitude__s}<br/></apex:outputText>-->

                                  </td>
                               </tr>
                                <tr>
                                  <td class="small_11_hd" width="25%">Release Site History:</td>
                                  <td>{!releaseVals.Release_History__c}</td>
                               </tr>
                               <tr>
                                  <td class="small_11_hd" width="25%">Critical Habitat Involved?:</td>
                                  <td> <apex:image url="{!IF(releaseVals.Critical_Habitat_Involved__c == 'Yes', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}"   /> Yes  <apex:image url="{!IF(releaseVals.Critical_Habitat_Involved__c == 'No', '/img/checkbox_checked.gif', '/img/checkbox_unchecked.gif')}"   /> No</td>
                               </tr>
                               </table>
                                <apex:variable var="pageSize" value="{!pageSize + 1}"/>
                        <apex:outputText rendered="{!If(pageSize=4,True,False)}"><apex:variable value="{!1}" var="pageSize"/><p style='PAGE-BREAK-AFTER: always'> </p></apex:outputtext> </td>
                    </tr>
                     </table>
                  <!--  </div>  <br/> -->
                    <apex:variable var="rowNumRelLoc" value="{!rowNumRelLoc + 1}"/>
           </apex:repeat><br/>
           
       <!-- Repeat above formatting per origin generate dynamically in class -->
        <h5>9. ADDITIONAL INFORMATION</h5>
        Plants containing the constructs listed in this notification may be stacked by breeding with other
regulated plants containing constructs that have been authorized to be planted at the sites included on
this notification and/or with previously deregulated events. These stacks may be planted at any of the
locations approved on this notification. Any unusual observations noted in the field for any plants
containing either stacks or single events planted under this notification, will be reported to the agency
as required by the regulations.<br/><br/>
       <table class="border" cellspacing="0">
       <tr>
       <td colspan="2">I, {!AC__c.Application_Number__r.Applicant_Name__r.Name}, certify that the regulated article will be introduced in accordance with the eligibility criteria and the performance standards set forth in 7 CFR
340.3. The above information is true to the best of our knowledge.<br/><br/>
I acknowledge this is not an application to move or import select agents, the genes expressing select agents, or the toxins made by the select agents, as
described in 9 CFR 121.<br/><br/>
If there are any changes to the information disclosed in this application, I will contact APHIS.
</td></tr>
<tr>
<td><b>9. SIGNATURE OF RESPONSIBLE PERSON</b><br/><br/></td>
<td><b>10. DATE</b><br/><br/>  </td></tr>
</table> <!-- </div>  -->
        </apex:pageBlock>

  </apex:page>