<apex:page standardController="Authorizations__c" extensions="CARPOL_BRS_PermitDates_extension" sidebar="false" showHeader="false">
    <script>function setFocusOnLoad() {}</script>
    <apex:form >
        <apex:pageBlock title="Permit Information">
             <table width="100%">
              </table><br/>
            <!--div align="center">
                <apex:outputText>{!datemessages} </apex:outputText>
               <apex:outputPanel id="messages" rendered="{!datemessages}">
                   <apex:pageMessages />
               </apex:outputPanel> 
           </div-->
 
            <apex:pageBlockSection title="Effective Date and Expiry Date" collapsible="false">
                <apex:inputField required="true" value="{!auth.Effective_Date__c}"/>
                <apex:inputField required="true" value="{!auth.Expiry_Date__c}"/>
            </apex:pageBlockSection>
            <br/>
            <div align="center">  
                <apex:commandButton title="Save" value="Save" action="{!Save}" /> <!--reRender="messages"-->
            </div>  
        </apex:pageBlock>
    </apex:form>
</apex:page>