<apex:page sidebar="false" showHeader="false">
    <div style=" width:auto; height:180px; background-color:#efefef;">
         Help Text goes here ... Text will be provided soon
    </div>
</apex:page>