<apex:page standardController="Design_Protocol_Record__c" sidebar="false" >    
    <div style="background-color:#F0F0F0;font-size:15px;" align="center">
        <table width="100%" align="center">
            <tr align="center">
                <td style="color:#006600"><p> 
                  NOTE: If submitting a Release or Interstate Movement/Release Notification, it can not be processes unless you include design
protocols.</p></td>
            </tr>
        </table>  
    </div>  
</apex:page>