<apex:page standardController="Reviewer__c" sidebar="false" >    
    <div style="background-color:#F0F0F0;font-size:15px;" align="center">
        <table width="100%" align="center">
            <tr align="center">
                <td style="color:#006600"><p> 
                  No CBI can be contained in this record for state review.</p></td>
            </tr>
        </table>  
    </div>  
</apex:page>