<apex:page standardController="Authorizations__c" extensions="CARPOL_BRS_EPRegulations_extension" showHeader="false" sidebar="false" cache="true">
<head>
        <!-- Bootstrap CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
        
        <!-- jQuery  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        
        <!-- jQuery UI CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <apex:includescript value="/soap/ajax/21.0/connection.js"> </apex:includescript>
        <apex:includescript value="/soap/ajax/21.0/apex.js"> </apex:includescript>
        
        <!-- jQuery Popup -->
        <script src="{!$Resource.bPopupJS}"></script> 
    
        <style type="text/CSS">
            tr.dataRow {
                   background-color:white;
                   font-size:12px;
                   cursor:pointer;
                }
            tr.dataRow:hover {
                   background-color: #FFFF99;
                   //font-size: 125%;
                }
                
            a:hover {
                background-color:#C0C0C0;
                font-style: italic;
                cursor:pointer;
            }
        </style>
        <script type="text/javascript">

            jQuery(function(){
            // alert ('JS Called');
                renumber_table('#importRequirements');
                renumber_table('#additionalInformation');
                 
                
                //Helper function to keep table row from collapsing when being sorted
                var fixHelperModified = function(e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function(index)
                    {
                      $(this).width($originals.eq(index).width())
                    });
                    return $helper;
                };
                
                $("#importRequirements tbody").sortable({
                helper: fixHelperModified,
                stop: function(event,ui) {renumber_table('#importRequirements')}
                }).disableSelection();
                
                $("#additionalInformation tbody").sortable({
                helper: fixHelperModified,
                stop: function(event,ui) {renumber_table('#additionalInformation')}
                }).disableSelection();

            });
             
            //Generic Delete table rows
            function deleteRows(btnClass) {
                //alert('Delete Generic');
                btnClass = '.' + btnClass;
                //alert(btnClass);
                var counter = 1;
                //Delete button in table rows
                $('table').on('click',btnClass,function() {
                    
                    //alert(counter);
                    while(counter == 1)
                    {   
                        tableID = '#' + $(this).closest('table').attr('id');
                        r = confirm('Delete this regulation?');
                        if(r) {
                            var rowID = $(this).closest('tr').index() + 1;
                            //alert(rowID);
                            var table = document.getElementById(tableID.substring(1,tableID.length));
                            //var table = document.querySelectorAll("#importRequirements, #instructionsOfficers, #additionalInformation")
                            var rows = table.getElementsByTagName('tr');
                            var regID = table.rows[rowID].cells[2].innerHTML;
                            regID = regID.substring(0,18);
                            //alert(regID);
                            
                            sforce.connection.sessionId = '{!$Api.Session_ID}'; 
                            var ajresult = new sforce.SObject("Authorization_Junction__c");
                            var result = sforce.connection.deleteIds([regID]);
                            //alert(result);
                            
                            $(this).closest('tr').remove();
                            renumber_table(tableID);
                            counter++;
                            return false;
                        }
                        else{counter++;return false;}
                    }
                });
            }
            
                        //Generic Delete table rows
            function deletelabels(btnClass) {
                //alert('Delete Generic');
                btnClass = '.' + btnClass;
                //alert(btnClass);
                var counter = 1;
                //Delete button in table rows
                $('table').on('click',btnClass,function() {
                    
                    //alert(counter);
                    while(counter == 1)
                    {   
                        tableID = '#' + $(this).closest('table').attr('id');
                        r = confirm('Delete this label?');
                        if(r) {
                            var rowID = $(this).closest('tr').index() + 1;
                            //alert(rowID);
                            var table = document.getElementById(tableID.substring(1,tableID.length));
                            //var table = document.querySelectorAll("#importRequirements, #instructionsOfficers, #additionalInformation")
                            var rows = table.getElementsByTagName('tr');
                            var regID = table.rows[rowID].cells[2].innerHTML;
                            regID = regID.substring(0,18);
                            //alert(regID);
                            
                            sforce.connection.sessionId = '{!$Api.Session_ID}'; 
                            var ajresult = new sforce.SObject("Authorization_Junction__c");
                            var result = sforce.connection.deleteIds([regID]);
                            //alert(result);
                            
                            $(this).closest('tr').remove();
                            renumber_table(tableID);
                            counter++;
                            return false;
                        }
                        else{counter++;return false;}
                    }
                });
            }
                
            //Renumber table rows
            function renumber_table(tableID) {
                //alert('Renumbering begins : ' + tableID);
                $(tableID + " tr").each(function() {
                    count = $(this).parent().children().index($(this)) + 1;
                    $(this).find('.priority').html(count);
                });
                saveRecords(tableID);
            }
        
            function saveRecords(tableID)
            {
                //alert('Saving them now');
                var table = document.getElementById(tableID.substring(1,tableID.length));
                var rows = table.getElementsByTagName('tr');
                var arrIndex = [];
                var arrID = [];
                //alert(rows.length);
                for ( var i = 1; i < rows.length; i++) {
                    //alert(table.rows[i].cells[1].innerHTML + ' : ' + table.rows[i].cells[2].innerHTML);
                    arrIndex.push(table.rows[i].cells[1].innerHTML);
                    arrID.push(table.rows[i].cells[2].innerHTML);
        
                }
                //alert('Total Indexes : ' + arrIndex.length);
                //alert('Total IDs : ' + arrID.length);
            
                sforce.connection.sessionId = '{!$Api.Session_ID}';   
                var ajresult = new sforce.SObject("Authorization_Junction__c");
                
                for(var j = 0; j < arrID.length; j++)
                {                       
                    var id = arrID[j];
                    //alert(id.length);
                    id = id.substring(0,18);
                    ajresult.id = id;
                    ajresult.Order_Number__c = arrIndex[j];
                    var result = sforce.connection.update([ajresult]);
                    //alert(result);
                }
            }

(function ($) {
                $(function() {
            $('#addImportRequirements, #addAdditionalInformation').bind('click', function(e) {
                e.preventDefault();
                //$("#element_to_pop_up").html("<div>content of the div</div>");
                $('#element_to_pop_up').bPopup({
                    easing: 'easeOutBack', //uses jQuery easing plugin
                    speed: 850,
                    escClose : true,
                    transition: 'slideDown',
                    modal : true,
                    modalClose: true,
                    opacity: 0.6,
                    positionStyle: 'fixed',
                    position: ['auto', 'auto']
                });
            });
         });
     })(jQuery);
     
 
        </script>
     </head> 
    
    <!--------------------------------------------------------------------- Buttons at top of Page------------------------ --------------------------------------------------------------------------------->
    <body>
    <apex:form >
        <apex:sectionHeader title="{!Authorizations__c.Application__r.Name}"/>
        <table width="100%">
            <tr><td width="3%"></td>
                <td width="97%"><apex:commandLink value="{!Authorizations__c.Name} - Please click here to go back to the authorization." action="{!cancel}" title="{!Authorizations__c.Name}" /><br/><br/></td></tr>
            <tr> <td width="3%"></td><td width="97%"><apex:commandLink value="{!wfname} - Please click here to go back to the Workflow Task." action="{!redirect}" title="{!wfname}" /><br/><br/></td>
            </tr>
            <tr>
            <td align="center" colspan="2">
                 <apex:commandButton title="Preview Permit" value="Preview Draft Permit" action="{!viewDraftPDF}" rendered="{!not(renderPermitPackage)}"/> &nbsp;&nbsp; 
                <apex:commandButton title="Preview Permit" value="Preview Permit" action="{!viewDraftPDF}" rendered="{!renderPermitPackage && not(renderPermitPackagelabel)}"  /> &nbsp;&nbsp; 
                <apex:commandButton title="Save/Send Permit" value="Attach Permit" action="{!attachPDF}" rendered="{!renderPermitPackage && not(renderPermitPackagelabel)}"  /> &nbsp;&nbsp; 
                <apex:commandButton title="Collaboration for Approval of Conditions" value="Conditions Collaboration" action="{!BRSCollaboration}" rendered="{!not(renderPermitPackage)}"/>
                <apex:commandButton title="Preview Labels" value="Preview Labels" action="{!viewDraftPDF}" rendered="{!renderPermitPackagelabel}"  /> &nbsp;&nbsp; 
                <apex:commandButton title="Attach Labels" value="Attach Labels" action="{!attachPDF}" rendered="{!renderPermitPackagelabel}"  /> &nbsp;&nbsp; 
 
            </td>
            </tr>
        </table>
        <br/> 
        <apex:pageMessages />
     </apex:form> 
            <!--------------------------------------------------------------------- Permit Dates --------------------------------------------------------------------------------------------------------->
     
            <apex:include pageName="CARPOL_BRS_EditPermitDates" rendered="{!(renderPermitPackage || renderCourtesyPermit) && not(renderPermitPackagelabel)}"/>
            <!--------------------------------------------------------------------- Add Permit Package Required Documents --------------------------------------------------------------------------------------------------------->
     <apex:form >
                  <!--outputText value="renderPermitPackage"> {!renderPermitPackage} </outputText>
                  <outputText title="renderPermitPackagelabel"> {!renderPermitPackagelabel}</outputText-->  

         <apex:pageBlock title="Build Permit Package" rendered="{!renderPermitPackage && not(renderCourtesyPermit) && not(renderPermitPackagelabel)}">
            <apex:pageBlockSection columns="1" title="Upload Attachments">
                <apex:outputPanel rendered="{!IF(NOT(lineItem.Intended_Use__r.Name== 'Veterinary Treatment' || lineItem.Intended_Use__r.Name== 'Research') && (renderRemainingDocuments), TRUE, FALSE)}">
                    <apex:outputLabel style="color:#006600; font-size:1.0em;"><br/>Please upload the following documents </apex:outputLabel><br/>
                    <apex:outputLabel style="color:#737373; font-size:1.0em;">You can upload a file for each required document(s) or combine them and upload one single file.</apex:outputLabel>                        
                </apex:outputPanel>
                
                 
                <apex:outputPanel rendered="{!NOT(renderRemainingDocuments)}">
                    <apex:outputLabel style="color:#006600; font-size:1.0em;">There are no more documents to be uploaded </apex:outputLabel>
                </apex:outputPanel>
                <br/>
            </apex:pageBlockSection>  
            <apex:outputpanel rendered="{!renderRemainingDocuments}">
            <apex:repeat value="{!newAttachments}" var="newAtt">
                <table>
                <tr>
                    <td style="font-weight:bold"><apex:outputLabel value="File"/></td>
                    <td>&nbsp;&nbsp;</td>
                    <td style="font-weight:bold"><apex:outputLabel value="File Name"/></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td style="font-weight:bold"><apex:outputLabel value="Document Type"/></td>
                    <td>&nbsp;&nbsp;</td>
                    <!--td style="font-weight:bold"><apex:outputLabel value="Description"/></td-->
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <apex:inputFile id="uploadFile" value="{!newAtt.attachment.body}" filename="{!newAtt.attachment.name}"/>
                    </td>
                    <td>&nbsp;&nbsp;</td>
                    <td style="vertical-align: top;">
                        <apex:inputText value="{!newAtt.appAttach.File_Name__c}"/>                
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td style="vertical-align: top;">
                        <apex:selectCheckboxes id="documentTypes" value="{!newAtt.documenttypes}" layout="pageDirection">
                          <apex:selectOptions value="{!remainingDocuments}"/>
                        </apex:selectCheckboxes>                
                    </td>
                    <td>&nbsp;&nbsp;</td>
                    <!--td style="vertical-align: top;">
                        <apex:inputText id="userInput" value="{!newAtt.appAttach.File_Description__c}"/>
                    </td-->
                </tr>
                </table>
            </apex:repeat><br/>
            
             <div align="center">
            <apex:commandButton value="Save" action="{!save}" onclick="startUpload();" /></div>
            <!--apex:commandButton value="Close & Return" onclick="window.top.close();"/>
            <span id="loading" style="float:right"><apex:image value="{!$Resource.USDAAPHISLoading}" width="25" height="25" /></span-->                        
            </apex:outputpanel> 
 
    <apex:pageBlockSection columns="1" title="Existing Attachments">
        <apex:pageBlockTable value="{!appAttachments}" var="appAttachment">
            <apex:column headerValue="Action">
               <apex:outputLink rendered="{!appAttachment.Attachments.size>0}" value="{!URLFOR($Action.Attachment.Download, appAttachment.Attachments[0].Id)}" target="_blank">View</apex:outputLink>
               <apex:outputText rendered="{!appAttachment.Attachments.size=0}">View</apex:outputText> &nbsp;&nbsp;
               
               <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');">Del 
               <apex:outputText rendered="{!appAttachment.Attachments.size=0}">Del</apex:outputText>
               <apex:param name="recid" value="{!appAttachment.Id}" assignTo="{!delrecid}"/>
                </apex:commandLink>
            </apex:column>&nbsp;&nbsp;
            <apex:column value="{!appAttachment.Name}"/>&nbsp;&nbsp;
            <apex:column headerValue="File Name" value="{!appAttachment.File_Name__c}"/>   &nbsp;&nbsp;         
            <apex:column value="{!appAttachment.Document_Types__c}"/>   &nbsp;&nbsp;         
            <apex:column value="{!appAttachment.File_Description__c}"/>
        </apex:pageBlockTable>
     </apex:pageBlockSection>  
     </apex:pageBlock>

            <!--------------------------------------------------------------------- Conditions list ------------------------ --------------------------------------------------------------------------------->
            <apex:pageBlock title="Conditions" rendered="{!not(renderPermitPackage)}" >
            <apex:outputLabel style="font-style:italic;color:gray;font-size:12px;font-weight:bold" value="Click & drag rows to reorder them." />
 
                 <!--------------------------------------------------------------------- Supplemental Conditions list ------------------------ --------------------------------------------------------------------------------->
                <apex:pageBlockSection title="Supplemental Conditions" columns="1" collapsible="true">
                    <apex:outputPanel id="AI">
                        <apex:variable value="{!0}" var="index"/>
                        <table class="table" id="additionalInformation">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Order</th>
                                    <th style="display:none;">ID</th>
                                    <th>Condition Name</th>
                                    <th colspan="2">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!scjB}" var="AI" id="theRepeatAI">
                                    <tr class="dataRow">
                                        <td><img id="removeAdditionalInformation" onclick="deleteRows('delAI')" class="delAI" src="{!$Resource.RemoveButton}" alt="Remove Additional Information" title="Remove Supplemental Condition" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" /></td>
                                        <td class='priority' width="5%">
                                            <apex:variable var="index" value="{!index+1}" />
                                            <apex:outputText value="{!index}" />
                                        </td>
                                        <td style="display:none;" ><apex:outputText value="{!AI.ID}" /></td>
                                        <td><apex:outputText value="{!AI.Regulation__r.Short_Name__c}" /></td>
                                        <td><apex:outputText value="{!left(AI.Regulation__r.Regulation_Description__c,400)}..." escape="false"/></td>
                                        <td><a class="fullDescription" style="color:blue" Id="fulldesAI" onclick="window.open('/{!AI.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a></td>
                                    </tr>    
                                </apex:repeat>
                            </tbody>
                        </table>
                    </apex:outputPanel>
                    <div align="left">
                        <apex:actionFunction action="{!setRegulationType}" name="addInfo" rerender="popup" status="actStatusId">
                            <apex:param name="addInfo" value="Supplemental Conditions" assignTo="{!regulationType}"></apex:param>
                        </apex:actionFunction>
                        &nbsp;&nbsp;<img id="addAdditionalInformation" onclick="addInfo();" src="{!$Resource.AddButton}" alt="Add Additional Information" title="Add Supplemental Conditions" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" />
                    </div>
                </apex:pageBlockSection>
            
           <!--------------------------------------------------------------------- Standard Conditions list ------------------------ --------------------------------------------------------------------------------->
                <apex:pageBlockSection title="Standard Conditions" columns="1" collapsible="true">
                    <apex:outputPanel id="IRWrapper">
                    <apex:outputPanel id="IR">
                        <apex:variable value="{!0}" var="index"/>
                        <table class="table" id="importRequirements">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Order</th>
                                    <th style="display:none;">ID</th>
                                    <th>Condition Name</th>
                                    <!--th>Sub Type</th-->
                                    <th colspan="2">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!scjA}" var="IR" id="theRepeatIR">
                                    <tr class="dataRow">
                                        <td><!--img id="removeImportRequirements" onclick="deleteRows('delIR')" class="delIR" src="{!$Resource.RemoveButton}" alt="Remove Standard Conditions" title="Remove Standard Conditions" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;"/--></td>
                                        <td class='priority'>
                                            <apex:variable var="index" value="{!index+1}" />
                                            <apex:outputText value="{!index}" />
                                        </td>
                                        <td style="display:none;"><apex:outputText value="{!IR.ID}" /></td>
                                        <td><apex:outputText value="{!IR.Regulation__r.Short_Name__c}" /></td>
                                        <!--td><apex:outputText value="{!IR.Regulation__r.Sub_Type__c}" /></td-->
                                        <td><apex:outputText value="{!left(IR.Regulation__r.Regulation_Description__c,400)}..." escape="false"/></td>
                                        <td><a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!IR.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a></td>
                                    </tr>    
                                </apex:repeat>
                            </tbody>
                        </table>
                    </apex:outputPanel>
                    </apex:outputPanel>
                    <!--div align="left">
                        <apex:actionFunction action="{!setRegulationType}" name="importReq" rerender="popup" status="actStatusId">
                            <apex:param name="importReq" value="Standard" assignTo="{!regulationType}"></apex:param>
                        </apex:actionFunction>
                        &nbsp;&nbsp;<img id="addImportRequirements" onclick="importReq();" src="{!$Resource.AddButton}" alt="Add Import Requirement" title="Add Standard Conditions" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" />
                    </div-->
                </apex:pageBlockSection>            
          </apex:pageBlock>
          
           <!--------------------------------------------------------------------- Permit Package + Labels list ------------------------ --------------------------------------------------------------------------------->
         <apex:pageBlock title="{!packagetitle}" rendered="{!renderPermitPackagelabel || renderCourtesyPermit}" >   
         
          <apex:pageBlockSection columns="1" title="List of {!packagetitle} Documents">
                <apex:pageBlockTable value="{!appAttachments}" var="appAttachment">
                    <apex:column headerValue="Action">
                       <apex:outputLink rendered="{!appAttachment.Attachments.size>0}" value="{!URLFOR($Action.Attachment.Download, appAttachment.Attachments[0].Id)}" target="_blank">View</apex:outputLink>
                       <apex:outputText rendered="{!appAttachment.Attachments.size=0}">View</apex:outputText> &nbsp;&nbsp;
                       
                       <apex:commandLink action="{!deleteRecord}" onclick="return window.confirm('Are you sure you want to delete this record?');">Del 
                       <apex:outputText rendered="{!appAttachment.Attachments.size=0}">Del</apex:outputText>
                       <apex:param name="recid" value="{!appAttachment.Id}" assignTo="{!delrecid}"/>
                        </apex:commandLink>
                    </apex:column>&nbsp;&nbsp;
                    <apex:column value="{!appAttachment.Name}"/>&nbsp;&nbsp;
                    <apex:column headerValue="File Name" value="{!appAttachment.File_Name__c}"/>   &nbsp;&nbsp;         
                    <apex:column value="{!appAttachment.Document_Types__c}"/>   &nbsp;&nbsp;         
                    <apex:column value="{!appAttachment.File_Description__c}"/>
                </apex:pageBlockTable>
            </apex:pageBlockSection> 
     
                 <apex:pageBlockSection title="List of Labels" columns="1" collapsible="true" rendered="{!not(renderCourtesyPermit)}">
                    <apex:outputPanel id="IRWrapper">
                    <apex:outputPanel id="IR">
                        <apex:variable value="{!0}" var="index"/>
                        <table class="table" id="importRequirements">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Order</th>
                                    <th style="display:none;">ID</th>
                                    <th>Lable Name</th>
                                    <th>Issue Date</th>
                                    <th>Expiration Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!labelList}" var="lb" id="theRepeatlb">
 
                                    <tr class="dataRow">
                                        <td><img id="removeImportRequirements" onclick="deletelabels('delIR')" class="delIR" src="{!$Resource.RemoveButton}" alt="Remove Standard Conditions" title="Remove Standard Conditions" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;"/></td>
                                        <td class='priority'>
                                            <apex:variable var="index" value="{!index+1}" />
                                            <apex:outputText value="{!index}" />
                                        </td>
                                        <td style="display:none;"><apex:outputText value="{!lb.ID}" /></td>
                                        <td><apex:outputText value="{!lb.Name}" /></td>
                                         <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy}"> <apex:param value="{!lb.Notification_Issue_Date__c}" /> </apex:outputText></td>
                                        <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy}"> <apex:param value="{!lb.Notification_Expiration_Date__c}" /> </apex:outputText></td>
                                          <td><apex:outputText value="{!lb.Status__c}" /></td>

                                         <!--td><a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!lb.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a></td-->
                                    </tr>    
                                </apex:repeat>
                            </tbody>
                        </table>
                    </apex:outputPanel>
                    </apex:outputPanel>
                    <!--div align="left">
                        <apex:actionFunction action="{!setRegulationType}" name="importReq" rerender="popup" status="actStatusId">
                            <apex:param name="importReq" value="Standard" assignTo="{!regulationType}"></apex:param>
                        </apex:actionFunction>
                        &nbsp;&nbsp;<img id="addImportRequirements" onclick="importReq();" src="{!$Resource.AddButton}" alt="Add Import Requirement" title="Add Standard Conditions" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" />
                    </div-->
                </apex:pageBlockSection>            
          </apex:pageBlock>          

            <!--------------------------------------------------------------------- Buttons at bottom of Page--------------------------------------------------------------------------------------------------------->
            <table width="100%">
            <tr>
            <td align="center">
                 <apex:commandButton title="Preview Permit" value="Preview Draft Permit" action="{!viewDraftPDF}" rendered="{!not(renderPermitPackage)}"/> &nbsp;&nbsp; 
                <apex:commandButton title="Preview Permit" value="Preview Permit" action="{!viewDraftPDF}" rendered="{!renderPermitPackage && not(renderPermitPackagelabel)}"  /> &nbsp;&nbsp; 
                <apex:commandButton title="Save/Send Permit" value="Attach Permit" action="{!attachPDF}" rendered="{!renderPermitPackage && not(renderPermitPackagelabel)}"  /> &nbsp;&nbsp; 
                <apex:commandButton title="Collaboration for Approval of Conditions" value="Conditions Collaboration" action="{!BRSCollaboration}" rendered="{!not(renderPermitPackage)}"/>
                <apex:commandButton title="Preview Labels" value="Preview Labels" action="{!viewDraftPDF}" rendered="{!renderPermitPackagelabel}"  /> &nbsp;&nbsp; 
                <apex:commandButton title="Attach Labels" value="Attach Labels" action="{!attachPDF}" rendered="{!renderPermitPackagelabel}"  /> &nbsp;&nbsp; 
            </td>
            </tr>
            </table>
        </apex:form>
        
<!--------------------------------------------------------------------- Add/Remove Regulations Popup ------------------------ --------------------------------------------------------------------------------->        
<div id="element_to_pop_up">
<a class="b-close">x</a>
<apex:form >
 <apex:outputPanel id="popup" >
    <apex:outputPanel styleClass="custPopup" layout="block">
   <div align="center">
   <apex:outputPanel id="messagesPopUp"><apex:pageMessages /></apex:outputPanel> 
      <table border="0px" cellpadding="0" cellspacing="0" >
       <tr>
       <td><apex:outputLabel title="Type" value="Type" style="font-weight:bold"></apex:outputLabel>&nbsp;&nbsp;</td>
         <td><apex:inputField label="Type" value="{!regulation.Type__c}" />&nbsp;&nbsp;&nbsp;</td>
       <td><apex:outputLabel title="Sub Type" value="Sub Type" style="font-weight:bold"></apex:outputLabel>&nbsp;&nbsp;</td>
          <td><apex:inputField label="Sub Type" value="{!regulation.Sub_Type__c}" /></td>
       <td>&nbsp;&nbsp;&nbsp;<apex:commandButton title="Submit" value="Submit" action="{!getResults}" reRender="results, messagesPopUp" status="actStatusId"/></td>
       <td><apex:actionStatus id="actStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></td>
       <td>&nbsp;&nbsp;&nbsp;<apex:commandButton title="Create New Regulation" value="Create New Regulation" action="{!createNewRegulation}" status="actStatusId"/></td>
    </tr>
        </table>
        <apex:outputPanel id="results">
            <c:MultiselectPicklist leftLabel="{!leftLabel}" leftOptions1="{!allOptions}" rightLabel="{!rightLabel}" rightOptions1="{!selectedOptions}" size="14" width="400px"/>
        </apex:outputPanel>
        <br/>
        <apex:outputtext > </apex:outputtext>
        <apex:commandButton title="Save" value="Save" action="{!updateSignature}" status="actStatusId"/>
        <!--
        reRender="IRWrapper, AI, IO, messagesPopUp" 
        -->
       </div>
    </apex:outputPanel>
  </apex:outputPanel>
</apex:form>
  </div>
  
<style>
#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:800px;
    min-height: 300px;
    width: 1100px;
    }
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
    font-size: large;
    }
</style>
    </body>
</apex:page>