<apex:page controller="CARPOL_BRS_Upload_XML_to_Content" sidebar="false" tabStyle="Application__c" action="{!appstatus}">
<c:carpolAphisApplicantUI addHomeResources="true"
    showCarpolSidebar="true"
    showWizardLauncher="false"
    >
    <apex:form >
        <apex:outputPanel id="errorlog" rendered="{!if(errcount>0,true,false)}">
                <apex:pageMessage summary="Please verify error log messages that need your attention in order to create an application and reUpload the file" severity="error" strength="3" /><br/>
                <c:panel type="success" title="Applicant Contact Information" rendered="{!if(lsterrapplnt.size>0,true,false)}">
                     <apex:pageBlock >
                         <apex:pageBlockTable value="{!applntlog}" var="a" id="applntlog">
                             <apex:column headerValue="Identifier" value="{!a.erridentifier}"/>
                             <apex:column headerValue="Field" value="{!a.errfield}"/>
                             <apex:column headerValue="XML Content " value="{!a.errxmlcont}"/>
                             <apex:column headerValue="Error Message">
                                 <apex:outputText value="{!a.errmsg}" escape="false" style="color:red"/>
                             </apex:column>
                         </apex:pageBlockTable>
                     </apex:pageBlock>
                 </c:panel>
                <c:panel type="success" title="Application Header Information" rendered="{!if(lsterrapp.size>0,true,false)}">
                     <apex:pageBlock >
                         <apex:pageBlockTable value="{!applog}" var="a" id="applog">
                             <apex:column headerValue="Identifier" value="{!a.erridentifier}"/>
                             <apex:column headerValue="Field" value="{!a.errfield}"/>
                             <apex:column headerValue="XML Content " value="{!a.errxmlcont}"/>
                             <apex:column headerValue="Error Message">
                                 <apex:outputText value="{!a.errmsg}" escape="false" style="color:red"/>
                             </apex:column>
                         </apex:pageBlockTable>
                     </apex:pageBlock>
                </c:panel>
                <c:panel type="success" title="Regulated Articles" rendered="{!if(lsterrart.size>0,true,false)}">
                    <apex:pageBlock > 
                         <apex:pageBlockTable value="{!artlog}" var="a" id="artlog">
                             <apex:column headerValue="Identifier" value="{!a.erridentifier}"/>
                             <apex:column headerValue="Field" value="{!a.errfield}"/>
                             <apex:column headerValue="XML Content " value="{!a.errxmlcont}"/>
                             <apex:column headerValue="Error Message">
                                 <apex:outputText value="{!a.errmsg}" escape="false" style="color:red"/>
                             </apex:column>
                         </apex:pageBlockTable>
                    </apex:pageBlock>
                </c:panel>
                <c:panel type="success" title="Constructs" rendered="{!if(lsterrconst.size>0,true,false)}">
                    <apex:pageBlock > 
                         <apex:pageBlockTable value="{!constlog}" var="a" id="constlog">
                             <apex:column headerValue="Identifier" value="{!a.erridentifier}"/>
                             <apex:column headerValue="Field" value="{!a.errfield}"/>
                             <apex:column headerValue="XML Content " value="{!a.errxmlcont}"/>
                             <apex:column headerValue="Error Message">
                                 <apex:outputText value="{!a.errmsg}" escape="false" style="color:red"/>
                             </apex:column>
                         </apex:pageBlockTable>
                     </apex:pageBlock>
                </c:panel>
                <c:panel type="success" title="Link Construct" rendered="{!if(lsterrconstlnk.size>0,true,false)}">
             <apex:pageBlock title="Link Construct" rendered="{!if(lsterrconstlnk.size>0,true,false)}"> 
                 <apex:pageBlockTable value="{!constlnklog}" var="a" id="constlnklog">
                     <apex:column headerValue="Identifier" value="{!a.erridentifier}"/>
                     <apex:column headerValue="Field" value="{!a.errfield}"/>
                     <apex:column headerValue="XML Content " value="{!a.errxmlcont}"/>
                     <apex:column headerValue="Error Message">
                         <apex:outputText value="{!a.errmsg}" escape="false" style="color:red"/>
                     </apex:column>
                 </apex:pageBlockTable>
             </apex:pageBlock>
            </c:panel>
                <c:panel type="success" title="Locations" rendered="{!if(lsterrloc.size>0,true,false)}">
                    <apex:pageBlock title="Locations" rendered="{!if(lsterrloc.size>0,true,false)}"> 
                         <apex:pageBlockTable value="{!loclog}" var="a" id="loclog">
                             <apex:column headerValue="Identifier" value="{!a.erridentifier}"/>
                             <apex:column headerValue="Field" value="{!a.errfield}"/>
                             <apex:column headerValue="XML Content " value="{!a.errxmlcont}"/>
                             <apex:column headerValue="Error Message">
                                 <apex:outputText value="{!a.errmsg}" escape="false" style="color:red"/>
                             </apex:column>
                         </apex:pageBlockTable>
                     </apex:pageBlock>
                </c:panel>
            </apex:outputPanel>
        <apex:outputPanel rendered="{!if(errcount>0,true,false)}">
            <apex:pageBlock >
                <apex:pageBlockSection >
                    <apex:outputLabel value="To reUpload Click on Upload xml file"></apex:outputLabel>
                    <apex:outputLink value="/apex/CARPOL_BRS_Upload_Application_XML_FILE">Upload XML File</apex:outputLink>
                    <apex:outputLabel value="Click on Error Log Pdf"></apex:outputLabel>
                    <apex:commandLink action="{!errorpdf}" value="Error Log Pdf"/>
                </apex:pageBlockSection>
            </apex:pageBlock>
        </apex:outputPanel>
        <c:panel type="success" title="XML Status" rendered="{!if(errcount=0,true,false)}">
              <apex:pageMessage summary="Your XML file is validated and error free." severity="confirm" strength="3" />
        </c:panel>
        <div class="btnDiv">
                <apex:commandButton rendered="{!if(errcount=0,true,false)}" action="{!doSave}" value="Create Application" styleclass="customButton customButtonGreen" immediate="true"/>
            </div>
    </apex:form>
    <script>
        removeBtnClass();
    </script>

        <c:PageBlockTableEnhancerADV targetPbTableIds="applog,applntlog,artlog,constlog,constlnklog,loclog"  pageSizeOptions="5,10,15,20" defaultPageSize="5" enableExport="false"/>
</c:carpolAphisApplicantUI>
</apex:page>