<apex:page standardController="Application__c" sidebar="false" standardStylesheets="false" showHeader="false">    
        <table width="100%" height="100%" style="background-color: #FFFFFF;font-family: Helvetica, Arial, sans-serif;">
            <tr align="left">
                <td valign="top" width="50%" style="color:#006600;">Click on <i>New Construct</i> button to create a new Construct record</td>
                 <td valign="top" width="50%" style="color:#006600;"> Click on the <i>New Design Protocol Record</i> button to create new Design Protocol records</td>               
                </tr>
                <tr>
              <td valign="top" width="50%" style="color:#006600;">Click on the <i>Link Construct</i> button to link a Construct record to an Application</td>
               <td valign="top" width="50%" style="color:#006600;"> Click on the <i>Link Design Protocol Record</i> button to link a Design Protocol Record to an Application</td>                 
                
            </tr>
        </table>  
</apex:page>