<apex:page sidebar="false" showHeader="false"  standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false">
    <apex:form >
        <c:skeleton showTemplate="false" showSidebar="false" externalHeader="false" showBreadCrumbs="false" showHeaderSearchForm="false">
            <c:title title="Contacts" renderButton="true" buttonTitle="Create New Contact" anchorHref="portal_contacts_edit"/>
        </c:skeleton>
    </apex:form>
</apex:page>