<apex:page standardController="Construct__c" docType="html-5.0" showHeader="true" sidebar="false" extensions="portal_construct_edit">
<c:carpolAphisApplicantUI addHomeResources="false" 
    docTitle="Carpol Efile" 
    showCarpolSidebar="true"
    showWizardLauncher="false"
    lineitemIDfrompage="{!Construct__c.Line_Item__c}"
    showapplicationPDF="true"
    >
   <!--------------------------------------------------------------------start-------------------------------------------->
       <apex:form styleClass="form-horizontal"  html-novalidate="novalidate">
           <apex:pagemessages id="messagePanel"/>
    <!--------------------------------------------------1st section--------->
      <c:panel icon="book" type="success" title="Construct Details">
        <c:carpolRow >
            <c:carpolFormFields label="Construct(s)" requiredField="true">
                <apex:inputField styleClass="form-control" value="{!Construct__c.Construct_s__c}"/>
            </c:carpolFormFields>
            <c:carpolFormFields label="Line Item">
                <apex:outputField id="oCountry" styleClass="form-control" value="{!obj.Line_Item__c}" />
            </c:carpolFormFields>
        </c:carpolRow>
        <c:carpolRow >
            <c:carpolFormFields label="Identifying Line(s)">
                <apex:inputField styleClass="form-control" value="{!Construct__c.Identifying_Line_s__c}"/>
            </c:carpolFormFields>
            <c:carpolFormFields label="Status">
               <apex:outputField styleClass="form-control" value="{!Construct__c.Status__c}"/> &nbsp;&nbsp;
               <apex:outputField styleClass="form-control" value="{!Construct__c.Status_Graphical__c}"/>                
            </c:carpolFormFields>
        </c:carpolRow>
        <c:carpolRow >
            <c:carpolFormFields label="Mode of Transformation" requiredField="true">
              <apex:inputField styleClass="checkbox" value="{!Construct__c.Mode_of_Transformation_CBI__c }"/>
               <apex:inputField styleClass="form-control" required="true" value="{!Construct__c.Mode_of_Transformation__c}"/> 
            </c:carpolFormFields>
            <c:carpolFormFields label="Line Events">
                <apex:inputField styleClass="form-control" value="{!Construct__c.Line_Events__c}"/>
            </c:carpolFormFields>
        </c:carpolRow>
        <c:carpolRow rendered="{!usertype == 'Standard'}">
            <c:carpolFormFields label="Applicant Instructions">
                <apex:inputField styleClass="form-control" value="{!Construct__c.Corrections_Required__c}"/>
            </c:carpolFormFields>
        </c:carpolRow>        
       </c:panel>
       <div class="btnDiv">
            <apex:commandButton value="Save" rendered="{!if(consId==null,true,false)}" action="{!save}"  styleClass="customButton customButtonGreen" reRender="messagePanel"/> 
            <apex:commandButton value="Save" rendered="{!if(consId!=null,true,false)}" action="{!updateConstruct}"  styleClass="customButton customButtonGreen" reRender="messagePanel"/>
            <apex:commandButton value="Cancel" action="{!cancelconstruct}" styleClass="customButton customButtonGreen" immediate="true"/> 
        </div>
      </apex:form>

<script>
    removeBtnClass();
      function goToDetailPage(recId){
          if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
              sforce.one.navigateToSObject(recId);
          }
          else{
              window.location.href = '/'+recId;
          }
          return false;
      }
   </script>
  </c:carpolAphisApplicantUI>
</apex:page>