<apex:page standardController="Link_Regulated_Articles__c" docType="html-5.0" extensions="portal_LinkRegArt_detail" showHeader="true" sidebar="false">
  <c:carpolAphisApplicantUI docTitle="Carpol Efile" 
       includeCustomResources="true" 
       styleSheetName=""
       jsFileName=""
       showCarpolSidebar="true"
       showWizardLauncher="false"
       showLineItemSidebar="true"
       lineitemIDfrompage="{!Link_Regulated_Articles__c.Line_Item__c}"
       showapplicationPDF="true"
    >

      <c:pageheader title="{!Link_Regulated_Articles__c.Name}" icon="book" subtitle="Regulated Article" />

     <c:carpolbootstrapblock >
            <chatter:feedWithFollowers entityId="{!Link_Regulated_Articles__c.id}" /> 
     </c:carpolbootstrapblock>
 
 <apex:form styleClass="form-horizontal" html-novalidate="novalidate">

               <!-------------------------------------------------------------------------Link Regulated Article Details------------------------------------------------------------------->
               <c:panel icon="fire" title="Regulated Article Details for {!Link_Regulated_Articles__c.Name}" type="success"> 
                     <c:carpolRow >
                           <c:carpolFormFields label="Category">   
                            <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.Regulated_Article__r.Category_Group_Ref__r.Name}"/> 
                            </c:carpolFormFields>
                               <c:carpolFormFields label="Line Item">                                  
                                   <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.Line_Item__c}"/>
                               </c:carpolFormFields>
                      </c:carpolRow>             
                       <c:carpolRow >
                           <c:carpolFormFields label="Regulated Article">
                                   <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.Regulated_Article_Text__c}"/>
                           </c:carpolFormFields>
                         
                           <c:carpolFormFields label="Cultivar and/or breeding line and/or strain">
                                   <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.Cultivar_and_or_Breeding_Line__c}"/>
                           </c:carpolFormFields>
                           
                      </c:carpolRow>       
                         <apex:commandButton value="Edit" action="{!edit}" styleClass="customButton customButtonGreen"/> 
                         <apex:commandButton value="Line Item details" action="{!ReturnToLineItem}" styleClass="customButton customButtonBlue"/>               
               </c:panel>

                       <!---------------------------------------------------------System Information----------------------------------------------------------->
           <c:panel icon="info-sign" title="System Information" type="default">
                    <c:carpolRow >
                           <!-- Column 1 -->
                           <c:carpolFormFields label="Created By">
                               <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.CreatedByID}"/> 
                           </c:carpolFormFields>
                            <!-- Column 2 --> 
                           <c:carpolFormFields label="Created Date">
                               <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.CreatedDate}"/>
                           </c:carpolFormFields>
                    </c:carpolRow>
                    <c:carpolRow >
                           <c:carpolFormFields label="Last Modified By">
                               <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.LastModifiedByID}"/>
                           </c:carpolFormFields>
                           <c:carpolFormFields label="Modified Date">
                               <apex:outputField styleClass="form-control" value="{!Link_Regulated_Articles__c.LastModifiedDate}"/>
                           </c:carpolFormFields>
                   </c:carpolRow> 
          
          </c:panel> 
</apex:form>

<script>
    removeBtnClass();
</script>
 </c:carpolAphisApplicantUI>
</apex:page>