<apex:page standardController="Location__c" extensions="portal_LocationRecordType" showHeader="true" sidebar="false" >
  <c:carpolAphisApplicantUI docTitle="Carpol Efile" 
       includeCustomResources="true" 
       styleSheetName=""
       jsFileName=""
       showCarpolSidebar="true"
       showWizardLauncher="false"
       showLineItemSidebar="true"
    >
         <c:pageheader title="Location" icon="user" subtitle="{!Location__c.Name}"/>
     


                                <!---************************Chatter**************************-->
        <c:carpolbootstrapblock >
        
        <chatter:feedWithFollowers entityId="{!Location__c.id}" /> <br/>
       
        </c:carpolbootstrapblock>


        <apex:form styleClass="form-horizontal" html-novalidate="novalidate">
            <apex:pageMessages id="showmsg"></apex:pageMessages>
           <c:panel icon="check" title="Select Location Record Type" type="success">
          
          
           <c:carpolRow >
               <!-- Column 1 -->
               <c:carpolFormFields label="Record Type">
                       <apex:selectList value="{!recordTypeId}"  size="1">
                        <apex:selectOptions value="{!RecordTypes}" />
                    </apex:selectList>
               </c:carpolFormFields>
              
          </c:carpolRow>   

              
           </c:panel>
             <div class="buttonDiv">
                  <apex:outputText value="{!recordTypeId}"></apex:outputText>
                     <apex:commandButton value="Continue" styleClass="customButton customButtonGreen" action="{!continueAssociate}" rerender="showmsg"/>
                     &nbsp;
                     <apex:commandButton value="Cancel" action="{!cancel}" styleClass="customButton customButtonGreen"/> &nbsp;
                     </div>
         </apex:form>
    

<script>
    removeBtnClass();
</script>
 </c:carpolAphisApplicantUI>
</apex:page>