<apex:page standardController="Link_Regulated_Articles__c" docType="html-5.0" extensions="portal_LinkRegArt_edit"
    showHeader="true" sidebar="false">
    <c:carpolAphisApplicantUI addHomeResources="false" docTitle="Carpol Efile" showCarpolSidebar="true" lineitemIDfrompage="{!Link_Regulated_Articles__c.Line_Item__c}"
        showWizardLauncher="false" showapplicationPDF="true">
        <c:pageheader title="Link Regulated Article" icon="user" subtitle="{!Link_Regulated_Articles__c.Name}"
        />
        <apex:form styleClass="form-horizontal" html-novalidate="novalidate">
            <apex:pagemessages id="messagePanel" />


            <!--------------------------------------------------1st section--------->

            <c:panel icon="fire" type="success" title="Regulated Article Details"><br/>
                <apex:outputPanel id="showerror">
                    <apex:outputLabel styleClass="alert alert-info" value="Notice: If the Regulated Article {!sSrhArticle} of interest is not listed. Please contact APHIS at 301-851#### for guidance "
                        rendered="{!showError}"></apex:outputLabel>
                </apex:outputPanel>
                <c:carpolRow >
                    <c:carpolFormFields label="Category">
                        <apex:selectlist styleClass="form-control" value="{!sSelCat}" multiselect="false"
                            size="1">
                            <apex:actionSupport event="onchange" action="{!displayRegArticles}" ReRender="bodyContent,showerror"
                                immediate="false" status="status" />
                            <apex:selectOptions value="{!Category}" />
                        </apex:selectlist>


                    </c:carpolFormFields>
                    <c:carpolFormFields label="Line Item">
                        <apex:outputField styleClass="form-control" value="{!obj.Line_Item__c}" />
                    </c:carpolFormFields>
                </c:carpolRow>
                <c:carpolRow >
                    <c:carpolFormFields label="Search Regulated Articles">
                        <apex:inputText styleClass="form-control" value="{!sSrhArticle}" /> <br/>
                        <apex:commandButton style="float:left;" styleClass="customButton customButtonBlue"
                            value="Search" action="{!searchArticle}" ReRender="bodyContent,showerror"
                            status="status" />
                     </c:carpolFormFields>
                    <c:carpolFormFields label="Cultivar and/or breeding line and/or strain">
                        <apex:inputField styleClass="form-control" value="{!Link_Regulated_Articles__c.Cultivar_and_or_Breeding_Line__c}"
                        />
                    </c:carpolFormFields>
                </c:carpolRow>
                <c:carpolRow >
                    <c:carpolFormFields label="Regulated Articles Results">
                        <apex:actionStatus startText="applying value..." id="status" />
                        <apex:outputPanel id="bodyContent">
                            <apex:selectList styleClass="form-control" value="{!sSelArticle}" size="1" rendered="{!bShowArticle && !isradio }">
                                <apex:selectOptions value="{!Articles}" />
                            </apex:selectList>
                            <div class="radio-inline">
                                <apex:selectRadio value="{!sSelArticle}" layout="pageDirection" rendered="{!bShowArticle && isradio}">
                                    <apex:selectOptions value="{!Articles}" />
                                </apex:selectRadio>
                            </div>
                        </apex:outputPanel>
                    </c:carpolFormFields>
                 </c:carpolRow>
                 <c:carpolRow >
                    <c:carpolFormFields label="Regulated Article" requiredField="true">
                        <apex:inputField styleClass="checkbox" value="{!Link_Regulated_Articles__c.Regulated_Article_CBI__c }"
                        />
                        <apex:inputField styleClass="form-control disabled" value="{!Link_Regulated_Articles__c.Regulated_Article__r.name}"
                        />
                    </c:carpolFormFields>
                </c:carpolRow>
                
            </c:panel>
            <div class="buttonDiv">
                <apex:commandButton value="Save" action="{!SaveLAR}" styleClass="customButton customButtonGreen"
                    reRender="messagePanel" />
                <apex:commandButton value="Cancel" action="{!cancelLAR}" styleClass="customButton customButtonGreen"
                    immediate="true" />
            </div>
        </apex:form>
        <script>
            function goToDetailPage(recId) {
                if (typeof sforce != 'undefined' && typeof sforce.one !=
                    'undefined') {
                    sforce.one.navigateToSObject(recId);
                } else {
                    window.location.href = '/' + recId;
                }
                return false;
            }

        </script>

        <script>
            removeBtnClass();

        </script>
    </c:carpolAphisApplicantUI>

</apex:page>