<apex:page standardController="Location__c" docType="html-5.0" showHeader="true" sidebar="false" extensions="portal_location_detail" >
  <c:carpolAphisApplicantUI addHomeResources="false" 
    docTitle="Carpol Efile" 
    showCarpolSidebar="true"
    showWizardLauncher="false"
     lineitemIDfrompage="{!Location__c.Line_Item__c}"
     showapplicationPDF="true">

  <!-------------------------------------------HEADER------------------------------------------------>
<c:carpolbootstrapblock >
      <c:pageheader title="{!Location__c.Name}" icon="map-marker" subtitle="Location" />
</c:carpolbootstrapblock>
                           <!--------------------------------------------Chatter----------------------------------------------->

<c:carpolbootstrapblock >
        <chatter:feedWithFollowers entityId="{!Location__c.id}" /> 
 </c:carpolbootstrapblock>
 
 
 
           
          <apex:form styleClass="form-horizontal">
               <!-------------------------------------------------------------------------LocationDetails------------------------------------------------------------------->
               <c:panel icon="info-sign" title="Information" type="default" toggle="collapse" target="info" styleId="info" defaultOpen="true"> 
               
                 <!-----------------------------------------------------Column 1-------------------------------------->
               <c:carpolRow >
                   <c:carpolFormFields label="Record ID">
                       <apex:outputField value="{!Location__c.Record_Id__c}"/>
                   </c:carpolFormFields>
                    <c:carpolFormFields label="Status">                   
                       <apex:outputField value="{!Location__c.Status__c}"/> &nbsp;&nbsp;
                        <apex:outputField value="{!Location__c.Status_Graphical__c}"/>
                    </c:carpolFormFields>
               </c:carpolRow>
               <c:carpolRow >
                   <c:carpolFormFields label="Line Item">
                       <apex:outputField value="{!Location__c.Line_Item__c}"/>
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Record Type">
                       <apex:outputField value="{!Location__c.recordtypeid}"/>
                   </c:carpolFormFields>
                </c:carpolRow>
                <c:carpolRow >
                   <c:carpolFormFields label="Organization">
                       <apex:outputField value="{!Location__c.Organization__c}"/>
                   </c:carpolFormFields>                    

                </c:carpolRow>
             </c:panel>

     <c:panel icon="map-marker" rendered="{!RelLoc = 'Yes'}" type="success" title="Release Site Location" toggle="collapse" target="Release" styleId="Release" defaultOpen="true">
                 <c:carpolRow >
             <c:carpolFormFields label="Location Name">
                 <apex:outputField styleClass="form-control" value="{!Location__c.NAme}"/>
             </c:carpolFormFields>
             <c:carpolFormFields label=" Location/Site Unique Id">
                <apex:outputField styleClass="form-control"  value="{!Location__c.Location_Unique_Id__c}"/>
             </c:carpolFormFields>
        </c:carpolRow>
        <c:carpolRow >   
             <c:carpolFormFields label="Street Address 1">
                <apex:outputField styleClass="form-control" value="{!Location__c.Street_Add1__c}"/>
             </c:carpolFormFields>        
             <c:carpolFormFields label="Street Address 2">
                 <apex:outputField styleClass="form-control" value="{!Location__c.Street_Add2__c}"/>
             </c:carpolFormFields>

        </c:carpolRow>
        <c:carpolRow > 
             <c:carpolFormFields label="Street Address 3">
                 <apex:outputField styleClass="form-control" value="{!Location__c.Street_Add3__c}"/>
             </c:carpolFormFields>        
             <c:carpolFormFields label="Street Address 4">
                 <apex:outputField styleClass="form-control" value="{!Location__c.Street_Add4__c}"/>
             </c:carpolFormFields>

        </c:carpolRow>
        <c:carpolRow >
             <c:carpolFormFields label="City">
                 <apex:outputField styleClass="form-control" value="{!Location__c.City__c}"/>
             </c:carpolFormFields>            
        </c:carpolRow>
        <c:carpolRow >     
             <c:carpolFormFields label="Country">
                 <apex:outputField styleClass="form-control" value="{!Location__c.Country_Text__c}"/> 
                              </c:carpolFormFields>

            <!--<c:carpolFormFields label="Country CBI">
                  <apex:outputField styleClass="form-control" value="{!Location__c.Country_CBI__c}"/> 
             </c:carpolFormFields>-->
            <c:carpolFormFields label="State">
                 <apex:outputField styleClass="form-control" value="{!Location__c.State__c}"/> 
                                  <!--<apex:outputField styleClass="form-control" value="{!Location__c.State_CBI__c}"/> -->

            </c:carpolFormFields>             
        </c:carpolRow>
        <c:carpolRow >
            <c:carpolFormFields label="County">
                <apex:outputField styleClass="form-control" value="{!Location__c.County_Text__c }"/>
                                <!--<apex:outputField styleClass="form-control" value="{!Location__c.County_CBI__c }"/
                <apex:outputField styleClass="form-control" value="{!Location__c.County__c }"/>-->
            </c:carpolFormFields>
             <c:carpolFormFields label="Zip">
                 <apex:outputField styleClass="form-control" value="{!Location__c.Zip__c}"/>
             </c:carpolFormFields>            
        </c:carpolRow>
        <c:carpolRow >
            <c:carpolFormFields label="Location Description">
                <apex:outputField styleClass="form-control outputTextBox" value="{!Location__c.Description__c}"/>
            </c:carpolFormFields>
        </c:carpolRow>
                <apex:commandButton value="Edit" action="{!edit}" styleClass="customButton customButtonGreen"/> 
                <apex:commandButton value="Line Item details" action="{!ReturnToLineItem}" styleClass="customButton customButtonBlue"/>        
     </c:panel>
     <!-- End of Panel for Release sites record type first section -->
     
     <!-- Start of Panel for Origin record type first section -->
     
     <c:panel icon="map-marker" rendered="{!OrigLoc = 'Yes'}" type="success" title="Origin Location" toggle="collapse" target="origin" styleId="origin" defaultOpen="true">
       <c:carpolRow >
              <c:carpolFormFields label="Location Name">
                 <apex:outputField styleClass="form-control"  value="{!Location__c.NAme}"/>
             </c:carpolFormFields>

          </c:carpolRow>   
          <c:carpolRow >
             <c:carpolFormFields label="Street Address 1">
                 <apex:outputField styleClass="form-control" value="{!Location__c.Street_Add1__c}"/>
             </c:carpolFormFields>              
              <c:carpolFormFields label="Street Address 2"><apex:outputField styleClass="form-control" value="{!Location__c.Street_Add2__c}"/></c:carpolFormFields>
          </c:carpolRow>
            <c:carpolRow >
                <c:carpolFormFields label="Street Address 3"><apex:outputField styleClass="form-control" value="{!Location__c.Street_Add3__c}"/></c:carpolFormFields>
                <c:carpolFormFields label="Street Address 4"><apex:outputField styleClass="form-control" value="{!Location__c.Street_Add4__c}"/></c:carpolFormFields>
            </c:carpolRow>
            <c:carpolRow >
                <c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.City__c}"/></c:carpolFormFields>
            </c:carpolRow>
             <c:carpolRow >
                 <c:carpolFormFields label="Country"><apex:outputField styleClass="form-control" value="{!Location__c.Country_Text__c}"/> </c:carpolFormFields>
               <c:carpolFormFields label="State"><apex:outputField styleClass="form-control" value="{!Location__c.State__c}"/></c:carpolFormFields>
              </c:carpolRow>
             <c:carpolRow >
            <c:carpolFormFields label="County">
                <apex:outputField styleClass="form-control" value="{!Location__c.County_Text__c }"/>
                               <!-- <apex:outputField styleClass="form-control" value="{!Location__c.County_CBI__c }"/
                <apex:outputField styleClass="form-control" value="{!Location__c.County__c }"/>-->
            </c:carpolFormFields>
                <c:carpolFormFields label="Zip"><apex:outputField styleClass="form-control" value="{!Location__c.Zip__c}"/></c:carpolFormFields>
             </c:carpolRow>
             <c:carpolRow >
                 <c:carpolFormFields label="Location Description"><apex:outputField styleClass="form-control outputTextBox" value="{!Location__c.Description__c}"/></c:carpolFormFields>
             </c:carpolRow>
                <apex:commandButton value="Edit" action="{!edit}" styleClass="customButton customButtonGreen"/> 
                <apex:commandButton value="Line Item details" action="{!ReturnToLineItem}" styleClass="customButton customButtonBlue"/>             
     </c:panel>          
     <!-- End of Panel for Origin record type first section -->
               
     <!-- Start of Panel for Origin record type first section -->
     
     <c:panel icon="map-marker" rendered="{!DestLoc = 'Yes' || OrigDestLoc = 'Yes'}" type="success" title="{!recordTypename}" toggle="collapse" target="Destination" styleId="Destination" defaultOpen="true">
       <c:carpolRow >
              <c:carpolFormFields label="Location Name">
                 <apex:outputField styleClass="form-control"  value="{!Location__c.NAme}"/>
             </c:carpolFormFields>

          </c:carpolRow>   
          <c:carpolRow >
             <c:carpolFormFields label="Street Address 1">
                 <apex:outputField styleClass="form-control" value="{!Location__c.Street_Add1__c}"/>
             </c:carpolFormFields>              
              <c:carpolFormFields label="Street Address 2"><apex:outputField styleClass="form-control" value="{!Location__c.Street_Add2__c}"/></c:carpolFormFields>
          </c:carpolRow>
            <c:carpolRow >
                <c:carpolFormFields label="Street Address 3"><apex:outputField styleClass="form-control" value="{!Location__c.Street_Add3__c}"/></c:carpolFormFields>
                <c:carpolFormFields label="Street Address 4"><apex:outputField styleClass="form-control" value="{!Location__c.Street_Add4__c}"/></c:carpolFormFields>
            </c:carpolRow>
            <c:carpolRow >
                <c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.City__c}"/></c:carpolFormFields>
            </c:carpolRow>
             <c:carpolRow >
                 <c:carpolFormFields label="Country"><apex:outputField styleClass="form-control" value="{!Location__c.Country_Text__c}"/> </c:carpolFormFields>
                 <c:carpolFormFields label="State"><apex:outputField styleClass="form-control" value="{!Location__c.State__c}"/></c:carpolFormFields>
             </c:carpolRow>
             <c:carpolRow >
                 <c:carpolFormFields label="County"><apex:outputField styleClass="form-control" value="{!Location__c.County_Text__c }"/></c:carpolFormFields>
                <c:carpolFormFields label="Zip"><apex:outputField styleClass="form-control" value="{!Location__c.Zip__c}"/></c:carpolFormFields>
             </c:carpolRow>
             <c:carpolRow >
                 <c:carpolFormFields label="Location Description"><apex:outputField styleClass="form-control outputTextBox" value="{!Location__c.Description__c}"/></c:carpolFormFields>
             </c:carpolRow>
                <apex:commandButton value="Edit" action="{!edit}" styleClass="customButton customButtonGreen"/> 
                <apex:commandButton value="Line Item details" action="{!ReturnToLineItem}" styleClass="customButton customButtonBlue"/>             
     </c:panel>          
     <!-- End of Panel for Origin record type first section -->
               
       <c:panel icon="user" type="success" rendered="{!OrigDestLoc = 'Yes' || DestLoc = 'Yes' || OrigLoc = 'Yes'}" title="Primary Contact" toggle="collapse" target="PrimaryCon" styleId="PrimaryCon" defaultOpen="true">
         <c:carpolRow >
             <c:carpolFormFields label="First Name"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Name1__c }"/></c:carpolFormFields>
            <c:carpolFormFields label="Last Name"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_Contact_Last_Name__c }"/></c:carpolFormFields>
           <!--<c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L1__c}"/></c:carpolFormFields>-->
         </c:carpolRow>
         
         <c:carpolRow >
              <c:carpolFormFields label="Address"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Address1__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L1__c}"/></c:carpolFormFields>
               <!--<c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_City__c}"/></c:carpolFormFields>-->
         </c:carpolRow>
             
           <c:carpolRow >
               <c:carpolFormFields label="Country"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_Country_Text__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="State"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_State_Text__c}"/></c:carpolFormFields>

         </c:carpolRow>    
         
         <c:carpolRow >
                  <c:carpolFormFields label="County"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_County_Text__c}"/></c:carpolFormFields>
                  <c:carpolFormFields label="Zip"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Zip__c}"/></c:carpolFormFields>
             
         </c:carpolRow>  
         
           <c:carpolRow >
             <c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_City__c}"/></c:carpolFormFields>
                <c:carpolFormFields label="Fax"> <apex:outputField styleClass="form-control" value="{!Location__c.Fax__c}"/></c:carpolFormFields>
         </c:carpolRow>
           
           <c:carpolRow >
              <c:carpolFormFields label="Day Phone"><apex:outputField styleClass="form-control" value="{!Location__c.Day_Phone__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="Alternate Phone"><apex:outputField styleClass="form-control" value="{!Location__c.Alternate_phone_number__c}"/></c:carpolFormFields>
         </c:carpolRow>  
           
           <c:carpolRow >
               <c:carpolFormFields label="Email"><apex:outputField styleClass="form-control" value="{!Location__c.Email_1__c}"/></c:carpolFormFields>
                <c:carpolFormFields label="Alternate Email"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_Alternate_Email__c}"/></c:carpolFormFields>
               <!--<c:carpolFormFields label="Fax"> <apex:outputField styleClass="form-control" value="{!Location__c.Fax__c}"/></c:carpolFormFields>-->
           </c:carpolRow>
       </c:panel>

       <c:panel icon="user" type="success" rendered="{!OrigDestLoc = 'Yes' || DestLoc = 'Yes' || OrigLoc = 'Yes'}"  title="Secondary Contact" toggle="collapse" target="SecondaryCon" styleId="SecondaryCon" defaultOpen="true">
       <c:carpolRow >   
           <c:carpolFormFields label="First Name"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Name2__c}"/></c:carpolFormFields>
           <c:carpolFormFields label="Last Name"> <apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_Last_Name__c}"/></c:carpolFormFields>
           <!--<c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L2__c}"/></c:carpolFormFields>-->
        </c:carpolRow>
        <c:carpolRow > 
           <c:carpolFormFields label="Address"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Address2__c}"/></c:carpolFormFields>
           <c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L2__c}"/></c:carpolFormFields>
           <!--<c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_City__c}"/></c:carpolFormFields>-->
       </c:carpolRow>    
           <c:carpolRow >
                <c:carpolFormFields label="Country"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Country_Text__c}"/></c:carpolFormFields><!--value="{!Location__c.Secondary_Country_Text__c}"-->
                <c:carpolFormFields label="State"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_State__c}"/></c:carpolFormFields>
           </c:carpolRow>
           <c:carpolRow >
                <c:carpolFormFields label="County"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_County__c}"/></c:carpolFormFields>
                <c:carpolFormFields label="Zip"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Zip__c}"/></c:carpolFormFields>
           </c:carpolRow>
         <c:carpolRow >
             <c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_City__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="Day Phone"> <apex:outputField styleClass="form-control" value="{!Location__c.Day_Phone_2__c}"/></c:carpolFormFields>
               <!--<c:carpolFormFields label="Fax"><apex:outputField styleClass="form-control" value="{!Location__c.Fax_2__c}"/></c:carpolFormFields>-->
         </c:carpolRow>  
        <c:carpolRow >  
               <c:carpolFormFields label="Email"><apex:outputField styleClass="form-control" value="{!Location__c.Email_2__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="Fax"><apex:outputField styleClass="form-control" value="{!Location__c.Fax_2__c}"/></c:carpolFormFields>
         </c:carpolRow>         
       </c:panel>

       <c:panel icon="user" type="success" rendered="{!RelLoc = 'Yes'}" title="Primary Contact" toggle="collapse" target="PrimaryRelCon" styleId="PrimaryRelCon" defaultOpen="true">
         <c:carpolRow >
             <!--<c:carpolFormFields label="Name"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Name1__c }"/></c:carpolFormFields>-->
             <c:carpolFormFields label="First Name"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Name1__c }"/></c:carpolFormFields>
             <c:carpolFormFields label="Last Name"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_Contact_Last_Name__c }"/></c:carpolFormFields>
           <!--<c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L1__c}"/></c:carpolFormFields>-->
         </c:carpolRow>
         
         <c:carpolRow >
              <c:carpolFormFields label="Address"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Address1__c}"/></c:carpolFormFields>
              <c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L1__c}"/></c:carpolFormFields>
               <!--<c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_City__c}"/></c:carpolFormFields>-->
         </c:carpolRow>
             
           <c:carpolRow >
               <c:carpolFormFields label="Country"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_Country_Text__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="State"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_State_Text__c}"/></c:carpolFormFields>

         </c:carpolRow>    
         
         <c:carpolRow >
                  <c:carpolFormFields label="County"><apex:outputField styleClass="form-control" value="{!Location__c.Primary_County_Text__c}"/></c:carpolFormFields>
                  <c:carpolFormFields label="Zip"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Zip__c}"/></c:carpolFormFields>
         </c:carpolRow> 
         
         <c:carpolRow >
              <c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_City__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="Fax"> <apex:outputField styleClass="form-control" value="{!Location__c.Fax__c}"/></c:carpolFormFields>
         </c:carpolRow> 
         
           <c:carpolRow >
              <c:carpolFormFields label="Day Phone"><apex:outputField styleClass="form-control" value="{!Location__c.Day_Phone__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="Alternate Phone"><apex:outputField styleClass="form-control" value="{!Location__c.Alternate_phone_number__c}"/></c:carpolFormFields>
         </c:carpolRow>  
           
           <c:carpolRow >
               <c:carpolFormFields label="Email"><apex:outputField styleClass="form-control" value="{!Location__c.Email_1__c}"/></c:carpolFormFields>
               <!--<c:carpolFormFields label="Fax"> <apex:outputField styleClass="form-control" value="{!Location__c.Fax__c}"/></c:carpolFormFields>-->
           </c:carpolRow>
       </c:panel>

       <c:panel icon="user" type="success" rendered="{!RelLoc = 'Yes'}"  title="Secondary Contact" toggle="collapse" target="SecondaryRelCon" styleId="SecondaryRelCon" defaultOpen="true">
       <c:carpolRow >   
           <c:carpolFormFields label="First Name"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Name2__c}"/></c:carpolFormFields>
           <c:carpolFormFields label="Last Name"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_Last_Name__c}"/></c:carpolFormFields>
           <!--<c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L2__c}"/></c:carpolFormFields>-->
        </c:carpolRow>
        <c:carpolRow > 
           <c:carpolFormFields label="Address"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Address2__c}"/></c:carpolFormFields>
           <c:carpolFormFields label="Organization"><apex:outputField styleClass="form-control" value="{!Location__c.Org_L2__c}"/></c:carpolFormFields>
           <!--<c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_City__c}"/></c:carpolFormFields>-->
       </c:carpolRow>    
           <c:carpolRow >
                <c:carpolFormFields label="Country"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Country_Text__c }"/></c:carpolFormFields>
                <c:carpolFormFields label="State"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_State__c}"/></c:carpolFormFields>
           </c:carpolRow>
           <c:carpolRow >
                <c:carpolFormFields label="County"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_County__c}"/></c:carpolFormFields>
                <c:carpolFormFields label="Zip"><apex:outputField styleClass="form-control" value="{!Location__c.Contact_Zip__c}"/></c:carpolFormFields>
           </c:carpolRow>
            <c:carpolRow >
               <c:carpolFormFields label="City"><apex:outputField styleClass="form-control" value="{!Location__c.Secondary_Contact_City__c}"/></c:carpolFormFields>
              <c:carpolFormFields label="Day Phone"> <apex:outputField styleClass="form-control" value="{!Location__c.Day_Phone_2__c}"/></c:carpolFormFields>
           </c:carpolRow> 
        <c:carpolRow >  
               <c:carpolFormFields label="Email"><apex:outputField styleClass="form-control" value="{!Location__c.Email_2__c}"/></c:carpolFormFields>
               <c:carpolFormFields label="Fax"><apex:outputField styleClass="form-control" value="{!Location__c.Fax_2__c}"/></c:carpolFormFields>
         </c:carpolRow> 
       </c:panel>

       <c:panel icon="tree-conifer" type="success" rendered="{!RelLoc == 'Yes'}" title="Release Details" toggle="collapse" target="ReleaseDet" styleId="ReleaseDet" defaultOpen="true">
          <c:carpolRow >
                      <!--  <c:carpolFormFields label=" Quantity"><apex:outputField styleClass="form-control" value="{!Location__c.Quantity__c}"/></c:carpolFormFields>-->
                        <c:carpolFormFields label=" Number of Proposed Releases"><apex:outputField styleClass="form-control" value="{!Location__c.Proposed_Planting__c}"/><!--Nupur changed the Label name--></c:carpolFormFields><!--Nupur changed the Label name-->
                        <c:carpolFormFields label="Number of Acres"><apex:outputField styleClass="form-control" value="{!Location__c.Number_of_Acres_Text__c}"/><!--Sheela added--></c:carpolFormFields><!--Sheela added-->
                    </c:carpolRow>
                    <c:carpolRow >                        
                        <c:carpolFormFields label=" Critical Habitat Involved?"><apex:outputField styleClass="form-control"  value="{!Location__c.Critical_habitat_Text__c}"/></c:carpolFormFields>
                    </c:carpolRow>
                    <c:carpolRow >
                        <c:carpolFormFields label="If Yes, Please Explain"><apex:inputField styleClass="form-control input-disabled" value="{!Location__c.If_Yes_Please_Explain__c}"/></c:carpolFormFields>
                    </c:carpolRow>
       </c:panel>
       
        <c:panel icon="scale" type="success" rendered="{!DestLoc == 'Yes'}" title="Quantity" toggle="collapse" target="Quantity" styleId="Quantity" defaultOpen="true">
               <c:carpolRow > 
                    <c:carpolFormFields label="Quantity"><apex:outputField styleClass="form-control" value="{!Location__c.Quantity_Text__c}"/></c:carpolFormFields>
                    <c:carpolFormFields label="Unit of Measure"><apex:outputField styleClass="form-control" value="{!Location__c.Unit_of_Measure_Text__c}"/></c:carpolFormFields>
                </c:carpolRow>
                <c:carpolRow >
                    <c:carpolFormFields label="Material Type"><apex:outputField styleClass="form-control" value="{!Location__c.Material_Type_Text__c}" /></c:carpolFormFields>
                    <c:carpolFormFields label="Other Material Types"><apex:outputField styleClass="form-control" value="{!Location__c.Other_Material_Types__c }"/></c:carpolFormFields>
                </c:carpolRow>
       </c:panel>

       <c:panel icon="map-marker" type="success" rendered="{!RelLoc == 'Yes'}" title="Site Specific Information" toggle="collapse" target="Site" styleId="Site" defaultOpen="true">
              <c:carpolRow >
                              <c:carpolFormFields label=" Release Site History"><apex:inputField styleClass="form-control input-disabled"  value="{!Location__c.Release_History__c}"/></c:carpolFormFields>
                    </c:carpolRow>
       </c:panel>
       
       <c:panel icon="screenshot" type="success" rendered="{!RelLoc == 'Yes'}" title="GPS Coordinates" toggle="collapse" target="GPS" styleId="GPS" defaultOpen="true">
                   <c:carpolRow >
                             <!-- <c:carpolFormFields label="Lattitude 1"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_1__Latitude__s}"/></c:carpolFormFields>
                              <c:carpolFormFields label="Longitude 1"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_1__Longitude__s}"/></c:carpolFormFields>                              
                              <c:carpolFormFields label="Lattitude 2" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_2__Latitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_2__Latitude__s}"/></c:carpolFormFields>
                              <c:carpolFormFields label="Longitude 2" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_2__Longitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_2__Longitude__s}"/></c:carpolFormFields> 
                              <c:carpolFormFields label="Lattitude 3" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_3__Latitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_3__Latitude__s}"/></c:carpolFormFields>
                              <c:carpolFormFields label="Longitude 3" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_3__Longitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_3__Longitude__s}"/></c:carpolFormFields>                              
                              <c:carpolFormFields label="Lattitude 4" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_4__Latitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_4__Latitude__s}"/></c:carpolFormFields>
                              <c:carpolFormFields label="Longitude 4" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_4__Longitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_4__Longitude__s}"/></c:carpolFormFields>
                              <c:carpolFormFields label="Lattitude 5" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_5__Latitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_5__Latitude__s}"/></c:carpolFormFields>
                              <c:carpolFormFields label="Longitude 5" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_5__Longitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_5__Longitude__s}"/></c:carpolFormFields>                              
                              <c:carpolFormFields label="Lattitude 6" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_6__Latitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_6__Latitude__s}" /></c:carpolFormFields>
                              <c:carpolFormFields label="Longitude 6" rendered="{!IF(ISBLANK(Location__c.GPS_Coordinates_6__Longitude__s), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_6__Longitude__s}"/></c:carpolFormFields>  -->
                              <c:carpolFormFields label="Coordinates 1"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_1_Text__c}"/></c:carpolFormFields>
                    </c:carpolRow>
                     <c:carpolRow >
                              <c:carpolFormFields label="Coordinates 2" rendered="{!IF(AND(ISBLANK(Location__c.GPS_Coordinates_2__Latitude__s),ISBLANK(Location__c.GPS_Coordinates_2__Longitude__s)), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_2_Text__c}"/></c:carpolFormFields> 
                    </c:carpolRow>
                     <c:carpolRow >
                              <c:carpolFormFields label="Coordinates 3" rendered="{!IF(AND(ISBLANK(Location__c.GPS_Coordinates_3__Latitude__s),ISBLANK(Location__c.GPS_Coordinates_3__Longitude__s)), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_3_Text__c}"/></c:carpolFormFields>
                    </c:carpolRow>
                     <c:carpolRow >
                              <c:carpolFormFields label="Coordinates 4" rendered="{!IF(AND(ISBLANK(Location__c.GPS_Coordinates_4__Latitude__s),ISBLANK(Location__c.GPS_Coordinates_4__Longitude__s)), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_4_Text__c}"/></c:carpolFormFields>
                    </c:carpolRow>
                     <c:carpolRow >
                              <c:carpolFormFields label="Coordinates 5" rendered="{!IF(AND(ISBLANK(Location__c.GPS_Coordinates_5__Latitude__s),ISBLANK(Location__c.GPS_Coordinates_5__Longitude__s)), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_5_Text__c}"/></c:carpolFormFields>
                    </c:carpolRow>
                     <c:carpolRow >
                              <c:carpolFormFields label="Coordinates 6" rendered="{!IF(AND(ISBLANK(Location__c.GPS_Coordinates_6__Latitude__s),ISBLANK(Location__c.GPS_Coordinates_6__Longitude__s)), false , true)}"><apex:outputField styleClass="form-control" value="{!Location__c.GPS_Coordinates_6_Text__c}"/></c:carpolFormFields>                                                                                         

                    </c:carpolRow>
        </c:panel>       
             <div class="btnDiv">

             </div>                
        <c:panel icon="info-sign" title="System Information" type="default" styleClass="sysInfoPanel" toggle="collapse" target="sysinfo" styleId="sysinfo" defaultOpen="true">
            <c:carpolRow >   
                 <c:carpolFormFields label="Created By">
                     <apex:outputfield value="{!Location__c.CreatedByID}" styleClass="form-control" html-placeholder="Share with"></apex:outputfield>
                 </c:carpolFormFields>
                 <c:carpolFormFields label="Created Date">
                  <apex:outputField styleClass="form-control" value="{!Location__c.CreatedDate}"/>
                 </c:carpolFormFields>
             </c:carpolRow>
             <c:carpolRow >     
                    <c:carpolFormFields label="Modified By">
                        <apex:outputfield value="{!Location__c.LastModifiedByID}" styleClass="form-control" html-placeholder="Share with"></apex:outputfield>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Modified Date">
                        <apex:outputField styleClass="form-control" value="{!Location__c.LastModifiedDate}"/>
                    </c:carpolFormFields>
             </c:carpolRow>
     </c:panel>
     
            
</apex:form>
<script>
    removeBtnClass();
</script>
                    
</c:carpolAphisApplicantUI>
</apex:page>