<apex:page standardController="Authorizations__c" docType="" extensions="Portal_Authorization_Detail2_controller" sidebar="false">
<c:carpolAphisApplicantUI addHomeResources="false" 
    docTitle="Carpol Efile" 
    includeCustomResources="true" 
    styleSheetName="{!URLFOR($Resource.carpolBootstrap,'carpolBootstrap/carpol/styles/carpolPrimaryApplicationScreenStyleV6.css')}"
    jsFileName="{!URLFOR($Resource.carpolBootstrap,'carpolBootstrap/carpol/javascript/primaryAppScreen.js')}"
    showCarpolSidebar="true"
    showWizardLauncher="false">  
   <script>
      function goToDetailPage(recId){
          if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
              sforce.one.navigateToSObject(recId);
          }
          else{
              window.location.href = '/'+recId;
          }
          return false;
      }
   </script>
  
        
                                <!-------------------------------------------------------------------Chatter-------------------------------------------------->
<c:column type="col-md-12" style="margin-bottom:20px;" >
<chatter:feedWithFollowers entityId="{!Authorizations__c.id}" />
</c:column>
<c:carpolbootstrapblock >
       <!-----------------------------------------------------Auth Line items-------------------------------------->
                                           
       <apex:form >                                    
       <c:column type="col-md-6">  
         <c:panel icon="list-alt" title="Line Items" type="success"> 
                       <apex:dataTable value="{!List}" var="line" styleClass="table table-condensed table-hover table-bordered" rows="3">  
                             <apex:column headerValue="Name">  
                                <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                             </apex:column>
                             <apex:column value="{!line.Scientific_Name__r.Name}" headerValue="Regulated Article"/>  
                             <apex:column value="{!line.Status__c}" headerValue="Status"/>  
                       </apex:dataTable>  
           <!--------------------------------------------------------------------View all button--------------------------------------------------------->
        <apex:commandButton rendered="{!if(List.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#myModal" styleClass="customButton customButtonGreen"/>               
                    <c:modal styleclass="modal-lg" title="Line Items" id="myModal">
                        <apex:dataTable value="{!List}" var="line" styleClass="table table-responsive table-hover" rows="{!List.size}">  
                            <apex:column headerValue="Name">  
                                <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                            </apex:column>
                            <apex:column value="{!line.Regulated_Article__r.Name}" headerValue="Regulated Article" />  
                            <apex:column value="{!line.Color__c}" headerValue="Color"/>
                            <apex:column value="{!line.Sex__c}" headerValue="Sex"/>  
                        </apex:dataTable>     
                    </c:modal>
        </c:panel>
        <!--------------------------------------------------------Notes and Attachments------------------------------------------------------------------------>

        <c:panel icon="paperclip" rendered="{!IF(Authorizations__c.Status__c =='Issued' ,true,false)}" title="Notes and Attachments" type="success">  <!--Modified By tharun 09/14/16 -->
                 <apex:dataTable value="{!attach}" var="att" styleClass="table table-condensed table-hover table-bordered" rows="3"> 
                    <apex:column headerValue="Action">  
                        <apex:outputLink value="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank"> View </apex:outputLink>
                    </apex:column> 
                    <apex:column headerValue="Name">
                         <apex:outputLink value="/{!att.Id}">{!att.Name}  </apex:outputLink>
                     </apex:column>             
                     <apex:column value="{!att.CreatedById}" headerValue="Created By"/> 
                </apex:datatable>  
                <!------------------------------------View all button---------------------------------->  
                <apex:commandButton rendered="{!if(attach.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#AttachModal" styleClass="customButton customButtonGreen"/>    
           
                <c:modal styleclass="width: 700px; " title="Attachments" id="AttachModal">
                   <apex:dataTable value="{!attach}" var="line" styleClass="table table-responsive table-hover " rows="{!attach.size}">  
                         <apex:column headerValue="Action">  
                            <apex:outputLink value="/servlet/servlet.FileDownload?file={!line.Id}" target="_blank"> View </apex:outputLink>
                         </apex:column>
                         <apex:column headerValue="Name">
                             <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                         </apex:column>              
                         <apex:column value="{!line.CreatedById}" headerValue="Created By"/> 
                  </apex:datatable>
                </c:modal>
          </c:panel>
          
        <!--------------------------------------------------------Applicant Attachment Notes and Attachments------------------------------------------------------------------------>

        <c:panel icon="paperclip" title="Permit Pacakage" type="success" rendered="{!IF(Authorizations__c.Share_Permit_Package_with_Applicant__c =='Yes' ,true,false)}"> 
                 <apex:dataTable value="{!appattach}" var="att" styleClass="table table-condensed table-hover table-bordered" rows="3"> 
                    <apex:column headerValue="Action">  
                        <apex:outputLink value="/servlet/servlet.FileDownload?file={!att.Attachments[0].id}" target="_blank"> View </apex:outputLink>
                    </apex:column> 
                     <apex:column value="{!att.File_Name__c}" headerValue="File Name"/> 
                      <apex:column value="{!att.Document_Types__c}" headerValue="Document Types"/> 
                </apex:datatable>  
                <!------------------------------------View all button---------------------------------->  
                <apex:commandButton rendered="{!if(appattach.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#AttachModal1" styleClass="customButton customButtonGreen"/>    
           
                <c:modal styleclass="width: 700px; " title="Permit Pacakage" id="AttachModal1">
                   <apex:dataTable value="{!appattach}" var="line" styleClass="table table-responsive table-hover " rows="{!appattach.size}">  
                         <apex:column headerValue="Action">  
                            <apex:outputLink value="/servlet/servlet.FileDownload?file={!line.Attachments[0].id}" target="_blank"> View </apex:outputLink>
                         </apex:column>
                         <apex:column value="{!line.File_Name__c}" headerValue="File Name"/> 
                         <apex:column value="{!line.Document_Types__c}" headerValue="Document Types"/> 
                  </apex:datatable>
                </c:modal>
          </c:panel>          
          <!------------------------------------Link Regulations----------------------------------------------------------------------->
         <c:panel icon="list" title="Regulations" type="success" rendered="{!BRSlinkregulations}"> 
                 <apex:dataTable value="{!linkRegulations}" var="Reg" styleClass="table table-condensed table-hover table-bordered" rows="3"> 
                    <apex:column headerValue="Record ID">  
                        <apex:outputLink value="/{!Reg.Id}">{!Reg.Name} </apex:outputLink>
                    </apex:column> 
                    <apex:column value="{!Reg.Name}" headerValue="Name"/>  
                    <apex:column value="{!Reg.Regulation_Title__c}" headerValue="Regulation"/>  
                    <apex:column value="{!Reg.Introduction_Type__c}" headerValue="Purpose of Importation"/>  
                 </apex:datatable>  
               
         </c:panel>
               

   <!--------------------------------------------------------Regulations------------------------------------------------------------------------>
         <c:panel icon="list" title="Regulations" type="success" rendered="{!IF(Authorizations__c.Share_Regulations_with_Applicant__c =='Yes' ,true,false)}"> 
             <apex:dataTable value="{!Authorizations__c}" var="att" styleClass="table table-condensed table-hover table-bordered" rows="3"> 
                   <apex:column headerValue="Total Regulations" value="{!Authorizations__c.Total_Regulations__c}"/>  
                   <apex:column headerValue="Total agreed" value="{!Authorizations__c.Total_Applicant_Agreed__c}" />
                    <apex:column value="{!Authorizations__c.Remaining_Applicant_Agreement_Needed__c}" headerValue="Yet to be agreed"/> 
                    <apex:column value="{!Authorizations__c.Status_Graphic__c}" headerValue="Status"/>
             </apex:datatable> 
            <apex:outputLink value="{!URLFOR($Action.Authorizations__c.Show_Regulations, Id)}" styleClass="customButton customButtonGreen">Show Regulations</apex:outputLink>

          </c:panel>
         

          
    <!--------------------------------------------------------Self Reporting------------------------------------------------------------------------>
    
            
        <c:panel icon="exclamation-sign"  toggle="collapse" target="SRP" styleid="SRP" title="Self Reporting" type="Success" defaultOpen="true">
           <apex:dataTable value="{!SelfReporting}" var="Selfrep" styleClass="table table-condensed table-hover table-bordered" id="Constab">  
                <apex:column headerValue="Action">
                   <apex:outputLink rendered="{!Selfrep.Attachments.size>0}" value="{!URLFOR($Action.Attachment.Download, Selfrep.Attachments[0].Id)}" target="_blank">View</apex:outputLink>
                   <apex:outputText rendered="{!Selfrep.Attachments.size=0}">View</apex:outputText>
                   &nbsp;
                   <apex:outputLink onclick="if (!confirmDeleteAttachment()) return false;" value="{!URLFOR($Action.Applicant_Attachments__c.Delete, Selfrep.Id,[retURL=returnURL])}">Delete</apex:outputLink>   
                 </apex:column>                
                 <apex:column value="{!Selfrep.File_Name__c}" headerValue="File Name"/> 
                 <apex:column headerValue="System Information" value="{!Selfrep.File_Description__c}"/>                 
            </apex:dataTable>
                <apex:commandButton styleClass="customButton customButtonGreen" value="Add Documents" action="{!AddingSRP}" /> 
                
          </c:panel>
           </c:column>
     </apex:form>
      <!--------------------------------------------------------Application Details------------------------------------------------------------------------>
        <c:column type="col-md-6">
          <apex:form >
               <c:panel icon="ok" title="Authorization Detail" type="success">
                <div class="noDisc"> 
                    <c:listgroupitem ><apex:outputLabel >Decision Type:</apex:outputLabel><apex:outputField value="{!Authorizations__c.Authorization_Type__c}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Decision Status: </apex:outputLabel><apex:outputField value="{!Authorizations__c.Status__c}"/></c:listgroupitem>       
                    <c:listgroupitem ><apex:outputLabel >Permit Number:</apex:outputLabel><apex:outputField value="{!Authorizations__c.Permit_Number__c}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Application Number:</apex:outputLabel><apex:outputField value="{!Authorizations__c.Application__c}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Authorization Number:</apex:outputLabel><apex:outputField value="{!Authorizations__c.Name}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Authorization Type: </apex:outputLabel><apex:outputField value="{!Authorizations__c.Recordtypeid}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Created By</apex:outputLabel><apex:outputfield value="{!Authorizations__c.CreatedByID}"></apex:outputfield></c:listgroupitem> 
                    <c:listgroupitem ><apex:outputLabel >Created Date</apex:outputLabel><apex:outputField value="{!Authorizations__c.CreatedDate}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Last Modified By</apex:outputLabel><apex:outputfield value="{!Authorizations__c.LastModifiedByID}"></apex:outputfield></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Last Modified Date</apex:outputLabel><apex:outputField value="{!Authorizations__c.LastModifiedDate}"/></c:listgroupitem>
                </div>
                <div class="btnDiv">
                    <p>
                       <!-- apex:commandButton rendered="{!IF(Authorizations__c.Status__c ='Issued' ,true,false)}" action="{!URLFOR($Action.Authorizations__c.Print_Authorization, Id)}" value="Print Authorization" styleClass="customButton customButtonGreen"/ -->
                       <apex:commandButton rendered="{!displayCompAgreementButton}" action="{!agreeCompliance}" styleClass="customButton customButtonGreen" value="Agree To Compliance Agreement"/> 
                       <apex:commandButton rendered="{!displayCompAgreementButton}" action="{!rejectCompliance}" styleClass="customButton customButtonGreen" value="Reject The Compliance Agreement"/>
                       <apex:commandButton action="{!Renew}" value="Renew Application With Changes" styleClass="customButton customButtonBlue"/><br/> <!--rendered="{!renewButton}"-->
                       <apex:commandButton action="{!Renew}" value="Renew Application" styleClass="customButton customButtonBlue"/><br/>
                       <apex:commandButton action="{!Renew}" value="Amendment Application" styleClass="customButton customButtonBlue"/>
                    </p>
                </div>
              </c:panel>
              <c:panel icon="folder-open" title="Applicant Information" type="success">
                <div class="noDisc"> 
                    <c:listgroupitem ><apex:outputLabel >Applicant Name:</apex:outputLabel><apex:outputfield value="{!Authorizations__c.AC_Applicant_Name__c}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Organization:</apex:outputLabel><apex:outputField value="{!Authorizations__c.AC_Organization__c}"/></c:listgroupitem>            
                    <c:listgroupitem ><apex:outputLabel >Applicant Fax:</apex:outputLabel><apex:outputField value="{!Authorizations__c.AC_Applicant_Fax__c}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Applicant Email:</apex:outputLabel>&nbsp;<apex:outputField value="{!Authorizations__c.AC_Applicant_Email__c}"/></c:listgroupitem>
                    <c:listgroupitem ><apex:outputLabel >Applicant Phone:</apex:outputLabel>&nbsp;<apex:outputField value="{!Authorizations__c.AC_Applicant_Phone__c}"/></c:listgroupitem>
                </div>
              </c:panel>
          </apex:form>
         </c:column>
</c:carpolbootstrapblock>
</c:carpolAphisApplicantUI>
</apex:page>