<apex:page sidebar="false" showHeader="false"
           standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false"
           docType="html-5.0" standardController="Application__c"  extensions="csstest_control" >
    <c:carpolAphisApplicantUI addHomeResources="false"
                              showCarpolSidebar="false"
                              showLineItemSidebar="false"
                              showSidebar="false" showHeaderSearchForm="false" externalHeader="false" showBreadCrumbs="false"
    >
        <!--<c:skeleton showSidebar="false" showHeaderSearchForm="false" externalHeader="false" showBreadCrumbs="false">-->


        <!--Vijay added next two lines -->
        <script type="text/javascript">
            var __sfdcSessionId = '{!GETSESSIONID()}';
        </script>
        <!--Vijay added next 3 lines -->
        <script src="/soap/ajax/28.0/connection.js" type="text/javascript"></script>
        <script src="/soap/ajax/28.0/apex.js" type="text/javascript"></script>
        <script>
            //   removeBtnClass();
            function goToDetailPage(recId){
                if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
                    sforce.one.navigateToSObject(recId);
                }
                else{
                    window.location.href = '/'+recId;
//<!-- Vijay added lines till }false -->
                }
                return false;
            }
            function withDrawApp(){
                if("{!Application__c.Application_Status__c}" == "Approved" || "{!Application__c.Application_Status__c}" == "Disapproved")
                {
                    alert('Approved/Disapproved Application cannot be Withdrawn.');
                }
                else
                {
                    if("{!Application__c.Application_Status__c}" != "Withdrawn")
                    {
                        if("{!Application__c.Application_Status__c}" != "Cancelled" &&
                                "{!Application__c.Application_Status__c}" != "Rejected")
                        {
                            var App = new sforce.SObject("Application__c");
                            App.Id = '{!Application__c.Id}';
                            App.Application_Status__c = "Withdrawn";
                            //alert(App.Application_Status__c);
                            var result = sforce.connection.update([App]);
                            //alert(result);
                            if (result[0].success == 'false') {
                                alert(result[0].errors.message);
                            }
                            else{
                                alert('Application is now withdrawn.');
                                window.location.href=window.location.href;
                                //window.location.reload();
                            }
                        }
                        else{
                            alert('This Application cannot be Withdrawn.');
                        }
                    }
                    else{
                        alert('This Application has already Withdrawn.');
                    }
                }
                return false;
            }

            function deleteLineItem(lineItemName, lineItemId){
                var str = 'Are you sure you want to delete line item '+lineItemName+' (Y/N)?';
                if(confirm(str) == true){
                    readCell(lineItemId);
                }
            }
        </script>
        <!-------------------------------------------------------------------Chatter-------------------------------------------------->

        <!--chatter coming soon-->
        <!-------------------------------------------------------------Information--------------------------------------------->

        <c:carpolbootstrapblock >
            <c:column type="col-md-12" style="margin-top:20px;">
                <!--<c:panel icon="info-sign" rendered="{!IF(Application__c.Application_Status__c !='Submitted' ,true,false)}"  title="Information" type="default" styleClass="informationDiv">-->

                <c:panel icon="info-sign"  title="Information" type="default" styleClass="informationDiv">
                    <p style="font-style: italic;">Please go to the Line Items section below and select "New Line Item" to add information about each regulated article you wish to import. Once you've finished entering the required information for all the Line Items you wish to import, select the "Submit for Approval" button to submit your application for processing.</p>
                </c:panel>
            </c:column>
        </c:carpolbootstrapblock>

        <!-------------------------------------------------------------------form Start-------------------------------------------------->



        <c:carpolbootstrapblock >
            <c:column type="col-md-6">
                <apex:form id="form">
                    <c:panel icon="list-alt" title="Application Line Items" type="success">
                        <apex:dataTable value="{!AC}" var="line" styleClass="table table-condensed table-hover table-bordered" rows="3">

                            <apex:column headerValue="Name">
                                <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                            </apex:column>
                            <apex:column value="{!line.Scientific_name__r.name}" headerValue="Regulated Article"/>
                            <apex:column value="{!line.Status__c}" headerValue="Status"/>
                            <apex:column headerValue="Action" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}">
                                <apex:commandLink value="Delete" action="{!deleteLineItem}" immediate="true" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}" onclick="deleteLineItem('{!line.Name}','{!line.Id}'); return false;">
                                    <apex:param name="lineItemId" value="{!line.Id}" assignTo="{!lineItemIdToBeDeleted}"/>
                                </apex:commandLink>
                            </apex:column>
                        </apex:dataTable>
                        <apex:actionFunction name="readCell" action="{!deleteLineItem}" reRender="form">
                            <apex:param name="lineItemId" value="" assignTo="{!lineItemIdToBeDeleted}"/>
                        </apex:actionFunction>

                        <!--------------------------------------------------------------------View all button--------------------------------------------------------->
                        <apex:outputLink styleClass="customButton customButtonGreen" style="text-decoration:none;" value="{!URLFOR($Action.AC__c.New_Line_Item_Using_Lizzard, Id)}" rendered="{!IF((Application__c.Application_Status__c !='Submitted' && Application__c.Application_Status__c !='Auto Submitted') ,true,false)}" id="Submit_for_Approval">New Line Item</apex:outputLink>
                        <!--apex:outputLink styleClass="customButton customButtonGreen" style="text-decoration:none;" value="{!URLFOR($Action.AC__c.New_Line_Item_Using_UI, Id)}" id="Submit_for_Approval">New Line Item</apex:outputLink>
                        <apex:outputLink styleClass="customButton customButtonGreen"  style="text-decoration:none;" value="{!URLFOR($Action.AC__c.New_Line_Item_Using_Lizzard, Id)}">New Line Item</apex:outputLink -->
                        <apex:commandButton rendered="{!if(AC.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#myModal" styleClass="customButton customButtonGreen"/>
                        <c:modal styleclass="width: 700px; overflow-y: auto; " title="Line Items" id="myModal">
                            <apex:dataTable value="{!AC}" var="line" styleClass="table table-responsive" rows="{!AC.size}">
                                <apex:column headerValue="Name">
                                    <apex:outputLink value="/{!line.Id}">{!line.Name}  </apex:outputLink>
                                </apex:column>
                                <apex:column value="{!line.Scientific_name__r.name}" headerValue="Regulated Article"/>
                                <apex:column value="{!line.Authorization__c}" headerValue="Authorization"/>
                                <apex:column value="{!line.Status__c}" headerValue="Status"/>
                                <apex:column headerValue="Action" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}">
                                    <apex:commandLink value="Delete" action="{!deleteLineItem}" immediate="true" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}" onclick="deleteLineItem('{!line.Name}','{!line.Id}'); return false;">
                                        <apex:param name="lineItemId" value="{!line.Id}" assignTo="{!lineItemIdToBeDeleted}"/>
                                    </apex:commandLink>
                                </apex:column>
                            </apex:dataTable>
                        </c:modal>
                    </c:panel>
                </apex:form>


                <!-------------------------------------------------------------------Product Ingredient Line Items-------------------------------------------------->

                <apex:form id="Productform" rendered="{!if(ProductIngredients.size > 0  ,true,false)}">
                    <c:panel icon="shopping-cart" title="Product Ingredient Line Items" type="success">
                        <apex:dataTable value="{!ProductIngredients}" var="line" styleClass="table table-condensed table-hover table-bordered" rows="3">
                            <apex:column value="{!line.Regulated_Article_PackageId__r.Product_Name__c}" headerValue="Product"/>
                            <apex:column headerValue="Ingredients">
                                <!--in the outputLink below the title attribute must not be altered as it is being used as a jquery selector to select the regulated article package id from the styleClass attribute.-->

                                <apex:outputLink value="/{!line.Id}" styleClass="{!line.Regulated_Article_PackageId__c}" title="regulated article package id">{!line.Scientific_name__r.name}  </apex:outputLink>
                            </apex:column>
                            <!--apex:column value="{!line.Scientific_name__c}" headerValue="Ingredients"/ -->
                            <apex:column value="{!line.Status__c}" headerValue="Status"/>
                            <apex:column headerValue="Action" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}">
                                <apex:commandLink value="Delete" action="{!deleteLineItem}" immediate="true" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}" onclick="deleteLineItem('{!line.Name}','{!line.Id}'); return false;">
                                    <apex:param name="lineItemId" value="{!line.Id}" assignTo="{!lineItemIdToBeDeleted}"/>
                                </apex:commandLink>
                            </apex:column>
                        </apex:dataTable>
                        <apex:actionFunction name="readCell" action="{!deleteLineItem}" reRender="form">
                            <apex:param name="lineItemId" value="" assignTo="{!lineItemIdToBeDeleted}"/>
                        </apex:actionFunction>

                        <!--------------------------------------------------------------------Product Ingredient View all button--------------------------------------------------------->
                        <apex:commandButton rendered="{!if(ProductIngredients.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#myproductModal" styleClass="customButton customButtonGreen"/>
                        <script type="text/javascript">
                            removeBtnClass();
                        </script>
                        <c:modal styleclass="width: 700px; overflow-y: auto; " title="Product Ingredient Line Items" id="myproductModal">
                            <apex:dataTable value="{!ProductIngredients}" var="line" styleClass="table table-responsive" rows="{!ProductIngredients.size}">
                                <apex:column value="{!line.Regulated_Article_PackageId__r.Product_Name__c}" headerValue="Product"/>
                                <apex:column headerValue="Ingredients">
                                    <apex:outputLink value="/{!line.Id}">
                                            {!line.Scientific_name__r.name}  </apex:outputLink>
                                </apex:column>
                                <apex:column value="{!line.Status__c}" headerValue="Status"/>
                                <apex:column headerValue="Action" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}">
                                    <apex:commandLink value="Delete" action="{!deleteLineItem}" immediate="true" rendered="{!IF(Application__c.Application_Status__c != 'Submitted', TRUE, FALSE)}" onclick="deleteLineItem('{!line.Name}','{!line.Id}'); return false;">
                                        <apex:param name="lineItemId" value="{!line.Id}" assignTo="{!lineItemIdToBeDeleted}"/>
                                    </apex:commandLink>
                                </apex:column>
                            </apex:dataTable>
                        </c:modal>
                        <apex:outputLink value="carpol_uni_lineitem" styleClass="customButton customButtonGreen btnLink">
                            Add Ingredient/Item
                            <apex:param name="appID" value="{!applicationID}"/>
                            <!--in the param below the value is blank for a reason we are using a js function to pass the id to the url request param-->
                            <apex:param name="regArticlePackageId" value="" />
                        </apex:outputLink>
                    </c:panel>
                </apex:form>

                <!-----------------------------------------------------Authorizations-------------------------------------->

                <apex:form >
                    <script type="text/javascript">
                        removeBtnClass();
                    </script>
                    <c:panel icon="ok" title="Authorizations" type="success">
                        <apex:dataTable value="{!Auth}" var="a" styleClass="table table-condensed table-hover table-bordered" rows="3">
                            <apex:column headerValue="Name">
                                <apex:outputLink onclick="window.location='/apex/Portal_Authorization_Detail2?id={!a.Id}'; return false;" >{!a.Name}</apex:outputLink>
                            </apex:column>
                            <apex:column value="{!a.Authorization_Type__c}" headerValue="Auth Type"/>
                            <apex:column value="{!a.Status__c}" headerValue="Status"/>
                        </apex:dataTable>
                        <apex:commandButton rendered="{!if(Auth.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#myAuthModal" styleClass="customButton customButtonGreen"/>
                        <c:modal styleclass="width: 700px; " title="Authorizations" id="myAuthModal">
                            <apex:dataTable value="{!Auth}" var="a" styleClass="table table-hover " rows="{!Auth.size}">
                                <apex:column headerValue="Name">
                                    <apex:outputLink onclick="window.location='/apex/Portal_Authorization_Detail2?id={!a.Id}'; return false;" >{!a.Name}</apex:outputLink>
                                </apex:column>
                                <apex:column value="{!a.Authorization_Type__c}" headerValue="Auth Type"/>
                                <apex:column value="{!a.Status__c}" headerValue="Status"/>
                            </apex:dataTable>
                        </c:modal>
                    </c:panel>
                </apex:form>
                <!--<apex:outputLabel >{!trx}</apex:outputLabel>-->
                <!-----------------------------------------------------Transaction/Receipt---------------------------------------------------->

                <c:panel icon="credit-card" title="Transaction History" type="success">
                    <apex:dataTable value="{!trx}" var="t" styleClass="table table-condensed table-hover table-bordered" rows="3">
                        <apex:column value="{!t.Name}" headerValue="Name"/>
                        <apex:column value="{!t.Payment_Type__c}" headerValue="Payment Type"/>
                        <apex:column value="{!t.Transaction_Amount__c}" headerValue="Amount"/>
                        <apex:column value="{!t.Transaction_Date_Time__c}" headerValue="Date"/>
                    </apex:dataTable>

                </c:panel>

                <!-------------------------------------------------Notes and attachments-------------------------------------->
                <c:panel icon="paperclip" title="Notes and Attachments" type="success">
                    <apex:dataTable value="{!attach}" var="att" styleClass="table table-condensed table-hover table-bordered" rows="3">
                        <apex:column headerValue="Action">
                            <apex:outputLink value="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank"> View </apex:outputLink>
                        </apex:column>
                        <apex:column headerValue="Name">
                            <apex:outputLink value="/{!att.Id}">{!att.Name}  </apex:outputLink>
                        </apex:column>
                        <apex:column value="{!att.LastModifiedByID}" headerValue="Last Modified By"/>
                    </apex:datatable>
                    <apex:form >
                        <!-----------------------------------view all attachments---->
                        <apex:commandButton rendered="{!if(attach.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#myattachModal" styleClass="customButton customButtonGreen"/>
                        <c:modal styleclass="width: 700px; " title="History" id="myattachModal">
                            <apex:dataTable value="{!attach}" var="att" styleClass="table table-condensed table-hover table-bordered" rows="{!attach.size}">
                                <apex:column headerValue="Action">
                                    <apex:outputLink value="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank"> View </apex:outputLink>
                                </apex:column>
                                <apex:column headerValue="Name">
                                    <apex:outputLink value="/{!att.Id}">{!att.Name}  </apex:outputLink>
                                </apex:column>
                                <apex:column value="{!att.LastModifiedByID}" headerValue="Last Modified By"/>
                            </apex:datatable>
                        </c:modal>
                    </apex:form>
                </c:panel>
            </c:column>
            <apex:form >
                <c:column type="col-md-6">
                    <c:panel icon="folder-open" title="Application Details" type="success">
                        <div class="noDisc">
                            <c:listgroupitem ><apex:outputLabel >Application Number:</apex:outputLabel> <apex:outputField value="{!Application__c.Name}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Applicant Name:</apex:outputLabel><apex:outputField value="{!Application__c.Applicant_Name__c}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Applicant Email:</apex:outputLabel><apex:outputField value="{!Application__c.Applicant_Email__c}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Applicant Phone:</apex:outputLabel><apex:outputField value="{!Application__c.Applicant_Phone__c}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Applicant Fax:</apex:outputLabel><apex:outputField value="{!Application__c.Applicant_Fax__c}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Organization:</apex:outputLabel><apex:outputField value="{!Application__c.Organization__c}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Status:</apex:outputLabel><apex:outputField value="{!Application__c.Application_Status__c}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Applicant Address:</apex:outputLabel><apex:outputField value="{!Application__c.Applicant_Address__c}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >U.S. Address:</apex:outputLabel><apex:outputField value="{!Application__c.US_Address__c}"/></c:listgroupitem>
                            <apex:outputPanel id="renewal" rendered="{!Renewal = 'Renewal'}">
                                <c:listgroupitem ><apex:outputLabel >Renewal Proposed Start Date:</apex:outputLabel><apex:inputField value="{!Application__c.Renewal_Proposed_Start_Date__c}"/></c:listgroupitem>
                                <c:listgroupitem ><apex:outputLabel >Renewal Proposed End Date:</apex:outputLabel><apex:inputField value="{!Application__c.Renewal_Proposed_End_Date__c}"/></c:listgroupitem>
                            </apex:outputPanel>
                            <c:listgroupitem ><apex:outputLabel >Created By:</apex:outputLabel><apex:outputfield value="{!Application__c.CreatedByID}" styleClass="form-control" html-placeholder="Share with"></apex:outputfield></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Created Date:</apex:outputLabel><apex:outputField value="{!Application__c.CreatedDate}"/></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Last Modified By:</apex:outputLabel><apex:outputfield value="{!Application__c.LastModifiedByID}" styleClass="form-control" html-placeholder="Share with"></apex:outputfield></c:listgroupitem>
                            <c:listgroupitem ><apex:outputLabel >Last Modified Date:</apex:outputLabel><apex:outputField value="{!Application__c.LastModifiedDate}"/></c:listgroupitem>
                            <div class="buttonDiv">
                                <p>
                                    <apex:outputLink style="text-decoration:none;" rendered="{!IF(Application__c.Application_Status__c !='Submitted' ,true,false)}"  styleClass="customButton customButtonGreen" onclick="window.location='/apex/Portal_Application_Edit?id={!applicationID}'; return false;">Edit</apex:outputLink>
                                    <!--apex:outputLink value="{!URLFOR($Action.Application__c.Print_Application_AC, Id)}" style="text-decoration:none;" styleClass="customButton customButtonGreen">Print Application</apex:outputLink -->
                                </p>
                                <p>
                                    <apex:outputLink style="text-decoration:none;" styleClass="customButton customButtonBlue" rendered="{!IF((Application__c.Application_Status__c !='Submitted' && Application__c.Application_Status__c !='Auto Submitted')  ,true,false)}"  value="{!URLFOR($Action.Application__c.Submit_For_Approval, Id)}" id="Submit_for_Approval">Submit for Approval</apex:outputLink>
                                    <apex:commandButton action="{!redirectPage}" onclick="return withDrawApp();" value="Withdraw Application" styleClass="customButton customButtonBlue"/>

                                </p>
                            </div>
                        </div>
                    </c:panel>
                    <!---------------------------------------------------------------History------------------------------>
                    <c:panel icon="time" title="History" type="success">
                        <apex:dataTable value="{!history}" var="h" styleClass="table table-condensed table-hover table-bordered" rows="3">
                            <apex:column headerValue="Name" value="{!h.Name}" />
                            <apex:column value="{!h.Old_Value__c}" headerValue="Old Value"/>
                            <apex:column value="{!h.New_Value__c}" headerValue="New Value"/>
                            <apex:column value="{!h.CreatedByID}" headerValue="Created By"/>
                        </apex:datatable>
                        <!------------------View all--------------------->
                        <apex:commandButton rendered="{!if(history.size > 3  ,true,false)}"   value="View All" onclick="return false;" html-data-toggle="modal" html-data-target="#myhistoryModal" styleClass="customButton customButtonGreen"/>
                        <script type="text/javascript">
                            removeBtnClass();
                        </script>
                        <c:modal styleclass="width: 700px; ativa-scroll " title="History" id="myhistoryModal">
                            <apex:dataTable value="{!history}" var="h" styleClass="table  table-hover " rows="{!history.size}">
                                <apex:column headerValue="Name" value="{!h.Name}" />
                                <apex:column value="{!h.Old_Value__c}" headerValue="Old Value"/>
                                <apex:column value="{!h.New_Value__c}" headerValue="New Value"/>
                                <apex:column value="{!h.CreatedByID}" headerValue="Created By"/>
                            </apex:datatable>
                        </c:modal>
                    </c:panel>
                </c:column>
            </apex:form>
        </c:carpolbootstrapblock>
    </c:carpolAphisApplicantUI>
</apex:page>